<div ng-controller="TooltipCtrl" ng-init="initial()">

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                카드사용 및 할부 설정
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-wrap">
                                <table class="table-type-1">
                                    <thead>
                                    <tr>
                                        <th>카드사</th>
                                        <th>결제가능여부 <span class="pointer" type="button" bs-tooltip data-placement="tooltip-top" data-trigger="hover" data-html="true" data-container="body" data-title="<div class='text-sm l-h p-a-sm text-left ls-xs'>OFF할 경우 결제창에서 해당 카드사 선택옵션이 비활성화됩니다. 카드사 심사가 완료되지 않은 경우 등에 사용할 수 있습니다.</div>"><i class="icon icon-round-help"></i></span>
                                        </th>
                                        <th>무이자 할부개월수 <span class="pointer" type="button" bs-tooltip data-placement="tooltip-top" data-trigger="hover" data-html="true" data-container="body" data-title="<div class='text-sm l-h p-a-sm text-left ls-xs'>2개월 이상 설정하셔야 할부가 가능합니다. 1개월로 설정하면 무이자할부를 제공하지 않습니다. 할부수수료는 상점(가맹점) 부담입니다.</div>"><i class="icon icon-round-help"></i></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="b-b-light">
                                        <td>일괄적용</td>
                                        <td>
                                            <label class="ui-switch ui-switch-md {{app.setting.theme.primary}} m-t-xs">
                                              <input type="checkbox" ng-click="toggle_all()" ng-checked="toggle">
                                              <i></i>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="inline m-r-xs">
                                                <div class="btn-group">
                                                    <button class="btn btn-updown" ng-click="number_down_all()"><i class="icon icon-minus"></i></button>
                                                    <div class="form-control btn input-month no-bounce no-pointer" ng-bind="number_all"></div>
                                                    <button class="btn btn-updown" ng-click="number_up_all()"><i class="icon icon-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="inline">개월</div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="card in cardValue">
                                        <td>
                                            <div class="inline hidden-md-down">
                                                <img class="w70 m-r-sm hidden-dk" src="../assets/images/card/lt/{{cardList[$index].image}}.png" alt="">
                                                <img class="w70 m-r-sm hidden-lt" src="../assets/images/card/dk/{{cardList[$index].image}}.png" alt="">
                                            </div>
                                            <span ng-bind="cardList[$index].name"></span>카드
                                        </td>
                                        <td>
                                            <label class="ui-switch ui-switch-md {{app.setting.theme.primary}} m-t-xs">
                                              <input type="checkbox" ng-checked="card.active" ng-model="card.active">
                                              <i></i>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="inline m-r-xs">
                                                <div class="btn-group">
                                                    <button class="btn btn-updown" ng-click="number_down($index)"><i class="icon icon-minus"></i></button>
                                                    <div class="form-control btn input-month no-bounce no-pointer" ng-bind="cardValue[$index].month"></div>
                                                    <button class="btn btn-updown" ng-click="number_up($index)"><i class="icon icon-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="inline">개월</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row-col p-t-sm">
                        <div class="col-sm-12 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





