<div>
    
    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                이용내역 조회
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">

                    <div class="row">
                        <div class="col-xs-12 m-b">
                            <label for="storename" class="form-label m-b">월별 이용내역</label>
                            <div class="box">
                                <div class="box-body p-a-0">
                                    <table class="table-type-4">
                                        <thead>
                                            <tr>
                                                <th class="w10"></th>
                                                <th>#</th>
                                                <th>연열</th>
                                                <th>서비스 이용현황</th>
                                                <th>결제건수</th>
                                                <th>결제금액</th>
                                                <th>API Call</th>
                                                <th>과금현황</th>
                                                <th>비고</th>
                                                <th class="w10"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8]">
                                                <td class="w10"></td>
                                                <td><span ng-bind="$index+1"></span></td>
                                                <td>2016년 6월</td>
                                                <td>일반결제 / 복수PG</td>  
                                                <td>{{2345562|number:0}}</td>  
                                                <td>{{892345200|number:0}}</td>  
                                                <td>{{6342345|number:0}}</td>  
                                                <td>0</td>
                                                <td></td>
                                                <td class="w10"></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label for="storename" class="form-label m-b">결제내역</label>
                            <div class="box">
                                <div class="box-body p-a-0">
                                    <table class="table-type-4">
                                        <thead>
                                            <tr>
                                                <th class="w10"></th>
                                                <th>#</th>
                                                <th>결제일시</th>
                                                <th>결제내용</th>
                                                <th>결제금액</th>
                                                <th>유효기간</th>
                                                <th>비고</th>
                                                <th class="w10"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                                <td class="w10"></td>
                                                <td><span ng-bind="$index+1"></span></td>
                                                <td>2016-06-01 12:34:56</td>
                                                <td>아임포트 정기결제 연동</td>  
                                                <td>9,900</td>  
                                                <td>2016-06-01 - 2016-06-31</td>
                                                <td></td>
                                                <td class="w10"></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>