<div id="storeinfo" ng-controller="ImgCropCtrl" ng-init="initial()">

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                가맹점 프로필
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">
                    <div class="row">
                        <!-- <div class="col-sm-12">  
                            <div class="form-radio-1" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                                <ul class="row no-gutter b-b m-b-lg">
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check">
                                            <input type="radio" class="inline" name="isadmin" ng-model="is_admin" ng-value="1" ng-click="click_admin()"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-shop"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">가맹점 관리자</div>
                                                <div class="text-muted text-xs ls-xs">가맹점 정보를 직접 설정합니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check">
                                            <input type="radio" class="inline" name="isadmin" ng-model="is_admin" ng-value="2" ng-click="click_member()"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-padlock"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">가맹점 구성원</div>
                                                <div class="text-muted text-xs ls-xs">가맹점 정보를 변경할 권한이 없습니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storename" class="form-label">가맹점 이름<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storename" placeholder="가맹점 이름" ng-model="app.store.name">
                                </div>
                            </div>
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storeurl" class="form-label">서비스 URL<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storeurl" placeholder="서비스 URL" ng-model="app.store.url">
                                </div>
                            </div>
                            <div class="row no-gutter m-b-lg p-b-lg b-b">
                                <div class="col-sm-12">
                                    <label for="storeemail" class="form-label">관리자 이메일<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storeemail" placeholder="관리자 이메일" ng-model="app.store.admin">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storememo" class="form-label">서비스 소개</label>
                                    <textarea class="form-control form-value h100" id="storememo" placeholder="서비스 소개" ng-model="app.store.about"></textarea>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-sm-12">
                                    <label for="storeurl" class="form-label">프로필 이미지</label>
                                    <div class="m-b">
                                        <input type="file" id="fileInput" class="form-control form-value" />
                                    </div>
                                    <div class="row no-gutter imgCropbox">
                                        <div class="col-sm-8">
                                            <div class="box" style="height:256px">
                                                <img-crop 
                                                image="myImage" 
                                                result-image="myCroppedImage"
                                                result-image-size="128"
                                                area-type="circle"
                                                ></img-crop>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="hidden-xs-down inline w15"></div>
                                            <div class="hidden-md-up h10"></div>
                                            <div class="inline">
                                                <div class="box img-circle">
                                                    <img ng-src="{{myCroppedImage}}" class="img-{{cropType}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="save" class="row-col p-t-lg">
                        <div class="col-sm-12 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>