   
    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                아임포트 설치정보
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storeid" class="form-label">가맹점 식별코드</label>
                                    <input type="text" class="form-control form-value" id="storeid" placeholder="가맹점 식별코드" ng-model="app.store.impuid" disabled="disabled">
                                </div>
                            </div>
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="restapikey" class="form-label">REST API 키</label>
                                    <input type="text" class="form-control form-value" id="restapikey" placeholder="REST API 키" ng-model="app.store.restapikey" disabled="disabled">
                                </div>
                            </div>
                            <div class="row no-gutter m-b-lg p-b-lg b-b">
                                <div class="col-sm-12">
                                    <label for="restapisecret" class="form-label">REST API secret</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-value" id="restapisecret" placeholder="REST API secret" ng-model="app.store.restapisecret" disabled="disabled">
                                        <span class="input-group-btn">
                                            <button class="btn btn-addon bg-sm no-bounce text-sm" type="button" data-toggle="modal" data-target="#reassignpassword">
                                                <span class="w30 text-center"><i class="icon icon-key"></i></span>
                                                재발급
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="notificationurl" class="form-label">결제 직후 <span class="ls-xs">Notification URL</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-value" id="notificationurl" placeholder="Notification URL">
                                        <span class="input-group-btn">
                                            <button class="btn btn-addon bg-sm no-bounce text-sm" type="button" ng-click="ShowTestResult = true">
                                                <span class="w30 text-center"><i class="icon icon-antenna"></i></span>
                                                테스트
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-info dk m-b-0 ls-sm _500 p-y-sm text-sm m-t-sm" ng-show="ShowTestResult">
                                        <i class="icon icon-cancel-2 pull-right pointer m-l-sm" ng-click="ShowTestResult = false"></i>
                                        <ul>
                                            <li>요청 HTTP BODY : imp_uid=imp_1234567890&merchant_uid=merchant_1234567890&amount=1004</li>
                                            <li>응답 HTTP STATUS : 0</li>
                                            <li>응답 HTTP BODY : false</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-sm-12">
                                    <label for="contenttype" class="form-label ls-xs">Content-Type</label>
                                    <div class="row" ondragstart="return false" onselectstart="return false">
                                        <div class="col-md-6 m-b-sm">
                                            <div class="pg-option ls-xs border-{{app.setting.theme.primary}}" ng-class="{active : ctype == 1}" ng-click="ctype = 1">
                                                application/json
                                            </div>
                                        </div>
                                        <div class="col-md-6 m-b-sm">
                                            <div class="pg-option ls-xs border-{{app.setting.theme.primary}}" ng-class="{active : ctype == 2}" ng-click="ctype = 2">
                                                application/x-www-form-urlencoded
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-sm-12">
                                    <div class="form-answer">
                                        Notification URL은 결제여부/상세 정보를 가맹점 서버에서 별도로 기록하고자 할 때 설정합니다. <span class="hidden-md-down"><br></span>
                                        결제가 완료된 직후 아임포트 서버가 가맹점 서비스 URL로 호출(POST)합니다. <span class="hidden-md-down"><br></span>
                                        결제 완료된 금액이 결제 요청한 금액과 일치하지 않으면 사용자에 의해 가격변조가 일어난 것으로 판단하며, <span class="hidden-md-down"><br></span>
                                        "API를 통해 결제취소", "정보업데이트 하지 않음" 등의 추가 조치를 하시길 권장합니다. <span class="hidden-md-down"><br></span>
                                        서버에서 받기를 원하시는 Content-Type을 설정하신 후 저장해주세요. <span class="hidden-md-down"><br></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="save" class="row-col">
                        <div class="col-sm-12 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>



            </div>
            </div>
        </div>
    </div>

</div>

<!-- PG삭제 확인 모달 -->
<div id="reassignpassword" class="modal fade" data-backdrop="true">
    <div class="row-col h-v">
        <div class="row-cell v-m">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header dk p-a-sm">
                        <div class="ls-xs _400 text-sm l-h">API secret 재발급
                            <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                        </div>
                    </div>
                    <div class="modal-body white text-left p-lg dialog">
                        <div class="dialog-icon">
                            <i class="icon icon-warning"></i>
                        </div>
                        <div class="dialog-text">
                            API secret을 재발급하시겠습니까?
                        </div>
                        <div class="dialog-memo">
                            새로운 API secret을 재발급받은 뒤에는 기존에 발급받은 secret의 사용이 불가능해집니다.
                        </div>
                    </div>
                    <div class="modal-footer white text-right">
                        <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal" ng-click="deleteslot()">확인</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>