<div>
    <div class="box-body text-center p-t-md">
        <img src="../assets/images/logo-sellit-2.png" alt="" class="w-96 circle m-b">
        <div class="text-md p-b-xs">{{app.store.name}}</div>
        <div class="text-xs text-muted">{{app.store.url}}</div>
    </div>
</div>
<div>
    <div class="box-body">
        <ul class="p-t-lg">
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/install" ui-sref="app.store.install" ng-click="SyntaxHighlighter.all();">
                    <i class="icon icon-browser-26 m-r-sm text-md"></i>
                     아임포트 설치
                 </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/result" ui-sref="app.store.result">
                    <i class="icon icon-antenna m-r-sm text-md"></i>
                     결제결과 확인
                 </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/pgsetting" ui-sref="app.store.pgsetting">
                    <i class="icon icon-payment-method m-r-sm text-md"></i>
                     PG연동 설정
                 </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/creditcard" ui-sref="app.store.creditcard">
                    <i class="icon icon-credit-card m-r-sm text-md"></i>
                     카드사용 및 할부 설정
                 </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/info" ui-sref="app.store.info">
                    <i class="icon icon-shop m-r-sm text-md"></i>
                    가맹점 프로필
                </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/plan" ui-sref="app.store.plan">
                    <i class="icon icon-star-1 m-r-sm text-md"></i>
                    서비스 이용현황
                </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/wallet" ui-sref="app.store.wallet">
                    <i class="icon icon-wallet-2 m-r-sm text-md"></i>
                    지불정보 설정
                </a>
            </li>
            <li ui-sref-active="active" class="p-y-xs text-sm ls-xs">
                <a href="#/app/store/history" ui-sref="app.store.history">
                    <i class="icon icon-list m-r-sm text-md"></i>
                    이용내역 조회
                </a>
            </li>
<!--             <li ui-sref-active="active" class="p-t-xs text-sm ls-xs">
                <a href="#/app/store/service" ui-sref="app.store.service">
                    <i class="icon icon-users m-r-sm text-md"></i>
                    가맹점 구성원 보기
                </a>
            </li> -->
        </ul>
    </div>
</div>