<div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                서비스 신청/변경
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">

                    <div class="row text-center ls-xs">
                        <div class="col-md-6">
                            <div class="box p-a m-b-responsible">
                                <span class="text-muted">사용중인 요금제</span>
                                <div class="text-lg p-t-sm ls-sm">시리즈A</div>
                            </div>
                            <div class="box p-a m-b-responsible">
                                <span class="text-muted">이달의 청구요금</span>
                                <div class="text-lg p-t-sm ls-sm">0원</div>
                            </div>
                            <div class="box p-a m-b-responsible">
                                <span class="text-muted">이달의 청구요금</span>
                                <div class="text-lg p-t-sm ls-sm">0원</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box p-a text-left text-nm l-h-2x">
                                <ul>
                                    <li class="m-b-sm p-b-sm" style="border-bottom:1px dashed rgba(120,130,140,0.4)">
                                        <div>
                                            통계분석
                                            <div class="pull-right text-muted text-xs">사용중</div>
                                        </div>
                                        <div class="bg-sm" style="border-radius:3px; height:6px;">
                                            <div class="inner {{app.setting.theme.primary}}" style="width:{{21/31*100}}%; border-radius:3px; height:6px;"></div>
                                        </div>
                                        <div>
                                            <div class="text-{{app.setting.theme.primary}} text-xs _600 inline">21일 남음</div>
                                            <div class="pull-right text-muted text-xs">사용중</div>
                                        </div>
                                    </li>
                                    <li class="m-b-sm p-b-sm" style="border-bottom:1px dashed rgba(120,130,140,0.4)">
                                        <div class="">정기결제 연동</div>
                                        <div class="bg-sm" style="border-radius:3px; height:6px;">
                                            <div class="inner {{app.setting.theme.primary}}" style="width:{{21/31*100}}%; border-radius:3px; height:6px;"></div>
                                        </div>
                                        <div>
                                            <div class="text-{{app.setting.theme.primary}} text-xs _600 inline">21일 남음</div>
                                            <div class="pull-right text-muted text-xs">사용중</div>
                                        </div>
                                    </li>
                                    <li class="m-b-sm p-b-sm" style="border-bottom:1px dashed rgba(120,130,140,0.4)">
                                        <div class="">복수PG 사용</div>
                                        <div class="bg-sm" style="border-radius:3px; height:6px;">
                                            <div class="inner {{app.setting.theme.primary}}" style="width:100%; border-radius:3px; height:6px;"></div>
                                        </div>
                                        <div>
                                            <div class="text-{{app.setting.theme.primary}} text-xs _600 inline">무제한</div>
                                            <div class="pull-right text-muted text-xs">사용중</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">API Call Limit 해제</div>
                                        <div class="bg-sm" style="border-radius:3px; height:6px;">
                                            <div class="inner" style="width:0%; border-radius:3px; height:6px;"></div>
                                        </div>
                                        <div>
                                            <div class="text-muted text-xs inline">미과금대상</div>
                                            <div class="pull-right text-muted text-xs">미사용</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>