<div ng-init="initial()">
    
    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                PG연동 설정
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>

        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">

                    <!-- 사용중인 PG -->
                    <div class="row" id="pg_using" ng-init="pgtype=2">
                        <div class="col-sm-12">  
                            <div class="form-radio-1" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                                <ul class="row no-gutter b-b m-b-lg">
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check" onclick="location.href='#/app/store/pgsetting'">
                                            <input type="radio" class="inline" name="pgtype" ng-model="pgtype" ng-value="1"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-add"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">일반결제 (인증결제)</div>
                                                <div class="text-muted text-xs ls-xs">원하시는 PG사를 쉽고 편리하게 연동하세요.</div>
                                            </div>
                                        </label>
                                    </li>
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check" onclick="location.href='#/app/store/pgsetting2'">
                                            <input type="radio" class="inline" name="pgtype" ng-model="pgtype" ng-value="2"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-padlock"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">정기결제 (비인증결제)</div>
                                                <div class="text-muted text-xs ls-xs">아임포트 정기결제 서비스 가입이 필요합니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">사용중인 PG</div>
                            <div class="row p-t">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="pg-option m-b ellipsis border-{{app.setting.theme.primary}}" ng-repeat="savedPG in savedPGList" ng-click="$parent.pg_focus = $index;" ng-class="{active : $parent.pg_focus == $index}" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400" ng-show="$index==0">기본 PG</h6>
                                                    <h6 class="p-x-md _400" ng-show="$index>0">추가 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div style="position:relative;">
                                                        <div style="position:absolute; top:-10px; right:5px;" ng-bind="SavedTestmodeIcon(savedPGList[pg_focus].testmode,savedPGList[pg_focus].since)"></div>
                                                            <div ng-hide="savedPG.pgno==null">
                                                                <img src="../assets/images/pg/lt/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-lt">
                                                                <img src="../assets/images/pg/dk/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-dk">
                                                                <span ng-bind="$parent.pgList[savedPG.pgno].name"></span>
                                                            </div>
                                                            <div ng-show="savedPG.pgno==null">
                                                                <div class="logosign">
                                                                    <i class="icon icon-warning"></i>
                                                                </div>
                                                                미설정
                                                            </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="add_pg_button" class="pg-option b-dashed m-b ellipsis" ng-click="addslot()" ondragstart="return false" onselectstart="return false">
                                        <div class="text-center text-sm text-muted _400 m-b-xs">
                                            <i class="icon icon-round-add-button"></i>
                                            PG 추가하기
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="box">
                                        <div class="p-a b-b">
                                            <ul class="ls-xs">
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">
                                                        <span ng-show="pg_focus==0">기본</span>
                                                        <span ng-show="pg_focus>0">추가</span> PG
                                                    </div>
                                                    <span class="_500">
                                                        <span ng-show="pgList[savedPGList[pg_focus].pgno].name==null">미설정</span>
                                                        <span ng-show="pgList[savedPGList[pg_focus].pgno].name" ng-bind="pgList[savedPGList[pg_focus].pgno].name"></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">최초설정</div>
                                                    <span class="ls-0 _500" ng-bind="SavedStartDate(savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">사용기간</div>
                                                    <span class="_500" ng-bind="SavedUsingDate(savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">테스트모드</div>
                                                    <span class="ls-0 _500" ng-bind="SavedTestmode(savedPGList[pg_focus].testmode,savedPGList[pg_focus].since)"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-a b-b">
                                            <ul class="ls-xs">
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">누적거래금액</div>
                                                    <span class="ls-0 _500" ng-bind="SavedRevenue(savedPGList[pg_focus].revenue,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">누적거래건수</div>
                                                    <span class="ls-0 _500" ng-bind="SavedRequest(savedPGList[pg_focus].request,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">일평균거래금액</div>
                                                    <span class="ls-0 _500" ng-bind="SavedAVGRevenue(savedPGList[pg_focus].revenue,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">일평균거래건수</div>
                                                    <span class="ls-0 _500" ng-bind="SavedAVGRequest(savedPGList[pg_focus].request,savedPGList[pg_focus].since)"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-a p-y-sm bg-xs">
                                            <button class="btn btn-sm text-sm white w60 m-r-xs" ng-click="edit_slot(savedPGList[pg_focus].pgno,savedPGList[pg_focus])">변경</button>
                                            <button class="btn btn-sm text-sm white w60" data-toggle="modal" data-target="#remove-pg-modal">삭제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PG 편집모드 -->
                    <div id="pg_modify" class="dp-none row m-b">
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">PG 변경</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 p-b-sm m-b-sm">
                                    <div class="pg-option ellipsis no-pointer bg-sm b-dashed" ng-repeat="savedPG in savedPGList" ng-show="$index==$parent.pg_focus" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400">기존 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div ng-hide="savedPG.pgno==null">
                                                        <img src="../assets/images/pg/lt/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-lt">
                                                        <img src="../assets/images/pg/dk/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-dk">
                                                        <span ng-bind="$parent.pgList[savedPG.pgno].name"></span>
                                                    </div>
                                                    <div ng-show="savedPG.pgno==null">
                                                        <div class="logosign">
                                                            <i class="icon icon-warning"></i>
                                                        </div>
                                                        미설정
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 p-b-sm m-b-sm">
                                    <div class="pg-option ellipsis active border-{{app.setting.theme.primary}}" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400">변경될 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div ng-hide="replacePGList.pgno==null">
                                                        <img src="../assets/images/pg/lt/{{pgList[replacePGList.pgno].image}}.png" alt="" class="pglogo-lt">
                                                        <img src="../assets/images/pg/dk/{{pgList[replacePGList.pgno].image}}.png" alt="" class="pglogo-dk">
                                                        <span ng-bind="pgList[replacePGList.pgno].name"></span>
                                                    </div>
                                                    <div ng-show="replacePGList.pgno==null">
                                                        <div class="logosign">
                                                            <i class="icon icon-warning"></i>
                                                        </div>
                                                        미설정
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PG사 선택 -->
                    <div id="pg_select" class="row m-b dp-none">
                        <div class="col-xs-12">
                            <div class="row-col m-y-md p-t-md b-t"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">PG 선택</div>
                        </div>
                        <div class="col-xs-12" id="pg-select">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 m-b" ng-repeat="pg in pgList" ng-model="pgname">
                                    <div class="pg-option border-{{app.setting.theme.primary}}" ng-class="{active : $parent.replacePGList.pgno == $index}" ng-click="pgclick($index,$parent.pg_focus,$parent.savedPGList[$parent.pg_focus],$parent.replacePGList);" ondragstart="return false" onselectstart="return false">
                                        <img src="../assets/images/pg/lt/{{pg.image}}.png" alt="" class="pglogo-lt">
                                        <img src="../assets/images/pg/dk/{{pg.image}}.png" alt="" class="pglogo-dk">
                                        <span class="ellipsis" ng-bind="pg.name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h7 class="_400 ls-sm text-highlight" ng-show="replacePGList.pgno==null">사용하실 PG사를 선택해주세요.</h7>
                                    <h7 class="_400 ls-sm text-highlight" ng-hide="replacePGList.pgno==null">선택하신 PG사<span class="p-x-sm">:</span><span ng-bind="pgList[replacePGList.pgno].name"></span></h7>
                                    <div class="text-muted text-xs p-t-xs ls-sm">
                                        <span ng-bind="pgList[replacePGList.pgno].promotion"></span> <a href="http://www.iamport.kr/promotion" target="_blank">아임포트 홈페이지<i class="icon icon-planet-earth"></i></a>에서 PG사별 프로모션을 한번에 비교하고 바로 가입하실 수 있습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 테스트모드 -->
                    <div id="pg_testmode" class="row m-b dp-none">
                        <div class="col-xs-12">
                            <div class="row-col m-y-md p-t-md b-t"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">테스트모드 <span class="text-xs text-muted ls-xs">(Sandbox)</span></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box inline p-y p-x-md pointer m-b-sm w220" ng-click="replacePGList.testmode = !replacePGList.testmode" ondragstart="return false" onselectstart="return false">
                                <div class="pull-left">
                                    <label class="ui-switch ui-switch-md {{app.setting.theme.primary}} m-t-xs">
                                        <input type="checkbox" ng-model="replacePGList.testmode">
                                        <i></i>
                                    </label>
                                </div>
                                <div class="inline ls-sm l-h-2x text-md test_mode_on">테스트모드 
                                    <span class="_600" ng-show="replacePGList.testmode">ON</span>
                                    <span class="_600" ng-hide="replacePGList.testmode">OFF</span>
                                </div>
                            </div>
                            <div ng-show="replacePGList.testmode" class="p-t-sm">
                                <div class="text-muted text-xs ls-sm" ng-bind="pgList[replacePGList.pgno].testmode_on"></div>
                            </div>
                            <div ng-hide="replacePGList.testmode" class="p-t-sm">
                                <h7 class="_400 ls-sm text-highlight" ng-if="pgList[replacePGList.pgno].testmode_off_do" ng-bind="pgList[replacePGList.pgno].testmode_off_do"></h7>
                                <div class="text-muted text-xs p-t-xs ls-sm" ng-bind="pgList[replacePGList.pgno].testmode_off_tip"></div>
                            </div>
                        </div>
                    </div>

                    <!-- 나이스페이 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==0 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-nice-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-nice-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-nice-2" class="col-sm-12 form-label">PG상점 Secret</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-nice-2" placeholder="PG상점 Secret" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-nice-3" class="col-sm-12 form-label">결제취소 비밀번호</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-nice-3" placeholder="결제취소 비밀번호" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                    </div>

                    <!-- 제이티넷 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==1 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-jtnet-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-jtnet-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-jtnet-2" class="col-sm-12 form-label">PG상점 Secret</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-jtnet-2" placeholder="PG상점 Secret" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-jtnet-3" class="col-sm-12 form-label">결제취소 비밀번호</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-jtnet-3" placeholder="결제취소 비밀번호" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                    </div>

                    <!-- 저장 -->
                    <div id="pg_save" class="row-col p-t-md dp-none">
                        <div class="col-xs-6 b-t p-t-md text-left">
                            <button id="btn-cancel" class="btn btn-md w150 white" ng-click="edit_cancel()">변경취소</button>
                        </div>
                        <div class="col-xs-6 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}" ng-click="edit_save(replacePGList,savedPGList[pg_focus])">저장하기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- PG삭제 확인 모달 -->
        <div id="remove-pg-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">선택 PG 삭제
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    선택한 PG를 삭제하시겠습니까?
                                </div>
                                <div class="dialog-memo">
                                    선택한 PG의 설정값이 삭제되며, 해당 결제기능을 더이상 사용하실 수 없으니 신중하게 결정하시기 바랍니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal" ng-click="deleteslot()">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- PG변경 확인 모달 -->
        <div id="change-pg-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">선택 PG 변경
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    PG 정보를 변경하시겠습니까?
                                </div>
                                <div class="dialog-memo">
                                    기존 PG의 설정값이 삭제됩니다. 해당 결제기능을 더이상 사용하실 수 없으니 신중하게 결정하시기 바랍니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" ng-click="edit_save_ok(replacePGList,savedPGList[pg_focus])" data-dismiss="modal">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- PG변경 확인 모달 -->
        <div id="add-slot-error-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">슬롯 추가 에러
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    슬롯을 추가할 수 없습니다.
                                </div>
                                <div class="dialog-memo">
                                    슬롯을 추가하기 전에 먼저 비어있는 슬롯에 PG를 설정해주세요.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>