<div ng-init="initial()">
    
    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                PG연동 설정
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>

        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">

                    <!-- 사용중인 PG -->
                    <div class="row" id="pg_using" ng-init="pgtype=1">
                        <div class="col-sm-12">  
                            <div class="form-radio-1" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                                <ul class="row no-gutter b-b m-b-lg">
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check" onclick="location.href='#/app/store/pgsetting'">
                                            <input type="radio" class="inline" name="pgtype" ng-model="pgtype" ng-value="1"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-add"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">일반결제 (인증결제)</div>
                                                <div class="text-muted text-xs ls-xs">원하시는 PG사를 쉽고 편리하게 연동하세요.</div>
                                            </div>
                                        </label>
                                    </li>
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check" onclick="location.href='#/app/store/pgsetting2'">
                                            <input type="radio" class="inline" name="pgtype" ng-model="pgtype" ng-value="2"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-padlock"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">정기결제 (비인증결제)</div>
                                                <div class="text-muted text-xs ls-xs">아임포트 정기결제 서비스 가입이 필요합니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">사용중인 PG</div>
                            <div class="row p-t">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="pg-option m-b ellipsis border-{{app.setting.theme.primary}}" ng-repeat="savedPG in savedPGList" ng-click="$parent.pg_focus = $index;" ng-class="{active : $parent.pg_focus == $index}" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400" ng-show="$index==0">기본 PG</h6>
                                                    <h6 class="p-x-md _400" ng-show="$index>0">추가 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div style="position:relative;">
                                                        <div style="position:absolute; top:-10px; right:5px;" ng-bind="SavedTestmodeIcon(savedPGList[pg_focus].testmode,savedPGList[pg_focus].since)"></div>
                                                            <div ng-hide="savedPG.pgno==null">
                                                                <img src="../assets/images/pg/lt/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-lt">
                                                                <img src="../assets/images/pg/dk/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-dk">
                                                                <span ng-bind="$parent.pgList[savedPG.pgno].name"></span>
                                                            </div>
                                                            <div ng-show="savedPG.pgno==null">
                                                                <div class="logosign">
                                                                    <i class="icon icon-warning"></i>
                                                                </div>
                                                                미설정
                                                            </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="add_pg_button" class="pg-option b-dashed m-b ellipsis" ng-click="addslot()" ondragstart="return false" onselectstart="return false">
                                        <div class="text-center text-sm text-muted _400 m-b-xs">
                                            <i class="icon icon-round-add-button"></i>
                                            PG 추가하기
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="box">
                                        <div class="p-a b-b">
                                            <ul class="ls-xs">
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">
                                                        <span ng-show="pg_focus==0">기본</span>
                                                        <span ng-show="pg_focus>0">추가</span> PG
                                                    </div>
                                                    <span class="_500">
                                                        <span ng-show="pgList[savedPGList[pg_focus].pgno].name==null">미설정</span>
                                                        <span ng-show="pgList[savedPGList[pg_focus].pgno].name" ng-bind="pgList[savedPGList[pg_focus].pgno].name"></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">최초설정</div>
                                                    <span class="ls-0 _500" ng-bind="SavedStartDate(savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">사용기간</div>
                                                    <span class="_500" ng-bind="SavedUsingDate(savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">테스트모드</div>
                                                    <span class="ls-0 _500" ng-bind="SavedTestmode(savedPGList[pg_focus].testmode,savedPGList[pg_focus].since)"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-a b-b">
                                            <ul class="ls-xs">
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">누적거래금액</div>
                                                    <span class="ls-0 _500" ng-bind="SavedRevenue(savedPGList[pg_focus].revenue,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">누적거래건수</div>
                                                    <span class="ls-0 _500" ng-bind="SavedRequest(savedPGList[pg_focus].request,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">일평균거래금액</div>
                                                    <span class="ls-0 _500" ng-bind="SavedAVGRevenue(savedPGList[pg_focus].revenue,savedPGList[pg_focus].since)"></span>
                                                </li>
                                                <li>
                                                    <div class="text-muted ls-sm text-xs _400 inline w100">일평균거래건수</div>
                                                    <span class="ls-0 _500" ng-bind="SavedAVGRequest(savedPGList[pg_focus].request,savedPGList[pg_focus].since)"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-a p-y-sm bg-xs">
                                            <button class="btn btn-sm text-sm white w60 m-r-xs" ng-click="edit_slot(savedPGList[pg_focus].pgno,savedPGList[pg_focus])">변경</button>
                                            <button class="btn btn-sm text-sm white w60" data-toggle="modal" data-target="#remove-pg-modal">삭제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 복수PG 결제 광고 -->
                    <div class="row m-b-0 p-t-lg b-t m-t-lg" id="step_free" ng-show="step == 'free' && !changemode">
                        <div class="col-xs-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">복수PG 기능을 이용해보세요!<span class="text-xs text-muted m-l-xs">(유료)</span></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row text-sm ls-xs">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="p-y-sm m-y-xs text-muted">
                                    여러 PG를 동시에 이용하면 보다 편리하고 안정적인 결제환경을 만들 수 있습니다. 일반적인 결제수단 이외에 간편결제를 추가로 지원하거나 결제 트래픽을 분산 처리할 때 등 복잡하고 다양한 결제의 니즈를 충족하는데 복수PG 기능을 활용하시면 좋습니다.
                                    </div>
                                    <div class="p-y-sm m-y-xs text-muted">
                                    복수PG를 처음 활성화할 경우 2주의 무료체험 기간을 제공합니다. 체험기간 동안 2개 이상의 PG를 자유롭게 추가할 수 있습니다. 그리고 언제든지 처음 1회만 <span class="ls-xs">55,000</span>원을 결제하시면 아임포트의 복수PG 기능을 제한없이 사용하실 수 있습니다.
                                    </div>
                                    <div class="p-y-sm">
                                        <span class="text-lg">55,000</span>
                                        <span class="text-sm">원 / 최초 1회</span>
                                    </div>
                                    <div class="p-y-sm">
                                        <button class="btn btn-sm w140 p-y-sm m-b-sm text-sm m-r-sm {{app.setting.theme.primary}}">지금 바로 결제하기</button>
                                        <button class="btn btn-sm w140 p-y-sm m-b-sm text-sm white" data-toggle="modal" data-target="#add-pg-modal">체험기간 시작하기</button>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 p-t-sm" ondragstart="return false" onselectstart="return false">
                                    <div class="box pg-miniature-frame">
                                        <div class="p-x-lg p-y-0 text-center bg-xs pg-miniature-wrap">
                                            <div class="pg-option pg-miniature m-b-sm ellipsis white no-pointer" style="top:-15px;"> 
                                                <table style="width:100%">
                                                    <tr>
                                                        <td width="50%" valign="middle" align="left">
                                                            <div class="p-x-md text-xs _400">기본 PG</div>
                                                        </td>
                                                        <td width="50%">
                                                            <img src="../assets/images/pg/lt/{{pgList[change_pg_icon(0)].image}}.png" alt="" class="pglogo-lt">
                                                            <img src="../assets/images/pg/dk/{{pgList[change_pg_icon(0)].image}}.png" alt="" class="pglogo-dk">
                                                            <span class="text-xxs" ng-bind="pgList[change_pg_icon(0)].name"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="pg-option pg-miniature m-b-sm ellipsis white no-pointer" style="top:55px;"> 
                                                <table style="width:100%">
                                                    <tr>
                                                        <td width="50%" valign="middle" align="left">
                                                            <div class="p-x-md text-xs _400">추가 PG</div>
                                                        </td>
                                                        <td width="50%">
                                                            <img src="../assets/images/pg/lt/{{pgList[change_pg_icon(1)].image}}.png" alt="" class="pglogo-lt">
                                                            <img src="../assets/images/pg/dk/{{pgList[change_pg_icon(1)].image}}.png" alt="" class="pglogo-dk">
                                                            <span class="text-xxs" ng-bind="pgList[change_pg_icon(1)].name"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="pg-option pg-miniature m-b-sm ellipsis white no-pointer" style="top:125px;"> 
                                                <table style="width:100%">
                                                    <tr>
                                                        <td width="50%" valign="middle" align="left">
                                                            <div class="p-x-md text-xs _400">추가 PG</div>
                                                        </td>
                                                        <td width="50%">
                                                            <img src="../assets/images/pg/lt/{{pgList[change_pg_icon(2)].image}}.png" alt="" class="pglogo-lt">
                                                            <img src="../assets/images/pg/dk/{{pgList[change_pg_icon(2)].image}}.png" alt="" class="pglogo-dk">
                                                            <span class="text-xxs" ng-bind="pgList[change_pg_icon(2)].name"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="pg-option pg-miniature m-b-sm ellipsis white no-pointer" style="top:195px;"> 
                                                <table style="width:100%">
                                                    <tr>
                                                        <td width="50%" valign="middle" align="left">
                                                            <div class="p-x-md text-xs _400">추가 PG</div>
                                                        </td>
                                                        <td width="50%">
                                                            <img src="../assets/images/pg/lt/{{pgList[change_pg_icon(3)].image}}.png" alt="" class="pglogo-lt">
                                                            <img src="../assets/images/pg/dk/{{pgList[change_pg_icon(3)].image}}.png" alt="" class="pglogo-dk">
                                                            <span class="text-xxs" ng-bind="pgList[change_pg_icon(3)].name"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="pg-option pg-miniature m-b-sm ellipsis white no-pointer" style="top:265px;"> 
                                                <table style="width:100%">
                                                    <tr>
                                                        <td width="50%" valign="middle" align="left">
                                                            <div class="p-x-md text-xs _400">추가 PG</div>
                                                        </td>
                                                        <td width="50%">
                                                            <img src="../assets/images/pg/lt/{{pgList[change_pg_icon(4)].image}}.png" alt="" class="pglogo-lt">
                                                            <img src="../assets/images/pg/dk/{{pgList[change_pg_icon(4)].image}}.png" alt="" class="pglogo-dk">
                                                            <span class="text-xxs" ng-bind="pgList[change_pg_icon(4)].name"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 복수PG 무료체험 기간 카운터 -->
                    <div class="row m-b-0 p-t-lg b-t m-t-lg" id="step_test" ng-show="step == 'test' && !changemode">
                        <div class="col-xs-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">복수PG 무료체험 <span ng-hide="dayleft<0">중</span></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row text-sm ls-sm">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="p-y-sm">
                                        <ul class="day-left-percentage">
                                            <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" class="white">
                                                <div class="{{app.setting.theme.primary}}" ng-show="dayleft >= i"></div>
                                            </li>
                                        </ul>
                                        <h6><span class="text-highlight" ng-bind="dayleft_main()"></span></h6>
                                    </div>
                                    <div class="p-b-sm text-muted">
                                    <span ng-bind="dayleft_sub()"></span> <span ng-hide="dayleft<0">무료체험 기간이 지나면 추가한 PG정보는 자동으로 초기화됩니다. 실제 운영중이 서비스인 경우 결제기능이 지속적으로 동작할 수 있도록 무료체험 기간이 끝나기 전에 반드시 유료결제를 하시기 바랍니다.</span>
                                    </div>
                                    <div class="p-y-sm">
                                        <button class="btn btn-sm w140 p-y-sm m-b-sm text-sm m-r-sm white" ng-hide="dayleft<0">지금 바로 결제하기</button>
                                        <button class="btn btn-sm w140 p-y-sm m-b-sm text-sm m-r-sm {{app.setting.theme.primary}}" ng-show="dayleft<0">지금 바로 결제하기</button>
                                    </div>
                                </div>
                                {{timer_number()}}
                                <div class="col-xs-12 col-sm-6">
                                    <div class="box p-y-lg p-x-md bg-xs">
                                        <div class="box p-a-sm bg-sm b-t m-b-0">
                                            <div class="row-col text-center text-lg">
                                                <div class="col-xs-3">
                                                    <div class="box p-t-sm m-b-0 b-b b-b-2x">
                                                        <div class="p-b-xs _600" ng-bind="count_days"></div>
                                                        <div class="b-t text-2xs text-muted ls-0 _400 p-y-xs">Days</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="box p-t-sm m-b-0 b-b b-b-2x">
                                                        <div class="p-b-xs _600" ng-bind="count_hours"></div>
                                                        <div class="b-t text-2xs text-muted ls-0 _400 p-y-xs">Hours</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="box p-t-sm m-b-0 b-b b-b-2x">
                                                        <div class="p-b-xs _600" ng-bind="count_mins"></div>
                                                        <div class="b-t text-2xs text-muted ls-0 _400 p-y-xs">Minutes</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="box p-t-sm m-b-0 b-b b-b-2x">
                                                        <div class="p-b-xs _600" ng-bind="count_secs"></div>
                                                        <div class="b-t text-2xs text-muted ls-0 _400 p-y-xs">Seconds</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PG 편집모드 -->
                    <div id="pg_modify" class="dp-none row m-b">
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">PG 변경</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 p-b-sm m-b-sm">
                                    <div class="pg-option ellipsis no-pointer bg-sm b-dashed" ng-repeat="savedPG in savedPGList" ng-show="$index==$parent.pg_focus" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400">기존 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div ng-hide="savedPG.pgno==null">
                                                        <img src="../assets/images/pg/lt/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-lt">
                                                        <img src="../assets/images/pg/dk/{{$parent.pgList[savedPG.pgno].image}}.png" alt="" class="pglogo-dk">
                                                        <span ng-bind="$parent.pgList[savedPG.pgno].name"></span>
                                                    </div>
                                                    <div ng-show="savedPG.pgno==null">
                                                        <div class="logosign">
                                                            <i class="icon icon-warning"></i>
                                                        </div>
                                                        미설정
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 p-b-sm m-b-sm">
                                    <div class="pg-option ellipsis active border-{{app.setting.theme.primary}}" ondragstart="return false" onselectstart="return false"> 
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%" valign="middle" align="left">
                                                    <h6 class="p-x-md _400">변경될 PG</h6>
                                                </td>
                                                <td width="50%">
                                                    <div ng-hide="replacePGList.pgno==null">
                                                        <img src="../assets/images/pg/lt/{{pgList[replacePGList.pgno].image}}.png" alt="" class="pglogo-lt">
                                                        <img src="../assets/images/pg/dk/{{pgList[replacePGList.pgno].image}}.png" alt="" class="pglogo-dk">
                                                        <span ng-bind="pgList[replacePGList.pgno].name"></span>
                                                    </div>
                                                    <div ng-show="replacePGList.pgno==null">
                                                        <div class="logosign">
                                                            <i class="icon icon-warning"></i>
                                                        </div>
                                                        미설정
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PG사 선택 -->
                    <div id="pg_select" class="row m-b dp-none">
                        <div class="col-xs-12">
                            <div class="row-col m-y-md p-t-md b-t"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">PG 선택</div>
                        </div>
                        <div class="col-xs-12" id="pg-select">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 m-b" ng-repeat="pg in pgList" ng-model="pgname">
                                    <div class="pg-option border-{{app.setting.theme.primary}}" ng-class="{active : $parent.replacePGList.pgno == $index}" ng-click="pgclick($index,$parent.pg_focus,$parent.savedPGList[$parent.pg_focus],$parent.replacePGList);" ondragstart="return false" onselectstart="return false">
                                        <img src="../assets/images/pg/lt/{{pg.image}}.png" alt="" class="pglogo-lt">
                                        <img src="../assets/images/pg/dk/{{pg.image}}.png" alt="" class="pglogo-dk">
                                        <span class="ellipsis" ng-bind="pg.name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h7 class="_400 ls-sm text-highlight" ng-show="replacePGList.pgno==null">사용하실 PG사를 선택해주세요.</h7>
                                    <h7 class="_400 ls-sm text-highlight" ng-hide="replacePGList.pgno==null">선택하신 PG사<span class="p-x-sm">:</span><span ng-bind="pgList[replacePGList.pgno].name"></span></h7>
                                    <div class="text-muted text-xs p-t-xs ls-sm">
                                        <span ng-bind="pgList[replacePGList.pgno].promotion"></span> <a href="http://www.iamport.kr/promotion" target="_blank">아임포트 홈페이지<i class="icon icon-planet-earth"></i></a>에서 PG사별 프로모션을 한번에 비교하고 바로 가입하실 수 있습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 테스트모드 -->
                    <div id="pg_testmode" class="row m-b dp-none">
                        <div class="col-xs-12">
                            <div class="row-col m-y-md p-t-md b-t"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="h6 _400 ls-sm l-h p-t-sm">테스트모드 <span class="text-xs text-muted ls-xs">(Sandbox)</span></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box inline p-y p-x-md pointer m-b-sm w220" ng-click="replacePGList.testmode = !replacePGList.testmode" ondragstart="return false" onselectstart="return false">
                                <div class="pull-left">
                                    <label class="ui-switch ui-switch-md {{app.setting.theme.primary}} m-t-xs">
                                        <input type="checkbox" ng-model="replacePGList.testmode">
                                        <i></i>
                                    </label>
                                </div>
                                <div class="inline ls-sm l-h-2x text-md test_mode_on">테스트모드 
                                    <span class="_600" ng-show="replacePGList.testmode">ON</span>
                                    <span class="_600" ng-hide="replacePGList.testmode">OFF</span>
                                </div>
                            </div>
                            <div ng-show="replacePGList.testmode" class="p-t-sm">
                                <div class="text-muted text-xs ls-sm" ng-bind="pgList[replacePGList.pgno].testmode_on"></div>
                            </div>
                            <div ng-hide="replacePGList.testmode" class="p-t-sm">
                                <h7 class="_400 ls-sm text-highlight" ng-if="pgList[replacePGList.pgno].testmode_off_do" ng-bind="pgList[replacePGList.pgno].testmode_off_do"></h7>
                                <div class="text-muted text-xs p-t-xs ls-sm" ng-bind="pgList[replacePGList.pgno].testmode_off_tip"></div>
                            </div>
                        </div>
                    </div>

                    <!-- KG이니시스 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==0 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-inicis-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-inicis-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-inicis-2" class="col-sm-12 form-label">키패스워드</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-inicis-2" placeholder="키패스워드" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-inicis-3" class="col-sm-12 form-label">가상계좌 입금통보 설정</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-inicis-3" value="https://service.iamport.kr/inicis_payments/notice_vbank" disabled="disabled">
                            </div>
                            <div class="col-xs-12 p-t-sm">
                                <h7 class="_400 ls-sm text-highlight">"상점정보" > "결제수단정보" 메뉴에서, "입금통보 URL(IP)"를 위 URL로 설정해주세요.</h7>
                                <div class="text-muted text-xs p-t-sm ls-sm p-b-xs">
                                     가상계좌 입금이 실제 이루어졌을 때, "KG이니시스" > "아임포트 서버" > "가맹점 서버"로 통지가 차례로 이루어집니다. "아임포트 서버" > "가맹점 서버"로 이루어지는 통지는 "결제 직후 Notification URL"을 사용해 이루어지게 됩니다. "KG이니시스" > "아임포트 서버"로 이루어지는 통지는 KG이니시스 상점관리자 페이지에서 URL을 설정해야 동작합니다. KG이니시스 상점관리자의 화면은 아래 이미지를 참고하시기 바랍니다.
                                </div>
                                <img src="../assets/images/pg/vbank/inicis_vbank.png" alt="" class="b-a w-full m-t-sm box-radius-3x">
                            </div>
                        </div>
                    </div>

                    <!-- KG이니시스(웹표준) -->
                    <div class="pg_form" ng-show="replacePGList.pgno==1 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-inicis-ws-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-inicis-ws-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-inicis-ws-2" class="col-sm-12 form-label">키패스워드</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-inicis-ws-2" placeholder="키패스워드" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-inicis-ws-3" class="col-sm-12 form-label">웹표준결제 <span class="ls-xs">signKey</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-inicis-ws-3" placeholder="웹표준결제 signKey" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-inicis-ws-4" class="col-sm-12 form-label">가상계좌 입금통보 설정</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-inicis-ws-4" value="https://service.iamport.kr/inicis_payments/notice_vbank" disabled="disabled">
                            </div>
                            <div class="col-xs-12 p-t-sm">
                                <h7 class="_400 ls-sm text-highlight">"상점정보" > "결제수단정보" 메뉴에서, "입금통보 URL(IP)"를 위 URL로 설정해주세요.</h7>
                                <div class="text-muted text-xs p-t-sm ls-sm p-b-xs">
                                     가상계좌 입금이 실제 이루어졌을 때, "KG이니시스" > "아임포트 서버" > "가맹점 서버"로 통지가 차례로 이루어집니다. "아임포트 서버" > "가맹점 서버"로 이루어지는 통지는 "결제 직후 Notification URL"을 사용해 이루어지게 됩니다. "KG이니시스" > "아임포트 서버"로 이루어지는 통지는 KG이니시스 상점관리자 페이지에서 URL을 설정해야 동작합니다. KG이니시스 상점관리자의 화면은 아래 이미지를 참고하시기 바랍니다.
                                </div>
                                <img src="../assets/images/pg/vbank/inicis_vbank.png" alt="" class="b-a w-full m-t-sm box-radius-3x">
                            </div>
                        </div>
                    </div>

                    <!-- 나이스페이 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==2 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-nice-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-nice-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-nice-2" class="col-sm-12 form-label">KEY</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-nice-2" placeholder="KEY" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-nice-3" class="col-sm-12 form-label">결제취소 비밀번호</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-nice-3" placeholder="결제취소 비밀번호" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-nice-4" class="col-sm-12 form-label">가상계좌 입금통보 설정</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-nice-4" value="https://service.iamport.kr/nice_payments/notice_vbank" disabled="disabled">
                            </div>
                            <div class="col-xs-12 p-t-sm">
                                <h7 class="_400 ls-sm text-highlight">"가맹점정보" > "기본정보" 메뉴에서 "결제데이터 통보의 가상계좌"를 위 URL로 설정해주세요.</h7>
                                <div class="text-muted text-xs p-t-sm ls-sm p-b-xs">
                                     가상계좌 입금이 실제 이루어졌을 때, "나이스정보통신" > "아임포트 서버" > "가맹점 서버"로 통지가 차례로 이루어집니다. "아임포트 서버" > "가맹점 서버"로 이루어지는 통지는 "결제 직후 Notification URL"을 사용해 이루어지게 됩니다. "나이스정보통신" > "아임포트 서버"로 이루어지는 통지는 나이스정보통신 상점관리자 페이지에서 URL을 설정해야 동작합니다. 나이스정보통신 상점관리자의 화면은 아래 이미지를 참고하시기 바랍니다. (OK체크를 체크해주시고, 재전송 횟수는 1혹은 그 이상으로 설정해주세요)
                                </div>
                                <img src="../assets/images/pg/vbank/nice_vbank.png" alt="" class="b-a w-full m-t-sm box-radius-3x">
                            </div>
                        </div>
                    </div>

                    <!-- 제이티넷 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==3 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-jtnet-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-jtnet-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-jtnet-2" class="col-sm-12 form-label">KEY</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-jtnet-2" placeholder="KEY" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-jtnet-3" class="col-sm-12 form-label">결제취소 비밀번호</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-jtnet-3" placeholder="결제취소 비밀번호" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-jtnet-4" class="col-sm-12 form-label">가상계좌 입금통보 설정</label>
                            <div class="col-xs-12 p-b-xs">
                                <input type="text" class="form-control form-value ellipsis" id="label-jtnet-4" value="https://service.iamport.kr/jtnet_payments/result" disabled="disabled">
                            </div>
                            <div class="col-xs-12 p-t-sm">
                                <h7 class="_400 ls-sm text-highlight">"회원사정보" > "일반정보" 메뉴에서 "결제데이터 통보의 가상계좌"를 위 URL로 설정해주세요.</h7>
                                <div class="text-muted text-xs p-t-sm ls-sm p-b-xs">
                                     가상계좌 입금이 실제 이루어졌을 때, "tPay서버" > "아임포트 서버" > "가맹점 서버"로 통지가 차례로 이루어집니다. "아임포트 서버" > "가맹점 서버"로 이루어지는 통지는 "결제 직후 Notification URL"을 사용해 이루어지게 됩니다. "tPay서버" > "아임포트 서버"로 이루어지는 통지는 tPay 상점관리자 페이지에서 URL을 설정해야 동작합니다. tPay 상점관리자의 화면은 아래 이미지를 참고하시기 바랍니다.
                                </div>
                                <img src="../assets/images/pg/vbank/jtnet_vbank.png" alt="" class="b-a w-full m-t-sm box-radius-3x">
                            </div>
                        </div>
                    </div>

                    <!-- 엘지유플러스 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==4 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-lgu-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-lgu-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-lgu-2" class="col-sm-12 form-label">MertKey</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-lgu-2" placeholder="MertKey" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                    </div>

                    <!-- 카카오페이 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==5 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-kakao-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-kakao-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-kakao-2" class="col-sm-12 form-label">서명키</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-kakao-2" placeholder="서명키" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-kakao-3" class="col-sm-12 form-label">merchantEncKey</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-kakao-3" placeholder="merchantEncKey" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-kakao-4" class="col-sm-12 form-label">merchantHashKey</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-kakao-4" placeholder="merchantHashKey" ng-model="replacePGList.pginfo4">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-kakao-5" class="col-sm-12 form-label">결제취소 비밀번호</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-kakao-5" placeholder="결제취소 비밀번호" ng-model="replacePGList.pginfo5">
                            </div>
                        </div>
                    </div>

                    <!-- 시럽페이 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==6 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-syrup-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-syrup-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-syrup-2" class="col-sm-12 form-label">가맹점 <span class="ls-xs">Secret</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-syrup-2" placeholder="가맹점 Secret" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-syrup-3" class="col-sm-12 form-label"><span class="ls-xs">API</span> 인증키</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-syrup-3" placeholder="API 인증키" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                    </div>

                    <!-- 다날 -->
                    <div class="pg_form" ng-show="replacePGList.pgno==7 && !replacePGList.testmode">
                        <div class="row m-b">
                            <label for="label-danal-1" class="col-sm-12 form-label">PG상점아이디 <span class="text-xs text-muted ls-xs">(MID)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-danal-1" placeholder="PG상점아이디" ng-model="replacePGList.pginfo1">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-danal-2" class="col-sm-12 form-label">PWD</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-danal-2" placeholder="PWD" ng-model="replacePGList.pginfo2">
                            </div>
                        </div>
                        <div class="form-group row m-b">
                            <label for="label-danal-3" class="col-sm-12 form-label">아이템코드 <span class="text-xs text-muted ls-xs">(ItemCode)</span></label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control form-value" id="label-danal-3" placeholder="아이템코드(ItemCode)" ng-model="replacePGList.pginfo3">
                            </div>
                        </div>
                    </div>

                    <!-- 저장 -->
                    <div id="pg_save" class="row-col p-t-md dp-none">
                        <!-- <span ng-bind-html="message('save_success','checked-2','성공적으로 저장되었습니다.','success')"></span>
                        <span ng-bind-html="message('save_failed','cancel','실패했습니다. 다시 시도해주세요.','danger')"></span>
                        <span ng-bind-html="message('save_empty','warning','빈 칸을 모두 입력해주세요.','danger')"></span> -->
                        <div class="col-xs-6 b-t p-t-md text-left">
                            <button id="btn-cancel" class="btn btn-md w150 white" ng-click="edit_cancel()">변경취소</button>
                        </div>
                        <div class="col-xs-6 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}" ng-click="edit_save(replacePGList,savedPGList[pg_focus])">저장하기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 무료체험 기간 활성화 모달 -->
        <div id="add-pg-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">무료체험 활성화
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-tap"></i>
                                </div>
                                <div class="dialog-text">PG를 추가하시겠습니까?</div>
                                <div class="dialog-memo">
                                    확인을 누르시면 2주 동안 복수PG 기능이 활성화됩니다. 복수PG 무료체험은 최초 1회에 한해 제공됩니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal" ng-click="starttest()">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- PG삭제 확인 모달 -->
        <div id="remove-pg-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">선택 PG 삭제
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    선택한 PG를 삭제하시겠습니까?
                                </div>
                                <div class="dialog-memo">
                                    선택한 PG의 설정값이 삭제되며, 해당 결제기능을 더이상 사용하실 수 없으니 신중하게 결정하시기 바랍니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal" ng-click="deleteslot()">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- PG변경 확인 모달 -->
        <div id="change-pg-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">선택 PG 변경
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    PG 정보를 변경하시겠습니까?
                                </div>
                                <div class="dialog-memo">
                                    기존 PG의 설정값이 삭제됩니다. 해당 결제기능을 더이상 사용하실 수 없으니 신중하게 결정하시기 바랍니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md white m-r-xs" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" ng-click="edit_save_ok(replacePGList,savedPGList[pg_focus])" data-dismiss="modal">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- PG변경 확인 모달 -->
        <div id="add-slot-error-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">슬롯 추가 에러
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    슬롯을 추가할 수 없습니다.
                                </div>
                                <div class="dialog-memo">
                                    슬롯을 추가하기 전에 먼저 비어있는 슬롯에 PG를 설정해주세요.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

        <!-- 테스트모드일 때 더이상 사용금지 -->
        <div id="nomoreuse-modal" class="modal fade" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header dk p-a-sm">
                                <div class="ls-xs _400 text-sm l-h">무료체험 기간 만료
                                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                                </div>
                            </div>
                            <div class="modal-body white text-left p-lg dialog">
                                <div class="dialog-icon">
                                    <i class="icon icon-warning"></i>
                                </div>
                                <div class="dialog-text">
                                    슬롯을 추가할 수 없습니다.
                                </div>
                                <div class="dialog-memo">
                                    무료체험 기간이 종료되었습니다. 유료결제를 완료하시면 복수PG 기능을 즉시 사용하실 수 있습니다.
                                </div>
                            </div>
                            <div class="modal-footer white text-right">
                                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal">확인</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>