<div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                서비스 신청/변경
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">

                    <div class="row">
                        <!-- 요금제카드 -->
                        <div class="col-lg-6" ng-repeat="price in priceList">
                            <div class="box p-a-responsible m-b-responsible">
                                <div class="box-price">
                                    <div class="box-icon">
                                        <i class="icon icon-{{price.icon}}"></i>
                                    </div>
                                    <div class="box-content">
                                        <div class="inline box text-2xs p-y-xs w40 ls-xs text-center m-l-xs pull-right">사용중</div>
                                        <div class="m-b-sm ls-sm _400 text-md" ng-bind="price.name"></div>
                                        <div class="text-xs text-muted ls-xs ellipsis4" ng-bind="price.content"></div>
                                        <ul class="p-t-sm m-t-xs">
                                            <li class="inline m-r-md">
                                                <div class="text-xs ls-xs text-muted p-a-0 m-a-0">결제금액</div>
                                                <span class="text-sm ls-xs _500 p-a-0 m-a-0" ng-bind="price.tag"></span><span class="text-xxs _400" ng-bind="price.unit"></span>
                                            </li>
                                            <li class="inline m-r-md">
                                                <div class="text-xs ls-xs text-muted p-a-0 m-a-0">결제주기</div>
                                                <div class="text-sm ls-xs _500 p-a-0 m-a-0" ng-bind="price.interval"></div>
                                            </li>
                                        </ul>
                                        <div class="p-t-sm m-t-xs">
                                            <button class="btn btn-sm white text-xs ls-xs p-y-xs m-b-xs w90 m-r-xs" ng-click="service_click()" ng-bind="text='신청하기'"></button>
                                            <button class="btn btn-sm white text-xs ls-xs p-y-xs m-b-xs w90">자세히 보기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-col b-t m-t p-t-md">
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-md w150 {{app.setting.theme.primary}}">결제하기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>