<div class="row">
    <div class="col-lg-3">
        <div ui-include="'../views/store/menu.html'"></div>
    </div>
    <div class="col-lg-9">
        <div class="box">
            <div class="box-body p-a-responsible-2x">
                <div class="row-col m-b-lg">
                    <div class="col-sm-12 b-b">
                        <div class="form-title">결제결과 확인</div>
                        <div class="form-answer">
                            결제완료여부 또는 승인실패사유 등 결제정보를 확인하기 위한 REST API를 호출합니다. <span class="hidden-md-down"><br></span>imp_uid(아임포트 고유번호) 또는 merchant_uid(거래 주문번호)로 아임포트에 저장된 결제정보를 조회할 수 있습니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>