<div class="box p-t m-b-responsible">
    <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <div class="p-y-md text-center">
            <p><img src="{{app.store.image}}" class="img-circle w-56"></p>
            <a href class="text-md block" ng-bind="app.store.name"></a>
            <p><small ng-bind="app.store.url"></small></p>
        </div>
    </div>
</div>

<div class="box p-y m-b-responsible">
    <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <ul class="nav nav-sm">
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/info" ui-sref="app.store.info" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-shop"></i></div>
                    <div class="text-nm ls-xs">가맹점 프로필</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/install" ui-sref="app.store.install" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-browser-26"></i></div>
                    <div class="text-nm ls-xs">아임포트 설치정보</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/pgsetting" ui-sref="app.store.pgsetting" ng-class="{active:$state.includes('app.store.pgsetting') || $state.includes('app.store.pgsetting2')}">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-payment-method"></i></div>
                    <div class="text-nm ls-xs">PG연동 설정</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/creditcard" ui-sref="app.store.creditcard" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-credit-card"></i></div>
                    <div class="text-nm ls-xs">카드사용 및 할부 설정</div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="box p-y m-b-responsible">
    <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <ul class="nav nav-sm">
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/now" ui-sref="app.store.now" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-star"></i></div>
                    <div class="text-nm ls-xs">서비스 이용현황</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/plan" ui-sref="app.store.plan" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-browser-31"></i></div>
                    <div class="text-nm ls-xs">서비스 신청/변경</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/wallet" ui-sref="app.store.wallet" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-wallet-1"></i></div>
                    <div class="text-nm ls-xs">지불정보 설정</div>
                </a>
            </li>
            <li class="nav-item block">
                <a class="nav-link block" href="#/app/store/history" ui-sref="app.store.history" ui-sref-active="active">
                    <div class="pull-left text-nm w50 text-center"><i class="icon icon-invoice"></i></div>
                    <div class="text-nm ls-xs">서비스 이용내역</div>
                </a>
            </li>
        </ul>
    </div>
</div>