<div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="ls-sm text-md m-b">
                지붋정보 설정
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div ui-include="'../views/store/submenu.html'"></div>
        </div>
        <div class="col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="storename" class="form-label">지불카드 설정</label>
                        </div>
                        <div class="col-sm-6 col-md-4" ng-repeat="card in regcardList">
                            <div class="box cardplate active-{{app.setting.theme.primary}} m-b-responsible" ng-class="{active : card_focus==regcardList[$index].name}" ng-click="cardclick({{$index}})" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                                <div class="carddelete" ng-click="deletecard({{card.no}})">
                                    <i class="icon icon-cancel"></i>
                                </div>
                                <div class="logoline">
                                    <img src="../assets/images/card/lt/{{card.logo}}.png" alt="" class="hidden-dk">
                                    <img src="../assets/images/card/dk/{{card.logo}}.png" alt="" class="hidden-lt">
                                </div>
                                <div class="textline">
                                    <ul>
                                        <li class="cardno">
                                            <div class="pw">****</div>
                                            <div class="pw">****</div>
                                            <div class="pw">****</div>
                                            <div class="no" ng-bind="card.lastno"></div>
                                        </li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <div class="carddate" ng-bind="card.regdate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="cardplate_add bg-xs b-dashed b-a" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" data-toggle="modal" data-target="#modal-addcard">
                                <div class="m-b-xs"><i class="icon icon-round-add text-lg"></i></div>
                                <span>새로운 카드 추가하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter m-t-md p-t-lg b-t">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="storename" class="form-label">정기과금 결제일 변경</label>
                            <ul class="row ls-xs text-center">
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">현행 유지</div></li>
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">매월 1일</div></li>
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">매월 5일</div></li>
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">매월 12일</div></li>
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">매월 25일</div></li>
                                <li class="col-xs-6 col-md-2 m-b-responsible"><div class="box pointer active-{{app.setting.theme.primary}} p-a">매월 말일</div></li>
                            </ul>
                            <div class="form-answer">
                                정기적으로 과금되는 부가서비스의 경우 결제일을 지정하면 해당 날짜에 결제됩니다. 정기과금 결제일은 현재로부터 1개월 이내의 범위 내에서 선택 가능하며, 매월 최대 2회까지 변경하실 수 있습니다. 결제일을 처음 지정하시거나 정기결제 이용 도중에 결제일을 변경하시는 경우 정기결제일 이전까지의 사용분에 대해서는 일할계산하며, 서비스 이용내역 메뉴에서 다음 결제일과 결제금액을 확인하실 수 있습니다.
                            </div>
                        </div>
                    </div>
                    <div class="row m-b dp-none">
                        <div class="col-sm-12">
                            <div class="box p-a-responsible-2x bg-sm">
                                <div class="row no-gutter m-b">
                                    <div class="col-sm-12">
                                        <label for="storename" class="form-label">가맹점 이름<div class="asterisk"><i class="icon icon-miscellaneus"></i></div></label>
                                        <input type="text" class="form-control form-value" id="storename" placeholder="가맹점 이름">
                                    </div>
                                </div>
                                <div class="row no-gutter m-b">
                                    <div class="col-sm-12">
                                        <label for="storeurl" class="form-label">서비스 URL<div class="asterisk"><i class="icon icon-miscellaneus"></i></div></label>
                                        <input type="text" class="form-control form-value" id="storeurl" placeholder="서비스 URL">
                                    </div>
                                </div>
                                <div class="row no-gutter">
                                    <div class="col-sm-12">
                                        <label for="storeemail" class="form-label">관리자 이메일<div class="asterisk"><i class="icon icon-miscellaneus"></i></div></label>
                                        <input type="text" class="form-control form-value" id="storeemail" placeholder="관리자 이메일">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storememo" class="form-label">서비스 소개</label>
                                    <textarea class="form-control form-value" id="storememo" placeholder="서비스 소개" style="height:100px;"></textarea>
                                </div>
                            </div>
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12 p-b b-b">
                                    <label for="storeurl" class="form-label">프로필 이미지</label>
                                    <div class="m-b">
                                        <input type="file" id="fileInput" />
                                    </div>
                                    <div class="row no-gutter">
                                        <div class="col-sm-8">
                                            <div class="box" style="height:256px">
                                                <img-crop 
                                                image="myImage" 
                                                result-image="myCroppedImage"
                                                result-image-size="128"
                                                area-type="circle"
                                                ></img-crop>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="hidden-xs-down inline w15"></div>
                                            <div class="hidden-md-up" style="height:10px;"></div>
                                            <div class="inline">
                                                <div class="box img-circle">
                                                    <img ng-src="{{myCroppedImage}}" class="img-{{cropType}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row no-gutter">
                                <div class="col-xs-6">
                                    <!-- <button class="btn btn-sm white">입력취소</button> -->
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col b-t m-t p-t-md">
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<!-- 공지사항 모달 -->
<div id="modal-addcard" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title ls-sm">신규 카드 등록
                    <i class="pull-right icon icon-cancel-2 text-muted pointer text-sm p-t-xs" data-dismiss="modal"></i>
                </h6>
            </div>
            <div class="modal-body p-lg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row m-b">
                            <div class="col-xs-12">
                                <label for="storename" class="form-label">카드종류<div class="asterisk">*</div></label>
                                <div class="p-t-xs">
                                    <div class="btn-group">
                                        <button class="btn btn-sm white">법인</button>
                                        <button class="btn btn-sm white">개인</button>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-6">
                                <div class="m-b">
                                    <label for="storename" class="form-label">카드번호<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storename" placeholder="카드번호 16자리" maxlength="16">
                                </div>
                                <div class="m-b">
                                    <label for="storeemail" class="form-label">사업자등록번호<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storeemail" placeholder="사업자등록번호 10자리" maxlength="10">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="m-b">
                                    <label for="storeurl" class="form-label">유효기간<div class="asterisk">*</div></label>
                                    <div>
                                        <input type="text" class="form-control form-value w50 inline m-r-xs text-center" id="storeurl" placeholder="MM" maxlength="2">
                                        <input type="text" class="form-control form-value w50 inline text-center" id="storeurl" placeholder="YY" maxlength="2">
                                    </div>
                                </div>
                                <div class="m-b">
                                    <label for="storeemail" class="form-label">비밀번호 앞 2자리<div class="asterisk">*</div></label>
                                    <div>
                                        <input type="password" class="form-control form-value w30 inline m-r-xs text-center" id="storeurl" placeholder="" maxlength="1">
                                        <input type="password" class="form-control form-value w30 inline m-r-xs text-center" id="storeurl" placeholder="" maxlength="1">
                                        <input type="password" class="form-control form-value w30 inline m-r-xs text-center" id="storeurl" value="1" disabled="disabled" maxlength="1">
                                        <input type="password" class="form-control form-value w30 inline text-center" id="storeurl" value="1" disabled="disabled" maxlength="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer white">
                <button type="button" class="btn btn-sm p-x-md {{app.setting.theme.primary}}" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 대시보드 선택모달 -->