<div ng-controller="ColorCtrl">

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                결제취소
                <a class="m-l p-l text-muted text-sm b-l" href="#/app/pay/summary" ui-sref="app.pay.summary">
                    <i class="icon icon-back"></i>
                    결제상태 분석으로 돌아가기
                </a>
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm">
                            <button class="btn btn-sm text-sm white">구매주문</button>
                            <button class="btn btn-sm text-sm white">결제시도</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 큰 차트 -->
    <div class="row">

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제취소 시도 횟수</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{b}<br>{c}'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도']
                        },
                        grid: {
                            borderWidth: 0,
                            x:80,
                            x2:60,
                            y: 40,
                            y2: 50
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['결제성공 건수','결제취소 건수']
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}}
                            }
                        ],
                        series: [
                            {
                                name: '결제시도',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#ff7043',
                                                '#ffa726'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}'
                                        }
                                    }
                                },
                                data: [4890,499]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-warning dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제성공 100건당 평균 {{499/4890*100|number:1}}건의 취소가 발생합니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제취소 시도 변화</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['결제취소 건수'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:45
                        },
                        series : [
                            {
                                name:'결제취소 건수',
                                type:'line',
                                data:{{data_m_8}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#ffa726'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-warning dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제취소 건수가 2.5% 증가했습니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">부분취소 비중</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} 기준<br/>{b} : {c}회 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data: ['전체취소','부분취소']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제시도횟수',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '50%'],
                                data:[
                        {value:2499, name:'전체취소',itemStyle:{normal:{color:'#fb8c00'}}},
                        {value:2391, name:'부분취소',itemStyle:{normal:{color:'#ffcc80'}}}
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-warning dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>취소 건의 48.90%가 부분취소 건입니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">주문취소 소요기간</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}건'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['주문취소 소요기간']
                        },
                        grid: {
                            borderWidth: 0,
                            x:70,
                            x2:60,
                            y: 40,
                            y2: 50
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['1일','2일','3일','4일','5일','6일','7일','8일','9일','10일']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                            }
                        ],
                        series: [
                            {
                                name: '주문취소 소요기간',
                                type: 'bar',
                                barCategoryGap: '60%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#ff9800',
                                                '#ff9800',
                                                '#ff9800',
                                                '#ffa726',
                                                '#ffa726',
                                                '#ffa726',
                                                '#ffb74d',
                                                '#ffb74d',
                                                '#ffb74d',
                                                '#ffcc80',
                                                '#ffcc80',
                                                '#ffcc80'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}'
                                        }
                                    }
                                },
                                data: [223,232,253,124,102,92,66,53,33,3]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-warning dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>3차시도에서 결제에 취소하는 경우가 가장 많습니다.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div><!-- padding -->  
