<div ng-controller="ColorCtrl">

    <!-- 페이지 제목 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                전체 보기
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 차트 섹션 -->
    <div class="row">

        <!-- 결제시도 -->
        <div class="col-xs-12">
            <div class="box p-a-responsible m-b-responsible">
                <div class="box-header p-a-responsible">결제시도</div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="box-body p-x-responsible">
                            <div class="text-sm ls-xs m-b text-muted">
                                고객이 원치 않은 결제 실패를 경험할 경우 이는 곧 서비스 이탈로 이어질 가능성이 높습니다. 하지만 그동안 상점 입장에서 고객이 몇 번 만에 결제에 성공했는지, 어떤 환경에서 주로 결제가 실패하는지 등 결제환경을 진단할 수 있는 방법은 거의 없었습니다. 이러한 문제를 해결하기 위해 아임포트는 고객의 구매주문(MID) 뿐만 아니라 고객의 모든 결제시도마다 고유번호(IMP UID)를 부여해서 결제상태를 확인하고 있습니다.
                            </div>
                            <ul class="m-b-md">
                                <li style="padding-top:0.5rem;">
                                    <div style="border-top:1px solid rgba(120,130,140,0.5); width:2rem; height:1.5rem;"></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매주문 (MID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{mid=3425|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">결제시도 (IMP UID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{impuid=7212|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매건당 평균 결제시도</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{impuid/mid|number:2}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                            </ul>
                            <div class="p-b">
                                <a href="#/app/pay/try" ui-sref="app.pay.try">
                                    <span class="text-sm ls-sm _600 text-{{app.setting.theme.primary}} pointer">자세히 보기 <i class="fa fa-chevron-right m-l-xs text-2xs"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>       
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                        <div class="box-body p-x-responsible m-b-responsible">
                            <div ui-jp="chart" ui-options="{
                                tooltip : {
                                    trigger: 'item',
                                    backgroundColor:'rgba(0,0,0,0.8)',
                                    borderRadius:3,
                                    padding:8,
                                    showDelay:0,
                                    hideDelay:0,
                                    formatter: '{b}<br>{c}건',
                                    axisPointer : {
                                        type: 'shadow'
                                    },
                                    textStyle: {
                                        fontSize : 12
                                    }
                                },
                                toolbox: {
                                    show : false
                                },
                                calculable : false,
                                legend: {
                                    show:false,
                                    orient : 'vertical',
                                    x : 'left',
                                    selectedMode:false,
                                    data:['결제시도']
                                },
                                grid : {
                                    x:55,
                                    x2:50,
                                    y:20,
                                    y2:60
                                },
                                yAxis: [
                                    {
                                        type: 'category',
                                        show: false,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        },
                                        data: ['결제시도 (IMP UID)','구매주문 (MID)']
                                    }
                                ],
                                xAxis: [
                                    {
                                        type: 'value',
                                        show: true,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        }
                                    }
                                ],
                                series: [
                                    {
                                        name: '결제시도',
                                        type: 'bar',
                                        barCategoryGap: '80%',
                                        itemStyle: {
                                            normal: {
                                                barBorderRadius:3,
                                                color: function(params) {
                                                    var colorList = [
                                                        '{{indigo400}}',
                                                        '{{blue400}}'
                                                    ];
                                                    return colorList[params.dataIndex]
                                                },
                                                label: {
                                                    show: true,
                                                    position: 'top',
                                                    formatter: '{b}\n{c}'
                                                }
                                            }
                                        },
                                        data: [{{impuid}},{{mid}}]
                                    }
                                ]
                            }" style="height:360px;" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 결제완료 -->
        <div class="col-xs-12">
            <div class="box p-a-responsible m-b-responsible">
                <div class="box-header p-a-responsible">결제완료</div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="box-body p-x-responsible">
                            <div class="text-sm ls-xs m-b text-muted">
                                고객이 결제를 완료한 구매주문을 대상으로 몇 번의 시도 만에 결제에 성공했는지, 어떤 환경에서 결제에 성공했는지 등을 분석합니다. 환경별, 수단별 결제성공율을 기반으로 결제환경을 개선하면 고객에게 보다 원활한 결제의 경험을 제공할 수 있습니다.
                            </div>
                            <ul class="m-b-md">
                                <li style="padding-top:0.5rem;">
                                    <div style="border-top:1px solid rgba(120,130,140,0.5); width:2rem; height:1.5rem;"></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매주문 (MID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{mid_success=2899|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">결제시도 (IMP UID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{impuid_success=4944|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">결제완료까지 평균 결제시도</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{(impuid_success/mid_success)|number:2}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                            </ul>
                            <div class="p-b">
                                <a href="#/app/pay/paid" ui-sref="app.pay.paid">
                                    <span class="text-sm ls-sm _600 text-{{app.setting.theme.primary}} pointer">자세히 보기 <i class="fa fa-chevron-right m-l-xs text-2xs"></i></span>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                        <div class="box-body p-x-responsible m-b-responsible">
                            <div ui-jp="chart" ui-options="{
                                tooltip : {
                                    trigger: 'item',
                                    backgroundColor:'rgba(0,0,0,0.8)',
                                    borderRadius:3,
                                    padding:8,
                                    showDelay:0,
                                    hideDelay:0,
                                    formatter: '{a} <br/>{b}시도 : {c}건',
                                    axisPointer : {
                                        type: 'shadow'
                                    },
                                    textStyle: {
                                        fontSize : 12
                                    }
                                },
                                legend: {
                                    show:true,
                                    orient : 'vertical',
                                    x : 'center',
                                    selectedMode:false,
                                    data:['결제시도 (IMP UID)']
                                },
                                grid: {
                                    borderWidth: 0,
                                    x:55,
                                    x2:50,
                                    y: 55,
                                    y2: 50
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        show: true,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        },
                                        data: ['1차','2차','3차','4차','5차','6차','7차','8차','9차','10차']
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        show: true,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        }
                                    }
                                ],
                                series: [
                                    {
                                        name: '결제시도 (IMP UID)',
                                        type: 'bar',
                                        barCategoryGap: '60%',
                                        itemStyle: {
                                            normal: {
                                                barBorderRadius:3,
                                                color: '{{green400}}',
                                                label: {
                                                    show: true,
                                                    position: 'top',
                                                    formatter: '{b}\n{c}'
                                                }
                                            }
                                        },
                                        data: [223,232,253,124,102,92,66,53,33,3]
                                    }
                                ]
                            }" style="height:360px;" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 결제실패 -->
        <div class="col-xs-12">
            <div class="box p-a-responsible m-b-responsible">
                <div class="box-header p-a-responsible">결제실패</div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="box-body p-x-responsible">
                            <div class="text-sm ls-xs m-b text-muted">
                                구매주문을 시작했으나 결제를 완료하지 못한 결제실패 건들을 대상으로 결제실패의 환경, 결제실패의 원인, 결제포기 또는 재시도 여부 등을 분석합니다. 결제실패의 가능성을 줄여서 서비스 영업 현황을 개선하고 고객 이탈을 방지할 수 있습니다.
                            </div>
                            <ul class="m-b-md">
                                <li style="padding-top:0.5rem;">
                                    <div style="border-top:1px solid rgba(120,130,140,0.5); width:2rem; height:1.5rem;"></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매주문 (MID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{mid_failed = mid - mid_success|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">결제시도 (IMP UID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{impuid_failed = impuid - impuid_success|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">결제포기까지 평균 결제시도</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{(impuid_success/mid_success)|number:2}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                            </ul>
                            <div class="p-b">
                                <a href="#/app/pay/failed" ui-sref="app.pay.failed">
                                    <span class="text-sm ls-sm _600 text-{{app.setting.theme.primary}} pointer">자세히 보기 <i class="fa fa-chevron-right m-l-xs text-2xs"></i></span>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                        <div class="box-body p-x-responsible m-b-responsible">
                            <div ui-jp="chart" ui-options="{
                                calculable : false,
                                tooltip : {
                                    trigger: 'item',
                                    backgroundColor:'rgba(0,0,0,0.8)',
                                    borderRadius:3,
                                    padding:8,
                                    showDelay:0,
                                    hideDelay:0,
                                    formatter: '{a}<br/>{b} : {c}건 ({d}%)',
                                    axisPointer : {
                                        type: 'shadow'
                                    },
                                    textStyle: {
                                        fontSize : 12
                                    }
                                },
                                legend: {
                                    show:true,
                                    orient : 'vertical',
                                    x : 'center',
                                    selectedMode:false,
                                    data: ['결제요청 이전 (Ready)','결제요청 이후 (Failed)']
                                },
                                grid: {
                                    borderWidth: 0,
                                    x:55,
                                    x2:50,
                                    y: 55,
                                    y2: 50
                                },
                                xAxis: [
                                    {
                                        show: false,
                                        data: []
                                    }
                                ],
                                yAxis: [
                                    {
                                        show: false
                                    }
                                ],
                                series : [
                                    {
                                        name:'결제시도 (IMP UID)',
                                        type:'pie',
                                        radius : '55%',
                                        center: ['50%', '50%'],
                                        data:[
                                            {value:1499, name:'결제요청 이전 (Ready)',itemStyle:{normal:{color:'{{red200}}'}}},
                                            {value:3391, name:'결제요청 이후 (Failed)',itemStyle:{normal:{color:'{{red400}}'}}}
                                        ]
                                    }
                                ]
                            }" style="height:360px;" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 결제취소 -->
        <div class="col-xs-12">
            <div class="box p-a-responsible m-b-responsible">
                <div class="box-header p-a-responsible">결제취소</div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="box-body p-x-responsible">
                            <div class="text-sm ls-xs m-b text-muted">
                                결제완료 이후 결제를 취소하는 경우를 분석합니다. 결제취소의 빈도와 금액, 전액 또는 부분취소 여부, 결제완료 후 결제취소로 의사변경까지의 평균 기간 등을 통해 결제취소 현황을 파악하고, 이를 토대로 결제취소율을 감소시키고자 할 때 사용할 수 있습니다.
                            </div>
                            <ul class="m-b-md">
                                <li style="padding-top:0.5rem;">
                                    <div style="border-top:1px solid rgba(120,130,140,0.5); width:2rem; height:1.5rem;"></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">취소주문 (MID)</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{mid_cancel = 125|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">건</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매취소율</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">{{(mid_cancel/mid_success)*100|number:2}}<span class="text-xs _400" style="padding-left:0.1rem;">%</span></div>
                                </li>
                                <li class="row-col">
                                    <div class="col-xs-6 ellipsis text-muted text-sm ls-xs" style="height:1.5rem; line-height:1.5rem;">구매 후 취소까지 소요시간</div>
                                    <div class="col-xs-6 ellipsis text-sm _600" style="font-size:1rem; height:1.5rem; line-height:1.4rem;">9.5<span class="text-xs _400" style="padding-left:0.1rem;">시간</span></div>
                                </li>
                            </ul>
                            <div class="p-b">
                                <a href="#/app/pay/canceled" ui-sref="app.pay.canceled">
                                    <span class="text-sm ls-sm _600 text-{{app.setting.theme.primary}} pointer">자세히 보기 <i class="fa fa-chevron-right m-l-xs text-2xs"></i></span>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                        <div class="box-body p-x-responsible m-b-responsible">
                            <div ui-jp="chart" ui-options="{
                                tooltip : {
                                    trigger: 'item',
                                    backgroundColor:'rgba(0,0,0,0.8)',
                                    borderRadius:3,
                                    padding:8,
                                    showDelay:0,
                                    hideDelay:0,
                                    formatter: '{a} <br/>{b}시도 : {c}건',
                                    axisPointer : {
                                        type: 'shadow'
                                    },
                                    textStyle: {
                                        fontSize : 12
                                    }
                                },
                                legend: {
                                    show:true,
                                    orient : 'vertical',
                                    x : 'center',
                                    selectedMode:false,
                                    data:['결제시도 (IMP UID)']
                                },
                                grid: {
                                    borderWidth: 0,
                                    x:55,
                                    x2:50,
                                    y: 55,
                                    y2: 50
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        show: true,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        },
                                        data: ['1차','2차','3차','4차','5차','6차','7차','8차','9차','10차']
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        show: true,
                                        axisLine : {
                                            lineStyle: {width:'0'}
                                        },
                                        axisTick : {
                                            show:false
                                        }
                                    }
                                ],
                                series: [
                                    {
                                        name: '결제시도 (IMP UID)',
                                        type: 'bar',
                                        barCategoryGap: '60%',
                                        itemStyle: {
                                            normal: {
                                                barBorderRadius:3,
                                                color: '{{green400}}',
                                                label: {
                                                    show: true,
                                                    position: 'top',
                                                    formatter: '{b}\n{c}'
                                                }
                                            }
                                        },
                                        data: [223,232,253,124,102,92,66,53,33,3]
                                    }
                                ]
                            }" style="height:360px;" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

