<div ng-controller="ColorCtrl">

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                결제시도
                <a class="m-l p-l text-muted text-sm b-l" href="#/app/pay/summary" ui-sref="app.pay.summary">
                    <i class="icon icon-back"></i>
                    결제상태 분석으로 돌아가기
                </a>
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm">
                            <button class="btn btn-sm text-sm white">구매주문</button>
                            <button class="btn btn-sm text-sm white">결제시도</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 큰 차트 -->
    <div class="row">

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제시도 횟수</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{b}<br>{c}'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도']
                        },
                        grid: {
                            borderWidth: 0,
                            x:80,
                            x2:60,
                            y: 40,
                            y2: 50
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['결제시도횟수 (IMP UID)','주문시도횟수 (MID)']
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:10000
                            }
                        ],
                        series: [
                            {
                                name: '결제시도',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#5c6bc0',
                                                '#42a5f5'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}'
                                        }
                                    }
                                },
                                data: [9112,3151]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-info dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제 1건당 평균 {{9112/3151|number:1}}회 결제를 시도합니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제시도 변화</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['주문시도횟수','결제시도횟수'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:45
                        },
                        series : [
                            {
                                name:'결제시도횟수',
                                type:'line',
                                data:{{data_m_1}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#42a5f5'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            },
                            {
                                name:'주문시도횟수',
                                type:'line',
                                data:{{data_m_8}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#5c6bc0'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-info dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>주문시도횟수는 2.5%, 결제시도 횟수는 3.5% 증가합니다.</div>
                        <!-- 
                        결제시도는 5% 감소, 결제시도 횟수는 10% 증가합니다. // 다를 때
                        결제시도는 5% 증가, 결제시도 횟수는 10% 감소합니다. // 다를 때
                        결제시도는 5%, 결제시도 횟수는 10% 감소합니다. // 같을 때
                        결제시도는 5%, 결제시도 횟수는 10% 감소합니다. // 같을 때
                        // 클래스는 alert-info로 동일
                        -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제상태 비교</div>
                <div class="box-body p-a">
                    <div class="row-col">
                        <div class="col-xs-6">
                            <div ui-jp="chart" ui-options="{
                                {{tooltip_style}},
                                tooltip : {
                                    trigger: 'item',
                                    formatter: '{a} 기준<br/>{b} : {c}건 ({d}%)'
                                },
                                legend: {
                                    show:true,
                                    orient : 'vertical',
                                    x : 'left',
                                    selectedMode:false,
                                    data: ['결제성공','결제실패']
                                },
                                calculable : false,
                                series : [
                                    {
                                        name:'주문시도횟수',
                                        type:'pie',
                                        radius : '45%',
                                        center: ['50%', '50%'],
                                        data:[
                                {value:2499, name:'결제성공',itemStyle:{normal:{color:'#1e88e5'}}},
                                {value:652, name:'결제실패',itemStyle:{normal:{color:'#90caf9'}}}
                                        ]
                                    }
                                ]
                            }" style="height:240px" >
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ui-jp="chart" ui-options="{
                                {{tooltip_style}},
                                tooltip : {
                                    trigger: 'item',
                                    formatter: '{a} 기준<br/>{b} : {c}회 ({d}%)'
                                },
                                legend: {
                                    show:true,
                                    orient : 'vertical',
                                    x : 'left',
                                    selectedMode:false,
                                    data: ['결제성공','결제실패']
                                },
                                calculable : false,
                                series : [
                                    {
                                        name:'결제시도횟수',
                                        type:'pie',
                                        radius : '45%',
                                        center: ['50%', '50%'],
                                        data:[
                                {value:4890, name:'결제성공',itemStyle:{normal:{color:'#3949ab'}}},
                                {value:4222, name:'결제실패',itemStyle:{normal:{color:'#9fa8da'}}}
                                        ]
                                    }
                                ]
                            }" style="height:240px" >
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제실패를 경험할 가능성이 53.67%로 높습니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제시도 차수별 비교</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}시도 : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도차수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:70,
                            x2:60,
                            y: 40,
                            y2: 50
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['1차','2차','3차','4차','5차','6차','7차','8차','9차','10차']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                            }
                        ],
                        series: [
                            {
                                name: '결제시도차수',
                                type: 'bar',
                                barCategoryGap: '60%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#9fa8da',
                                                '#9fa8da',
                                                '#7986cb',
                                                '#7986cb',
                                                '#5c6bc0',
                                                '#5c6bc0',
                                                '#3f51b5',
                                                '#3f51b5',
                                                '#3949ab',
                                                '#3949ab',
                                                '#303f9f',
                                                '#303f9f'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}'
                                        }
                                    }
                                },
                                data: [223,232,253,124,102,92,66,53,33,3]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-info dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>3차시도 후 결제를 포기하는 경우가 가장 많습니다.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 구분선 -->
    <div class="row-col b-t m-b-responsible"></div>

    <div class="row" ng-init="maincolor = '#5c6bc0'">

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">기기장치 타입</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '콘솔',
                                '자동차 브라우저',
                                '텔레비전',
                                '기타',
                                '알수없음',
                                '카메라',
                                '스마트 디스플레이',
                                '태블릿',
                                '스마트폰',
                                '데스크톱',
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">기기장치 모델</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                'iPhone 5s',
                                'Galaxy Note 5',
                                'iPad',
                                'Nexus 5',
                                'iPhone 6 Plus',
                                'iPhone 6s',
                                'iPhone 6',
                                'iPhone',
                                '알수없음'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">결제수단</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                '간편결제',
                                '핸드폰결제',
                                '가상계좌',
                                '실시간계좌이체',
                                '신용카드'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">PG</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                '다날 휴대폰결제',
                                '카카오페이',
                                'JTNET',
                                '나이스페이',
                                'LG U+',
                                'KG이니시스'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1245,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">운영체제</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                'Windows XP',
                                'iOS 9.3',
                                'Mac 10.10',
                                'LinuxGNU',
                                'Ubuntu',
                                'Windows 8.1',
                                'Mac 10.11',
                                'Windows 10',
                                'Windows 7'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">브라우저</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                'Chromium',
                                'Mobile Safari',
                                'Microsoft Edge',
                                'Opera',
                                'Chrome Mobile',
                                'Internet Explorer',
                                'Safari',
                                'Firefox',
                                'Chrome'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">국가</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                '중국',
                                '태국',
                                '말레이시아',
                                '독일',
                                '싱가포르',
                                '영국',
                                '일본',
                                '미국',
                                '한국'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header p-y-sm dker">
                    <div class="text-sm">도시</div>
                </div>
                <div class="box-tool p-a-sm text-muted box-mini-tool">
                    <i class="icon ion-android-open p-a-0 m-a-0"></i>
                </div>
                <div class="box-body p-a b-t">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}회'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제시도횟수']
                        },
                        grid: {
                            borderWidth: 0,
                            x:120,
                            x2:40,
                            y: 0,
                            y2: 30
                        },
                        yAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                axisLabel : {textStyle : {color:'#999999'}},
                                data: [
                                '기타',
                                '화성시',
                                '고양시',
                                '대구시',
                                '수원시',
                                '인천시',
                                '부산시',
                                '용인시',
                                '성남시',
                                '서울시'
                                ]
                            }
                        ],
                        xAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:1500
                            }
                        ],
                        series: [
                            {
                                name: '결제시도횟수',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {var colorList = ['{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}','{{maincolor}}']; return colorList[params.dataIndex]},
                                        label: {show: true,position: 'right',formatter: '{c}'}
                                    }
                                },
                                data: [
                                2,
                                7,
                                23,
                                25,
                                51,
                                63,
                                85,
                                123,
                                632,
                                1034,
                                1120,
                                1221,
                                1292
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

    </div><!-- row -->

</div><!-- padding -->  
