@font-face {
  font-family: 'iamport-icon';
  src: url('../font/iamport-icon.eot?55465105');
  src: url('../font/iamport-icon.eot?55465105#iefix') format('embedded-opentype'),
       url('../font/iamport-icon.woff2?55465105') format('woff2'),
       url('../font/iamport-icon.woff?55465105') format('woff'),
       url('../font/iamport-icon.ttf?55465105') format('truetype'),
       url('../font/iamport-icon.svg?55465105#iamport-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iamport-icon';
    src: url('../font/iamport-icon.svg?55465105#iamport-icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iamport-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-refresh-1:before { content: '\e800'; } /* '' */
.icon-repeat:before { content: '\e801'; } /* '' */
.icon-back-2:before { content: '\e802'; } /* '' */
.icon-next-2:before { content: '\e803'; } /* '' */
.icon-map-2:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-map-1:before { content: '\e806'; } /* '' */
.icon-list-1:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-speech-bubble-1:before { content: '\e809'; } /* '' */
.icon-speech-bubble-2:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-refresh:before { content: '\e80d'; } /* '' */
.icon-work-done:before { content: '\e80e'; } /* '' */
.icon-support-speech-bubble:before { content: '\e80f'; } /* '' */
.icon-map:before { content: '\e810'; } /* '' */
.icon-more:before { content: '\e811'; } /* '' */
.icon-list-2:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-power:before { content: '\e814'; } /* '' */
.icon-checked:before { content: '\e815'; } /* '' */
.icon-checked-2:before { content: '\e816'; } /* '' */
.icon-resize-1:before { content: '\e817'; } /* '' */
.icon-resize-2:before { content: '\e818'; } /* '' */
.icon-resize-3:before { content: '\e819'; } /* '' */
.icon-resize:before { content: '\e81a'; } /* '' */
.icon-search-2:before { content: '\e81b'; } /* '' */
.icon-back-1:before { content: '\e81c'; } /* '' */
.icon-next-1:before { content: '\e81d'; } /* '' */
.icon-up-1:before { content: '\e81e'; } /* '' */
.icon-up:before { content: '\e81f'; } /* '' */
.icon-down:before { content: '\e820'; } /* '' */
.icon-back:before { content: '\e821'; } /* '' */
.icon-next:before { content: '\e822'; } /* '' */
.icon-minus:before { content: '\e823'; } /* '' */
.icon-plus:before { content: '\e824'; } /* '' */
.icon-checked-1:before { content: '\e825'; } /* '' */
.icon-round-cancel:before { content: '\e826'; } /* '' */
.icon-round-forbidden:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-star-2:before { content: '\e829'; } /* '' */
.icon-speech-bubble-5:before { content: '\e82a'; } /* '' */
.icon-push-pin:before { content: '\e82b'; } /* '' */
.icon-pencil:before { content: '\e82c'; } /* '' */
.icon-share:before { content: '\e82d'; } /* '' */
.icon-option-1:before { content: '\e82e'; } /* '' */
.icon-option:before { content: '\e82f'; } /* '' */
.icon-round-add:before { content: '\e830'; } /* '' */
.icon-round-delete:before { content: '\e831'; } /* '' */
.icon-round-done:before { content: '\e832'; } /* '' */
.icon-round-help:before { content: '\e833'; } /* '' */
.icon-mouse-1:before { content: '\e834'; } /* '' */
.icon-planet-earth:before { content: '\e835'; } /* '' */
.icon-round:before { content: '\e836'; } /* '' */
.icon-round-location-indicator:before { content: '\e837'; } /* '' */
.icon-round-volume:before { content: '\e838'; } /* '' */
.icon-round-minus:before { content: '\e839'; } /* '' */
.icon-round-speedometer:before { content: '\e83a'; } /* '' */
.icon-round-telephone:before { content: '\e83b'; } /* '' */
.icon-wrench:before { content: '\e83c'; } /* '' */
.icon-warning:before { content: '\e83d'; } /* '' */
.icon-envelope:before { content: '\e83e'; } /* '' */
.icon-home:before { content: '\e83f'; } /* '' */
.icon-wallet-1:before { content: '\e840'; } /* '' */
.icon-wallet-2:before { content: '\e841'; } /* '' */
.icon-pen:before { content: '\e842'; } /* '' */
.icon-toggles:before { content: '\e843'; } /* '' */
.icon-speech-bubble:before { content: '\e844'; } /* '' */
.icon-server:before { content: '\e845'; } /* '' */
.icon-shield:before { content: '\e846'; } /* '' */
.icon-computer:before { content: '\e847'; } /* '' */
.icon-key:before { content: '\e848'; } /* '' */
.icon-key-1:before { content: '\e849'; } /* '' */
.icon-round-play:before { content: '\e84a'; } /* '' */
.icon-expand:before { content: '\e84b'; } /* '' */
.icon-trash:before { content: '\e84c'; } /* '' */
.icon-down-1:before { content: '\e84d'; } /* '' */
.icon-invoice:before { content: '\e84e'; } /* '' */
.icon-pie-chart:before { content: '\e84f'; } /* '' */
.icon-payment-method:before { content: '\e850'; } /* '' */
.icon-shop:before { content: '\e851'; } /* '' */
.icon-credit-card:before { content: '\e852'; } /* '' */
.icon-settings-4:before { content: '\e853'; } /* '' */
.icon-strategy:before { content: '\e854'; } /* '' */
.icon-play-video:before { content: '\e855'; } /* '' */
.icon-plug:before { content: '\e856'; } /* '' */
.icon-magnifying-glass:before { content: '\e857'; } /* '' */
.icon-printer:before { content: '\e858'; } /* '' */
.icon-finances:before { content: '\e859'; } /* '' */
.icon-computer-1:before { content: '\e85a'; } /* '' */
.icon-calendar:before { content: '\e85b'; } /* '' */
.icon-stats:before { content: '\e85c'; } /* '' */
.icon-monitor-1:before { content: '\e85d'; } /* '' */
.icon-pie-chart-1:before { content: '\e85e'; } /* '' */
.icon-scheme:before { content: '\e85f'; } /* '' */
.icon-statistics-1:before { content: '\e860'; } /* '' */
.icon-basket:before { content: '\e861'; } /* '' */
.icon-expand-1:before { content: '\e862'; } /* '' */
.icon-credit-card-1:before { content: '\e863'; } /* '' */
.icon-pie-chart-3:before { content: '\e864'; } /* '' */
.icon-stats-2:before { content: '\e865'; } /* '' */
.icon-stats-1:before { content: '\e866'; } /* '' */
.icon-stats-3:before { content: '\e867'; } /* '' */
.icon-stats-4:before { content: '\e868'; } /* '' */
.icon-search:before { content: '\e869'; } /* '' */
.icon-search-1:before { content: '\e86a'; } /* '' */
.icon-manager:before { content: '\e86b'; } /* '' */
.icon-wallet:before { content: '\e86c'; } /* '' */
.icon-percentage:before { content: '\e86d'; } /* '' */
.icon-package:before { content: '\e86e'; } /* '' */
.icon-mathematics:before { content: '\e86f'; } /* '' */
.icon-money:before { content: '\e870'; } /* '' */
.icon-money-bag-1:before { content: '\e871'; } /* '' */
.icon-coins-1:before { content: '\e872'; } /* '' */
.icon-monitor-2:before { content: '\e873'; } /* '' */
.icon-mouse:before { content: '\e874'; } /* '' */
.icon-monitor-3:before { content: '\e875'; } /* '' */
.icon-scheme-2:before { content: '\e876'; } /* '' */
.icon-scheme-1:before { content: '\e877'; } /* '' */
.icon-pie-chart-statistics:before { content: '\e878'; } /* '' */
.icon-winner-cup:before { content: '\e879'; } /* '' */
.icon-video-edition:before { content: '\e87a'; } /* '' */
.icon-windows:before { content: '\e87b'; } /* '' */
.icon-antenna:before { content: '\e87c'; } /* '' */
.icon-satellite:before { content: '\e87d'; } /* '' */
.icon-graphic-presentation:before { content: '\e87e'; } /* '' */
.icon-photograph-allowed:before { content: '\e87f'; } /* '' */
.icon-shield-1:before { content: '\e880'; } /* '' */
.icon-calendar-1:before { content: '\e881'; } /* '' */
.icon-calendar-2:before { content: '\e882'; } /* '' */
.icon-browser:before { content: '\e883'; } /* '' */
.icon-wrench-1:before { content: '\e884'; } /* '' */
.icon-wrench-2:before { content: '\e885'; } /* '' */
.icon-tap:before { content: '\e886'; } /* '' */
.icon-wordpress-logo:before { content: '\e887'; } /* '' */
.icon-diagram-1:before { content: '\e888'; } /* '' */
.icon-rewind-time:before { content: '\e889'; } /* '' */
.icon-presentation-7:before { content: '\e88a'; } /* '' */
.icon-graph-1:before { content: '\e88b'; } /* '' */
.icon-receipt:before { content: '\e88c'; } /* '' */
.icon-time-is-money:before { content: '\e88d'; } /* '' */
.icon-clock:before { content: '\e88e'; } /* '' */
.icon-calendar-3:before { content: '\e88f'; } /* '' */
.icon-diagram:before { content: '\e890'; } /* '' */
.icon-server-1:before { content: '\e891'; } /* '' */
.icon-calendar-4:before { content: '\e892'; } /* '' */
.icon-statistics-2:before { content: '\e893'; } /* '' */
.icon-browser-2:before { content: '\e894'; } /* '' */
.icon-browser-3:before { content: '\e895'; } /* '' */
.icon-shopping-bag-1:before { content: '\e896'; } /* '' */
.icon-browser-14:before { content: '\e897'; } /* '' */
.icon-lock-7:before { content: '\e898'; } /* '' */
.icon-lock-1:before { content: '\e899'; } /* '' */
.icon-lock-2:before { content: '\e89a'; } /* '' */
.icon-browser-31:before { content: '\e89b'; } /* '' */
.icon-browser-32:before { content: '\e89c'; } /* '' */
.icon-computer-2:before { content: '\e89d'; } /* '' */
.icon-laptop-13:before { content: '\e89e'; } /* '' */
.icon-laptop-15:before { content: '\e89f'; } /* '' */
.icon-laptop-16:before { content: '\e8a0'; } /* '' */
.icon-laptop-26:before { content: '\e8a1'; } /* '' */
.icon-laptop-36:before { content: '\e8a2'; } /* '' */
.icon-tap-1:before { content: '\e8a3'; } /* '' */
.icon-browser-13:before { content: '\e8a4'; } /* '' */
.icon-statistics:before { content: '\e8a5'; } /* '' */
.icon-headphones:before { content: '\e8a6'; } /* '' */
.icon-download-doc:before { content: '\e8a7'; } /* '' */
.icon-menu-4:before { content: '\e8a8'; } /* '' */
.icon-download-button:before { content: '\e8a9'; } /* '' */
.icon-browser-18:before { content: '\e8aa'; } /* '' */
.icon-list-3:before { content: '\e8ab'; } /* '' */
.icon-padlock-1:before { content: '\e8ac'; } /* '' */
.icon-padlock:before { content: '\e8ad'; } /* '' */
.icon-speech-bubble-3:before { content: '\e8ae'; } /* '' */
.icon-speech-bubble-4:before { content: '\e8af'; } /* '' */
.icon-speech-bubble-6:before { content: '\e8b0'; } /* '' */
.icon-speech-bubble-7:before { content: '\e8b1'; } /* '' */
.icon-star-1:before { content: '\e8b2'; } /* '' */
.icon-add:before { content: '\e8b3'; } /* '' */
.icon-compass-1:before { content: '\e8b4'; } /* '' */
.icon-cube:before { content: '\e8b5'; } /* '' */
.icon-cursor-1:before { content: '\e8b6'; } /* '' */
.icon-garbage:before { content: '\e8b7'; } /* '' */
.icon-heart:before { content: '\e8b8'; } /* '' */
.icon-levels-1:before { content: '\e8b9'; } /* '' */
.icon-levels:before { content: '\e8ba'; } /* '' */
.icon-bag:before { content: '\e8bb'; } /* '' */
.icon-credit-card-2:before { content: '\e8bc'; } /* '' */
.icon-padnote:before { content: '\e8bd'; } /* '' */
.icon-shopping-cart:before { content: '\e8be'; } /* '' */
.icon-store:before { content: '\e8bf'; } /* '' */
.icon-wallet-3:before { content: '\e8c0'; } /* '' */
.icon-miscellaneus:before { content: '\e8c1'; } /* '' */
.icon-filter:before { content: '\e8c2'; } /* '' */
.icon-browser-26:before { content: '\e8c3'; } /* '' */
.icon-browser-46:before { content: '\e8c4'; } /* '' */
.icon-browser-25:before { content: '\e8c5'; } /* '' */
.icon-keyhole-1:before { content: '\e8c6'; } /* '' */
.icon-locked-cloud:before { content: '\e8c7'; } /* '' */
.icon-locked-file:before { content: '\e8c8'; } /* '' */
.icon-protected-cloud:before { content: '\e8c9'; } /* '' */
.icon-wall:before { content: '\e8ca'; } /* '' */
.icon-laptop-black-computer:before { content: '\e8cb'; } /* '' */
.icon-laptop:before { content: '\e8cc'; } /* '' */
.icon-mobile-phone-outline:before { content: '\e8cd'; } /* '' */
.icon-mobile-phone:before { content: '\e8ce'; } /* '' */
.icon-monitor:before { content: '\e8cf'; } /* '' */
.icon-more-button-of-three-circles:before { content: '\e8d0'; } /* '' */
.icon-phone-outline:before { content: '\e8d1'; } /* '' */
.icon-tablet-digital-device:before { content: '\e8d2'; } /* '' */
.icon-tablet-or-cellphone-tool-symbol:before { content: '\e8d3'; } /* '' */
.icon-tablet-outline:before { content: '\e8d4'; } /* '' */
.icon-next-button:before { content: '\e8d5'; } /* '' */
.icon-pause-button:before { content: '\e8d6'; } /* '' */
.icon-play-button:before { content: '\e8d7'; } /* '' */
.icon-stop-button:before { content: '\e8d8'; } /* '' */
.icon-info-sign:before { content: '\e8d9'; } /* '' */
.icon-refresh-page-arrow-button:before { content: '\e8da'; } /* '' */