@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 100;
    src: 
    url(../fonts/eot/Thin.eot),
    url(../fonts/eot/Thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/Thin.woff) format('woff'),
    url(../fonts/otf/Thin.otf) format('opentype');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: 
    url(../fonts/eot/Regular.eot),
    url(../fonts/eot/Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/Regular.woff) format('woff'),
    url(../fonts/otf/Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 700;
    src: 
    url(../fonts/eot/Bold.eot),
    url(../fonts/eot/Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/Bold.woff) format('woff'),
    url(../fonts/otf/Bold.otf) format('opentype');
}
