<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="text-center p-t-sm">
            <div class="m-y-md">
                <img src="../assets/images/logo-dk.png" alt="iamport icon" class="h25 inline m-r" style="border-radius:5px;">
                <img src="../assets/images/logo-text-dk.png" alt="iamport logo" class="h20 inline" style="position:relative; top:2px">
            </div>
            <h5 class="ls-sm">비밀번호 찾기</h5>
        </div>
    </div>
    <div class="p-a-md box-color r b-a text-color m-a border-radius-3x">
        <div class="m-b ls-sm text-muted">
            비밀번호가 잊어버리셨나요? 가입할 때 사용한 이메일을 아래 빈칸에 입력하시면 비밀번호를 재설정하실 수 있습니다.
        </div>
        <form name="reset">
            <div class="md-form-group">
                <input type="email" ng-model="email" class="md-input" required>
                <label class="ls-xs">이메일</label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md ls-xs l-h-2x p-t-xs _600" title="Hey!" data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container" bs-alert ng-disabled="reset.$invalid" >인증메일 발송</button>
        </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center"><a ui-sref="access.signin" href="#/access/signin" class="text-primary _600 ls-xs">다시 로그인하기</a></div>    
</div>