<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="text-center p-t-sm">
            <div class="m-y-md">
                <img src="../assets/images/logo-dk.png" alt="iamport icon" class="h25 inline m-r" style="border-radius:5px;">
                <img src="../assets/images/logo-text-dk.png" alt="iamport logo" class="h20 inline" style="position:relative; top:2px">
            </div>
            <h5 class="ls-sm">아임포트에 로그인</h5>
        </div>
    </div>
    <div class="p-a-md box-color r b-a text-color m-a border-radius-3x">
        <form name="form">
            <div class="md-form-group">
                <input type="email" class="md-input" ng-model="user.email" required>
                <label class="ls-xs">이메일</label>
            </div>
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="user.password" required>
                <label class="ls-xs">비밀번호</label>
            </div>      
            <div class="m-b-md">        
                <label class="md-check text-muted" style="line-height:125%; letter-spacing:-1px;">
                    <input type="checkbox"><i class="primary"></i> 로그인 정보 저장
                </label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md ls-xs l-h-2x p-t-xs" onclick="location.href='#/app/dashboard'">로그인</button>
        </form>
    </div>

    <div class="p-v-lg text-center">
        <div class="m-b-sm"><a ui-sref="access.forgot-password" href="#/access/forgot-password" class="text-primary _600 ls-xs">비밀번호를 잊으셨나요?</a></div>
        <div><span class="ls-sm m-r-sm">아직 회원이 아니신가요?</span><a ui-sref="access.signup" href="#/access/signup" class="text-primary _600 ls-xs">회원가입</a></div>
    </div>
</div>