<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="text-center p-t-sm">
            <div class="m-y-md">
                <img src="../assets/images/logo-dk.png" alt="iamport icon" class="h25 inline m-r" style="border-radius:5px;">
                <img src="../assets/images/logo-text-dk.png" alt="iamport logo" class="h20 inline" style="position:relative; top:2px">
            </div>
            <h5 class="ls-sm">아임포트 회원가입</h5>
        </div>
    </div>

    <div class="p-a-md box-color r b-a text-color m-a border-radius-3x">
        <form name="form">
            <div class="md-form-group">
                <input type="text" class="md-input" ng-model="user.name" required>
                <label class="ls-xs">이름</label>
            </div>
            <div class="md-form-group">
                <input type="email" class="md-input" ng-model="user.email" required>
                <label class="ls-xs">이메일</label>
            </div>
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="user.password" required>
                <label class="ls-xs">비밀번호</label>
            </div>
            <div class="m-b-md">
                <label class="md-check" style="line-height:130%; letter-spacing:-1px;">
                    <input type="checkbox"><i class="primary m-t-xs"></i> <span class="text-muted">아임포트의 서비스 이용약관과 개인정보 취급방침에 동의합니다.</span> <a href="" class="p-l-xs text-primary _600">[내용보기]</a>
                </label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md ls-xs l-h-2x p-t-xs">회원가입</button>
        </form>
    </div>

    <div class="p-v-lg text-center">
        <div><span class="ls-xs m-r-sm">이미 회원이신가요?</span><a ui-sref="access.signin" href="#/access/signin" class="text-primary _600 ls-xs">로그인</a></div>
    </div>
</div>
