<div>

	<div class="row">
		<div class="col-md-12">
			<div class="ls-sm text-md m-b">
				아임포트 새소식
				<div class="pull-right">
					<a href="#/app/home/notice">
						<i class="icon icon-menu-4"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-b" ng-controller="NoticeCtrl" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
		<div class="col-md-6" ng-repeat="notice in noticeList" ng-show="$index == 0">
			<a href="#/app/home/view" ui-sref="app.home.view">
				<div class="box ratio white pointer" style="background-image:url('{{notice.image}}');">
					<div class="inner bg">
						<div class="box-header"><span class="text-md" ng-bind="notice.title"></span></div>
						<div class="box-body">
							<div class="notice-memo text-xs text-muted" ng-bind="notice.date"></div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<div class="ratio">
				<div class="inner mini">
					<div class="area" ng-repeat="notice in noticeList" ng-show="$index>0 && $index < 5">
						<a href="#/app/home/view" ui-sref="app.home.view">
							<div class="box white pointer" style="background-image:url('{{notice.image}}');">
								<div class="mini-inner bg">
									<div class="box-header text-nm" ng-bind="notice.title"></div>
									<div class="box-body">
										<div class="notice-memo text-xs text-muted" ng-bind="notice.date"></div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="ls-sm text-md m-b">
				기능개선 업데이트
				<div class="pull-right">
					<a href="#/app/home/update">
						<i class="icon icon-menu-4"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
    <div class="row m-b" ng-controller="UpdateCtrl" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-xs-6 col-xl-3" ng-repeat="update in updateList" ng-show="$index < 8">
        	<a href="#/app/home/view" ui-sref="app.home.view">
	            <div class="box white promobox m-b-responsible">
	                <div class="box-body p-a-md h150">
	                    <div class="promoname ellipsis2" ng-bind="update.title"></div>
	                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis3" ng-bind="update.content"></div>
	                </div>
	            </div>
	        </a>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<div class="ls-sm text-md m-b">
				아임포트 이용 가이드
				<div class="pull-right">
					<a href="#/app/home/manual">
						<i class="icon icon-menu-4"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
    <div class="row m-b" ng-controller="ManualCtrl" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-xs-6 col-xl-3" ng-repeat="manual in manualList" ng-show="$index < 8">
            <div class="box white promobox m-b-responsible">
            	<a href="#/app/home/view" ui-sref="app.home.view">
	                <div class="box-body p-a-md h150">
	                    <div class="promoname ellipsis2" ng-bind="manual.title"></div>
	                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis3" ng-bind="manual.content"></div>
	                </div>
	            </a>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<div class="ls-sm text-md m-b">
				PG사 제휴 프로모션
				<div class="pull-right">
					<a href="#/app/home/promotion">
						<i class="icon icon-menu-4"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
    <div class="row m-b" ng-controller="PromoCtrl" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-xs-6 col-xl-3" ng-repeat="promo in promotionList" ng-show="$index < 7">
        	<a href="#/app/home/view" ui-sref="app.home.view">
	            <div class="box white promobox m-b-responsible">
	                <div class="box-body p-a-md h150">
	                	<div class="hidden-sm-down">
		                    <img src="../assets/images/pg/lt/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-dk">
		                    <img src="../assets/images/pg/dk/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-lt">
	                    </div>
	                    <div class="promoname ellipsis" ng-bind="promo.name"></div>
	                    <div class="promomemo ellipsis"><span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2" class="text-xs m-r-xs ls-xs"></span><span ng-bind="promo.memo3"></span></div>
	                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis2">아임포트 & <span ng-bind="promo.name"></span> 제휴 프로모션을 통해 <span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2"></span><span ng-bind="promo.memo3"></span>혜택을 드리고 있습니다. 아래 링크에서 가입신청서를 작성하시면 <span ng-bind="promo.name"></span> 상담원이 전화로 계약관련 준비하셔야 할 내용들을 안내해 드립니다.</div>
	                </div>
            	</div>
            </a>
        </div>
    </div>

</div>

