<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

	<!-- 섹션제목 -->
	<div class="row">
        <div class="col-xs-12">
			<div class="ls-sm text-md m-b">
				아임포트 매뉴얼
			</div>
		</div>
	</div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white" onclick="location.href='#/app/home/dashboard'">처음화면</button>
                        </div>
                        <div class="btn-group pull-right p-b-sm">
                            <button class="btn btn-sm text-sm white" ng-click="showlist()"><i class="fa fa-list"></i></button>
                            <button class="btn btn-sm text-sm white" ng-click="showtile()"><i class="fa fa-th-large"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시글 목록 타일 -->
    <div id="tile" class="row m-b dp-none" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-xs-6 col-xl-4" ng-repeat="manual in manualList" ng-show="$index < 8">
        	<a href="#/app/home/view">
	            <div class="box white promobox m-b-responsible">
	                <div class="box-body p-a-md h150">
	                    <div class="promoname ellipsis" ng-bind="manual.title"></div>
	                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis3" ng-bind="manual.content"></div>
	                </div>
	            </div>
	        </a>
        </div>
    </div>

    <!-- 게시글 목록 리스트 -->
    <div id="list" class="row article">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-x-responsible-2x p-y-responsible">
                    <div>
                        <div class="p-y-md b-b-light pointer" ng-repeat="manual in manualList">
                            <a href="#/app/home/view">
                                <div class="h120">
                                    <div class="article-title ellipsis" ng-bind="manual.title"></div>
                                    <div class="article-content ellipsis3" ng-bind="manual.content"></div>
                                    <ul class="article-date">
                                        <li ng-bind="manual.date"></li>
                                        <li ng-bind="manual.writer"></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="p-y-md text-sm text-muted text-center pointer">
                            더보기 <i class="icon icon-down-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>

