<div id="storeinfo" ng-controller="ImgCropCtrl" ng-init="initial()">

<style>
.submenu ul {border-top:1px solid rgba(120,130,140,0.3); border-left:1px solid rgba(120,130,140,0.3);}
.submenu ul li {font-size: 0.8rem; text-align:center; border-right:1px solid rgba(120,130,140,0.3); border-bottom: 1px solid rgba(120,130,140,0.3); padding:0.5rem 0;}
.submenu .link-icon {height:3rem; font-size: 1.5rem; line-height:3.5rem;}
.submenu .link-name {height:2rem; line-height: 2rem; font-size: 0.8rem;}
</style>

    <div class="row">
    </div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-xs-12 col-lg-9">
            <div class="ls-sm text-md m-b">
                가맹점 프로필
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-3 pull-right">
            <div class="box m-b-lg submenu">
                <ul class="row no-gutter text-center">
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/info" ui-sref="app.store.info">
                            <div class="link-icon"><i class="icon icon-shop"></i></div>
                            <div class="link-name">가맹점</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/install" ui-sref="app.store.install">
                            <div class="link-icon"><i class="icon icon-browser-26"></i></div>
                            <div class="link-name">설치정보</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/pgsetting" ui-sref="app.store.pgsetting">
                            <div class="link-icon"><i class="icon icon-payment-method"></i></div>
                            <div class="link-name">PG연동</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/creditcard" ui-sref="app.store.creditcard">
                            <div class="link-icon"><i class="icon icon-credit-card"></i></div>
                            <div class="link-name">카드설정</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/now" ui-sref="app.store.now">
                            <div class="link-icon"><i class="icon icon-star"></i></div>
                            <div class="link-name">서비스</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/plan" ui-sref="app.store.plan">
                            <div class="link-icon"><i class="icon icon-browser-31"></i></div>
                            <div class="link-name">신청/변경</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/wallet" ui-sref="app.store.wallet">
                            <div class="link-icon"><i class="icon icon-wallet-1"></i></div>
                            <div class="link-name">지불정보</div>
                        </a>
                    </li>
                    <li class="col-xs-6 col-xl-4">
                        <a href="#/app/store/history" ui-sref="app.store.history">
                            <div class="link-icon"><i class="icon icon-invoice"></i></div>
                            <div class="link-name">이용내역</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9">
            <div class="box">
                <div class="box-body p-a-responsible-2x">
                    <!-- <div class="row-col m-b-lg">
                        <div class="col-sm-12 b-b">
                            <div class="form-title">가맹점 프로필</div>
                            <div class="form-answer">
                                아임포트를 신규 이용하실 경우 먼저 가맹점 프로필을 설정해주세요. <span class="hidden-md-down"><br></span>
                                가맹점 구성원일 경우 가입하려는 가맹점의 관리자가 가입승인을 하기 전까지 일부 기능의 사용이 제한됩니다.
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">  
                            <div class="form-radio-1" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                                <ul class="row no-gutter b-b m-b-lg">
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check">
                                            <input type="radio" class="inline" name="isadmin" ng-model="is_admin" ng-value="1" ng-click="click_admin()"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-shop"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">가맹점 관리자</div>
                                                <div class="text-muted text-xs ls-xs">가맹점 정보를 직접 설정합니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                    <li class="col-md-6 p-y-md">
                                        <label class="md-check">
                                            <input type="radio" class="inline" name="isadmin" ng-model="is_admin" ng-value="2" ng-click="click_member()"><i class="{{app.setting.theme.primary}}"></i>
                                            <div class="radio-icon">
                                                <i class="icon icon-padlock"></i>
                                            </div>
                                            <div class="radio-text">
                                                <div class="ls-xs">가맹점 구성원</div>
                                                <div class="text-muted text-xs ls-xs">가맹점 정보를 변경할 권한이 없습니다.</div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storename" class="form-label">가맹점 이름<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storename" placeholder="가맹점 이름" ng-model="app.store.name">
                                </div>
                            </div>
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storeurl" class="form-label">서비스 URL<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storeurl" placeholder="서비스 URL" ng-model="app.store.url">
                                </div>
                            </div>
                            <div class="row no-gutter m-b-lg p-b-lg b-b">
                                <div class="col-sm-12">
                                    <label for="storeemail" class="form-label">관리자 이메일<div class="asterisk">*</div></label>
                                    <input type="text" class="form-control form-value" id="storeemail" placeholder="관리자 이메일" ng-model="app.store.admin">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row no-gutter m-b">
                                <div class="col-sm-12">
                                    <label for="storememo" class="form-label">서비스 소개</label>
                                    <textarea class="form-control form-value h100" id="storememo" placeholder="서비스 소개" ng-model="app.store.about"></textarea>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-sm-12">
                                    <label for="storeurl" class="form-label">프로필 이미지</label>
                                    <div class="m-b">
                                        <input type="file" id="fileInput" class="form-control form-value" />
                                    </div>
                                    <div class="row no-gutter imgCropbox">
                                        <div class="col-sm-8">
                                            <div class="box" style="height:256px">
                                                <img-crop 
                                                image="myImage" 
                                                result-image="myCroppedImage"
                                                result-image-size="128"
                                                area-type="circle"
                                                ></img-crop>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="hidden-xs-down inline w15"></div>
                                            <div class="hidden-md-up h10"></div>
                                            <div class="inline">
                                                <div class="box img-circle">
                                                    <img ng-src="{{myCroppedImage}}" class="img-{{cropType}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col p-t-sm">
                        <div class="col-sm-12 b-t p-t-md text-right">
                            <button id="btn-save" class="btn btn-md w150 {{app.setting.theme.primary}}">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>