<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

	<!-- 섹션제목 -->
	<div class="row">
        <div class="col-xs-12">
			<div class="ls-sm text-md m-b">
				PG사 제휴 프로모션
			</div>
		</div>
	</div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white" onclick="location.href='#/app/home/dashboard'">처음화면</button>
                        </div>
                        <div class="btn-group pull-right p-b-sm">
                            <button class="btn btn-sm text-sm white" ng-click="showlist()"><i class="fa fa-list"></i></button>
                            <button class="btn btn-sm text-sm white" ng-click="showtile()"><i class="fa fa-th-large"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시글 목록 타일 -->
    <div id="tile" class="row m-b dp-none" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-xs-6 col-xl-4" ng-repeat="promo in promotionList" ng-show="$index < 8">
        	<a href="#/app/home/view" ui-sref="app.home.view">
	            <div class="box white promobox m-b-responsible">
	                <div class="box-body p-a-md h150">
	                	<div class="hidden-sm-down">
		                    <img src="../assets/images/pg/lt/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-dk">
		                    <img src="../assets/images/pg/dk/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-lt">
	                    </div>
	                    <div class="promoname ellipsis" ng-bind="promo.name"></div>
	                    <div class="promomemo ellipsis"><span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2" class="text-xs m-r-xs ls-xs"></span><span ng-bind="promo.memo3"></span></div>
	                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis2">아임포트 & <span ng-bind="promo.name"></span> 제휴 프로모션을 통해 <span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2"></span><span ng-bind="promo.memo3"></span>혜택을 드리고 있습니다. 아래 링크에서 가입신청서를 작성하시면 <span ng-bind="promo.name"></span> 상담원이 전화로 계약관련 준비하셔야 할 내용들을 안내해 드립니다.</div>
	                </div>
            	</div>
            </a>
        </div>
    </div>

    <!-- 게시글 목록 리스트 -->
    <div id="list" class="row article">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-x-responsible-2x p-y-responsible">
                    <div class="promobox">
                        <div class="p-y-md b-b-light pointer" ng-repeat="promo in promotionList">
				        	<a href="#/app/home/view" ui-sref="app.home.view">
			                    <img src="../assets/images/pg/lt/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-dk">
			                    <img src="../assets/images/pg/dk/{{promo.icon}}.png" alt="" class="w60 pull-right hidden-lt">
			                    <div class="promoname ellipsis" ng-bind="promo.name"></div>
			                    <div class="promomemo ellipsis"><span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2" class="text-xs m-r-xs ls-xs"></span><span ng-bind="promo.memo3"></span></div>
			                    <div class="text-xs m-t-sm text-muted ls-sm p-t-xs ellipsis2">아임포트 & <span ng-bind="promo.name"></span> 제휴 프로모션을 통해 <span ng-bind="promo.memo1"></span><span ng-bind="promo.memo2"></span><span ng-bind="promo.memo3"></span>혜택을 드리고 있습니다. 아래 링크에서 가입신청서를 작성하시면 <span ng-bind="promo.name"></span> 상담원이 전화로 계약관련 준비하셔야 할 내용들을 안내해 드립니다.</div>
				            </a>
                        </div>
                        <div class="p-y-md text-sm text-muted text-center pointer">
                            더보기 <i class="icon icon-down-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>

