<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

	<!-- 섹션제목 -->
	<div class="row">
        <div class="col-xs-12">
			<div class="ls-sm text-md m-b">
				아임포트 새소식
			</div>
		</div>
	</div>

	<!-- 본문 -->
    <div class="row article">
        <div class="col-xs-12">
            <div class="box m-b-responsible">
                <div class="box-body">
                	<div style="padding:1px; border-radius:2px 2px 0 0;">
                		<div style="height:400px; background-image:url('../assets/images/notice/sample-02.png'); background-size:cover; background-position:50% 50%; border-radius:2px 2px 0 0;"></div>	
                	</div>
				    <div class="p-x-responsible-2x p-y-responsible" ng-repeat="notice in noticeList" ng-show="$index==0">
				        <div class="row">
				            <div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2 p-a-responsible-2x">
				                <div class="b-b m-t p-b"><div class="l-h ls-md text-lg" ng-bind="notice.title"></div></div>
				                <div class="p-y text-muted text-xs">
				                	<span class="p-r-sm m-r-sm b-r" ng-bind="notice.date"></span>
				                	<span class="ls-xs" ng-bind="notice.writer"></span>
				                </div>
				                <div class="p-y ls-xs text-nm" style="line-height:180%;" ng-bind="notice.content">
				                </div>
				            </div>
				        </div>
				    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white" onclick="location.href='#/app/home/notice'">목록</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">이전글</button>
                            <button class="btn btn-sm text-sm white">다음글</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white" onclick="location.href='#/app/home/dashboard'">처음화면</button>
                        </div>
                        <div class="btn-group pull-right p-b-sm">
                            <button class="btn btn-sm text-sm white" ng-click="showlist()"><i class="fa fa-list"></i></button>
                            <button class="btn btn-sm text-sm white" ng-click="showtile()"><i class="fa fa-th-large"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시글 목록 타일 -->
    <div id="tile" class="row m-b dp-none" ng-controller="NoticeCtrl" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-md-6 col-xl-4" ng-repeat="notice in noticeList">
            <a href="#/app/home/view" ui-sref="app.home.view">
                <div class="box ratio white pointer" style="background-image:url('{{notice.image}}');">
                    <div class="inner bg">
                        <div class="box-header"><span class="text-nm" ng-bind="notice.title"></span></div>
                        <div class="box-body">
                            <div class="notice-memo text-xs text-muted" ng-bind="notice.date"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- 게시글 목록 리스트 -->
    <div id="list" class="row article">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-x-responsible-2x p-y-responsible">
                    <div>
                        <div class="p-y-md b-b-light pointer" ng-repeat="notice in noticeList">
                            <a href="#/app/home/view">
                                <div class="thumb" style="background-image:url('{{notice.image}}');"></div>
                                <div class="h120">
                                    <div class="article-title ellipsis" ng-bind="notice.title"></div>
                                    <div class="article-content ellipsis2" ng-bind="notice.content"></div>
                                    <ul class="article-date">
                                        <li ng-bind="notice.date"></li>
                                        <li ng-bind="notice.writer"></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="p-y-md text-sm text-muted text-center pointer">
                            더보기 <i class="icon icon-down-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

