<div class="padding">

	<div class="row">
		
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header">실시간 요약</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
					<table class="table-type-4">
						<tbody>
						<tr>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr>
							<td>1</td>
							<td>2</td>
						</tr>
						</tbody>
					</table>
                </div>
            </div>
        </div>
	
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header">결제 진행중 목록</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a" style="height:300px; overflow-y:scroll;">
                	<div class="box p-x-0 p-y-sm m-b-sm" ng-repeat="i in [1,2,3,4]">
						<div data-toggle="collapse" data-parent="#accordion" data-target="#faq_{{$index}}" class="pointer p-l-xs p-r-sm">
							<div class="pull-left w-40 m-r-xs">
								<i class="icon icon-play-button text-success text-lg"></i>
							</div>
	                		<div class="text-sm ls-xs">
								<div class="text-ellipsis">Harvard-Stanford Admission 준비교재 Harvard-Stanford Admission 준비교재</div>
								<ul class="text-xs text-muted">
	                				<li class="inline m-r-sm">곰돌이푸</li>
	                				<li class="inline m-r-sm">00:12:50</li>
	                				<li class="inline m-r-sm">2차시도</li>
	                			</ul>
							</div>
						</div>
						<div id="faq_{{$index}}" class="collapse b-t-light m-t-sm p-t-sm">
							<div class="text-xs ls-xs p-x-sm">
								<ul class="p-x-sm">
									<li>
										<div class="w80 pull-left text-muted">IMP UID</div>
										<div class="text-sm" style="padding-left:80px;">imp_639519926062</span>
									</li>
									<li>
										<div class="w80 pull-left text-muted">MID</div>
										<div class="text-sm" style="padding-left:80px;">wc_order_57422277037c2</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">결제금액</div>
										<div class="text-sm" style="padding-left:80px;">1,200</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">결제기기</div>
										<div class="text-sm" style="padding-left:80px;">PC</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">결제수단</div>
										<div class="text-sm" style="padding-left:80px;">신용카드</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">카드할부</div>
										<div class="text-sm" style="padding-left:80px;">일시불</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">결제PG</div>
										<div class="text-sm" style="padding-left:80px;">이니시스웹표준</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">주문자명</div>
										<div class="text-sm" style="padding-left:80px;">안현석</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">이메일</div>
										<div class="text-sm" style="padding-left:80px;">rayan@siot.do</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">전화번호</div>
										<div class="text-sm" style="padding-left:80px;">010-1234-5678</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">시작시간</div>
										<div class="text-sm" style="padding-left:80px;">2016-03-13 15:02:13</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">소요시간</div>
										<div class="text-sm" style="padding-left:80px;">12:02:13</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">PG승인번호</div>
										<div class="text-sm" style="padding-left:80px;">tlgda2016052416120350019(61100)</div>
									</li>
									<li>
										<div class="w80 pull-left text-muted">결제상태</div>
										<div class="text-sm" style="padding-left:80px;">결제성공</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header">PG Server Health Check</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                </div>
            </div>
        </div>
	
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header">결제장애 CS 매뉴얼</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                </div>
            </div>
        </div>





	</div>



</div>