<div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">실시간 주요 지표</div>
        </div>
    </div>

	<!-- 메인지표 -->
	<div class="row">	
	    <div class="col-xs-12 col-md-6 col-xl-3">
	        <div class="box m-b-responsible">
                <div class="box-header">
                    <span class="text-sm">활성화된 결제 진행중 세션</span>
                </div>
	            <div class="box-body p-a-0">
                    <div class="text-center h70">
	                   <div style="font-size:3rem;">15</div>
                    </div>
                    <ul class="p-a p-t-0 ls-xs">
                        <li class="row-col p-a-xs b-b">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-laptop"></i></div>데스크톱
                            </div>
                            <div class="col-xs-3 text-right">8</div>
                        </li>
                        <li class="row-col p-a-xs">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-mobile-phone"></i></div>모바일
                            </div>
                            <div class="col-xs-3 text-right">7</div>
                        </li>
                    </ul>
	            </div>
	        </div>
	    </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">
                    <span class="text-sm">이탈 고위험군 결제 세션</span>
                </div>
                <div class="box-body p-a-0">
                    <div class="text-center h70">
                       <div style="font-size:3rem;">4</div>
                    </div>
                    <ul class="p-a p-t-0 ls-xs">
                        <li class="row-col p-a-xs b-b">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-warning"></i></div>3차시도 이상
                            </div>
                            <div class="col-xs-3 text-right">3</div>
                        </li>
                        <li class="row-col p-a-xs">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-computer"></i></div>장애빈도 높은 접속환경
                            </div>
                            <div class="col-xs-3 text-right">1</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">
                    <span class="text-sm">평균 결제시도 차수</span>
                </div>
                <div class="box-body p-a-0">
                    <div class="text-center h70">
                       <div style="font-size:3rem;">1.8</div>
                    </div>
                    <ul class="p-a p-t-0 ls-xs">
                        <li class="row-col p-a-xs b-b">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-pause-button"></i></div>READY 상태
                            </div>
                            <div class="col-xs-3 text-right ls-0">64%</div>
                        </li>
                        <li class="row-col p-a-xs">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-stop-button"></i></div>FAILED 상태
                            </div>
                            <div class="col-xs-3 text-right ls-0">36%</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">
                    <span class="text-sm">평균 결제 소요시간</span>
                </div>
                <div class="box-body p-a-0">
                    <div class="text-center h70">
                       <div style="font-size:2.5rem; padding-top:0.5rem;">00:03:12</div>
                    </div>
                    <ul class="p-a p-t-0 ls-xs">
                        <li class="row-col p-a-xs b-b">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-laptop"></i></div>최대값
                            </div>
                            <div class="col-xs-3 text-right ls-0">00:15:21</div>
                        </li>
                        <li class="row-col p-a-xs">
                            <div class="col-xs-9">
                                <div class="w25 m-r-sm text-center inline"><i class="icon icon-mobile-phone"></i></div>최소값
                            </div>
                            <div class="col-xs-3 text-right ls-0">00:00:40</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>

    <!-- 섹션제목 -->
    <div class="row">
        <div class="col-md-12 p-t">
            <div class="ls-sm text-md m-b">진행 중 결제 내역</div>
        </div>
    </div>

	<!-- 결제진행중 내역 -->
	<div class="row">
	    <div class="col-sm-12">
	        <div class="box m-b-responsible">
	          <div class="">
				<div class="table-wrap">
		          	<table class="table-type-4">
		          		<thead>
		          			<tr>
		          				<th class="w10"></th>
		          				<th>주문명</th>
		          				<th>#</th>
		          				<th>금액</th>
		          				<th>구매자</th>
		          				<th>상태</th>
		          				<th>시작일시</th>
		          				<th>소요시간</th>
		          				<th>주문환경</th>
		          				<th>브라우저</th>
		          				<th>결제환경</th>
		          				<th class="w10"></th>
		          			</tr>
		          		</thead>
		          		<tbody>
		          			<tr ng-repeat="order in midList" data-toggle="modal" data-target="#payment_record">
		          				<td class="w10"></td>
		          				<td>
		          					<div class="circle w-8 {{status_to_color(order.status)}}"></div>
		          					<div class="inline p-l-sm" ng-bind="order.order_title"></div>
		          				</td>
		          				<td><span ng-bind="$index+1"></span></td>
		          				<td><span ng-bind="order.order_price|number:0"></span></td>
		          				<td><span ng-bind="order.order_buyer_name"></span></td>
		          				<td><span ng-bind="order.status" class="capitalize"></span></td>
		          				<td><span ng-bind="order.order_dtg"></span></td>
		          				<td><span ng-bind="timecount_mid($index)"></span></td>
		          				<td><span ng-bind="order.client_device"></span></td>
		          				<td><span ng-bind="order.client_browser"></span></td>
		          				<td><span ng-bind="order.pg_name"></span></td>
		          				<td class="w10"></td>
		          			</tr>
		          			<tr ng-repeat="i in [1,2,3,4,5,6,7,8]">
		          				<td><span class="hidden">1</span></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
		          				<td></td>
                                <td class="w10"></td>
		          			</tr>
		          		</tbody>
		          	</table>
		        </div>

	          </div>
	        </div>
	    </div>
	</div>



    <div class="row">
        
        <div class="col-sm-6">
            <div class="box m-b-responsible">
                <div class="box-header">
                    결제장애 공지사항
                </div>
                <div class="box-body p-t-sm">
                    <div class="table-wrap m-b-sm">
                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>결제장애 관련정보</th>
                                <th>글쓴이</th>
                                <th>날짜</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>JTNET 일괄 주문취소 처리 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>나이스정보통신 비인증결제 서버장애 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>KG이니시스 웹표준 크롬 최신버전 미지원 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>다날 휴대폰결제 진행 시 발생하는 스크롤바 장애 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="btn-group p-t-xs pull-right text-muted">
                        <button class="btn btn-xs white w30">1</button>
                        <button class="btn btn-xs white w30">2</button>
                        <button class="btn btn-xs white w30">3</button>
                        <button class="btn btn-xs white w30"><i class="icon icon-next"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="box m-b-responsible">
                <div class="box-header">
                    CS 안내 가이드
                </div>
                <div class="box-body p-t-sm">
                    <div class="table-wrap m-b-sm">
                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>결제장애 관련정보</th>
                                <th>글쓴이</th>
                                <th>날짜</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>JTNET 일괄 주문취소 처리 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>나이스정보통신 비인증결제 서버장애 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>KG이니시스 웹표준 크롬 최신버전 미지원 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>다날 휴대폰결제 진행 시 발생하는 스크롤바 장애 관련</td>
                                <td>아임포트</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="hidden">1</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="btn-group p-t-xs pull-right text-muted">
                        <button class="btn btn-xs white w30">1</button>
                        <button class="btn btn-xs white w30">2</button>
                        <button class="btn btn-xs white w30">3</button>
                        <button class="btn btn-xs white w30"><i class="icon icon-next"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 실시간 그래프 -->    
    <div class="row">
        <div class="col-sm-6">
            <div class="box m-b-responsible">
                <div class="box-header">
                    실시간 결제건수
                </div>
                <div class="box-body" style="height:300px;">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box m-b-responsible">
                <div class="box-header">
                  결제서버 응답기록
                </div>
                <div class="box-body p-t-sm" style="height:300px;">
                    <div class="table-wrap m-b-sm">
                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>결제서버</th>
                                <th>최종응답</th>
                                <th>응답기록날짜</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>아임포트 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>KG이니시스 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>나이스정보통신 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>LG유플러스 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>JTNET 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>카카오페이 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>시럽페이 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>다날(휴대폰결제) 결제서버</td>
                                <td><i class="w-8 circle success m-r-sm"></i>정상</td>
                                <td>2016-05-31 12:34:56</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="btn-group p-t-xs pull-right text-muted">
                        <button class="btn btn-xs white w30">1</button>
                        <button class="btn btn-xs white w30">2</button>
                        <button class="btn btn-xs white w30">3</button>
                        <button class="btn btn-xs white w30"><i class="icon icon-next"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





<!-- 모달창내용 -->
<div id="payment_record" class="modal fade" data-backdrop="true">
    <div class="row-col h-v">
        <div class="row-cell v-m">
            <div class="modal-dialog modal-lg" style="padding:0!important;">
                <div class="modal-content" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
                    <div class="modal-header dk p-a-sm">
                        <div class="ls-xs _400 text-sm l-h">결제내역 상세보기
                            <i class="pull-right icon icon-cancel-2 text-muted pointer text-xs" data-dismiss="modal"></i>
                        </div>
                    </div>
                    <div class="modal-body white text-left p-a-0">

    <div class="row no-gutter">
        
        <!-- 왼쪽 -->
        <div id="record_layout_left" class="col-xs-12 col-lg-4 p-a-responsible" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="overflow-y:scroll;">
            <div class="text-md ls-md p-y-md">결제내역 상세보기</div>
            <div class="text-sm ls-xs">
                <ul>
                    <li class="box-mid" ng-class="{'active' : impuid_active == 99}" ng-click="impuid_active = 99">
                        <div class="text-muted p-x-xs m-b-0 l-h text-2xs ls-0">Merchant UID</div>
                        <div class="text-ellipsis p-x-xs text-nm" ng-bind="orderList[0].merchant_uid"></div>
                    </li>
                </ul>
            </div>
            <div class="text-sm ls-xs b-l b-l-3x">
                <ul>
                    <li class="box-impuid" ng-repeat="order in orderList" ng-class="{'active' : impuid_active == $index}" ng-click="imp_click($index)">
                        <div class="pull-right w-8 circle {{status_to_color(orderList[$index].status)}}"></div>
                        <div class="text-muted p-x-xs m-b-0 l-h text-2xs ls-0">IMP UID</div>
                        <div class="text-ellipsis p-x-xs text-nm" ng-bind="order.imp_uid"></div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 오른쪽 -->
        <div id="record_layout_right" class="col-xs-12 col-lg-8 p-a-responsible" style="height:640px; overflow-y:scroll;">

            <!-- 타이틀(대상표시 및 기능버튼) -->
            <div class="text-md p-y-md ls-xs">
                <span ng-bind="orderList[impuid_active].imp_uid" ng-show="impuid_active < 99"></span>
                <span ng-bind="orderList[0].merchant_uid" ng-show="impuid_active == 99"></span>
                <div class="button_area_right">
                    <button class="btn btn-sm white text-sm m-r-xs" ng-show="impuid_active == 99 && orderList[last].status == 'paid'">결제취소</button>
                    <div class="btn-group">
                        <button class="btn btn-sm white text-sm p-x-sm" ng-click="prev_impuid()">
                            <i class="icon icon-back-3"></i>
                        </button>
                        <button class="btn btn-sm white text-sm p-x-sm" ng-click="next_impuid()">
                            <i class="icon icon-next-1"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- MID일 때 -->
            <div ng-show="impuid_active == 99">
                <div class="b-t p-y-lg">
                    
                    <!-- 주문정보 요약 -->
                    <h6 class="ls-sm p-b-xs">주문정보</h6>
                    <div class="box p-a-responsible">
                        <div class="row no-gutter">
                            <div class="col-xs-12">
                                <table class="table-type-3">
                                    <tbody>
                                    <tr>
                                        <td class="w100">주문명</td>
                                        <td><span ng-bind="orderList[last].order_title"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-xs-12 col-lg-6">
                                <table class="table-type-3">
                                    <tbody>
                                    <tr>
                                        <td>결제금액</td>
                                        <td><span ng-bind="orderList[last].order_price|number:0"></span></td>
                                    </tr>
                                    <tr>
                                        <td>구매자명</td>
                                        <td><span ng-bind="orderList[last].order_buyer_name"></span></td>
                                    </tr>
                                    <tr>
                                        <td>결제PG</td>
                                        <td><span ng-bind="orderList[last].pg_name"></span></td>
                                    </tr>
                                    <tr>
                                        <td>결제수단</td>
                                        <td><span ng-bind="orderList[last].pg_pay_method"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="w100">현재상태</td>
                                        <td><span ng-bind="status(last)"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <table class="table-type-3">
                                    <tbody>
                                    <tr>
                                        <td class="w100">결제시작</td>
                                        <td><span ng-bind="orderList[0].order_dtg"></span></td>
                                    </tr>
                                    <tr>
                                        <td>결제완료</td>
                                        <td><span ng-bind="status_dtg(last)"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="w100">소요시간</td>
                                        <td><span ng-bind="timecount_total()"></span></td>
                                    </tr>
                                    <tr>
                                        <td>기록상태</td>
                                        <td><div class="{{status_to_color(orderList[last].status)}} w-8 circle m-r-xs"></div><span ng-bind="orderList[last].status" class="capitalize"></span></td>
                                    </tr>
                                    <tr>
                                        <td>시도횟수</td>
                                        <td><span ng-bind="trycount(last)"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- 타임 그래프 그리기 -->
                    <h6 class="ls-sm p-b-xs">결제 소요시간</h6>
                    <div class="box p-a-responsible">
                        <div>
                            <div class="text-right text-2xs">
                                <div class="pull-left p-b-sm p-x-xs b-l"><span class="text-muted">00:00:00</span></div>
                                <div class="b-r p-b-sm p-x-xs"><span class="text-muted">{{timecount_total_second()}}</span></div>
                            </div>
                            <div ng-repeat="order in orderList">
                                <div class="pull-left {{status_to_color(orderList[$index].status)}}" style="height:25px; width:{{time_graph_percentage($index)}}%"></div>
                                <div class="bg-sm pull-left" style="height:25px; width:{{time_graph_percentage_wait($index)}}%"></div>
                            </div>
                            <div class="clearboth"></div>
                            <ul class="white b-l w100p">
                                <li class="b-r text-2xs text-muted pull-left ls-xs text-right p-t-xs p-r-xs hidden-md-down" style="width:5%; height:35px;" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{i*5}}</li>
                                <li class="b-r text-2xs text-muted pull-left ls-xs text-right p-t-xs p-r-xs hidden-lg-up" style="width:20%; height:35px;" ng-repeat="i in [1,2,3,4,5]">{{i*20}}</li>
                                <li class="clearboth"></li>
                            </ul>
                        </div>
                    </div>

                    <!-- 결제시도 비교 -->
                    <h6 class="ls-sm p-b-xs">결제시도별 비교</h6>
                    <div class="box p-a-responsible" ng-init="compare = 1">
                        <table class="table-type-3">
                            <tbody>
                            <tr>
                                <td class="w100"></td>
                                <td class="w180 hidden-md-down">IMP UID</td>
                                <td><span ng-bind="spec_compare_header()"></span><i class="icon icon-next-1 pull-right pointer" ng-click="spec_compare_next()"></i></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="w100p b-b p-b-sm m-b-sm"></div>
                                </td>
                            </tr>
                            <tr ng-repeat="order in orderList">
                                <td class="w100">{{$index+1}}차시도</td>
                                <td class="hidden-md-down"><span ng-bind="order.imp_uid"></span></td>
                                <td ng-show="compare==0"><span ng-bind="order.order_dtg"></span></td>
                                <td ng-show="compare==1"><span ng-bind="status($index)"></span></td>
                                <td ng-show="compare==2"><span ng-bind="timecount($index)"></span></td>
                                <td ng-show="compare==3"><div class="{{status_to_color(order.status)}} w-8 circle m-r-xs"></div><span ng-bind="order.status" class="capitalize"></span></td>
                                <td ng-show="compare==4"><span ng-bind="order.client_device"></span></td>
                                <td ng-show="compare==5"><span ng-bind="order.client_os"></span> <span ng-bind="order.client_os_v"></span></td>
                                <td ng-show="compare==6"><span ng-bind="order.client_browser"></span> <span ng-bind="order.client_browser_v"></span></td>
                                <td ng-show="compare==7"><span ng-bind="order.pg_name"></span></td>
                                <td ng-show="compare==8"><span ng-bind="order.pg_pay_method"></span> <span ng-bind="order.pg_card_quota"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            
            <!-- IMP UID 일 때 -->
            <div ng-show="impuid_active < 99">

                <!-- 주문정보 -->
                <div class="b-t p-y-lg">
                    <div class="row no-gutter">
                        <div class="col-md-3">
                            <div class="text-md ls-sm m-b-sm">주문정보</div>
                        </div>
                        <div class="col-md-9">
                            <table class="table-type-3">
                                <tbody>
                                <tr>
                                    <td class="w100">주문명</td>
                                    <td><span ng-bind="orderList[impuid_active].order_title"></span></td>
                                </tr>
                                <tr>
                                    <td>주문일시</td>
                                    <td><span ng-bind="orderList[impuid_active].order_dtg"></span></td>
                                </tr>
                                <tr>
                                    <td>결제금액</td>
                                    <td><span ng-bind="orderList[impuid_active].order_price|number:0"></span></td>
                                </tr>
                                <tr>
                                    <td>구매자명</td>
                                    <td><span ng-bind="orderList[impuid_active].order_buyer_name"></span></td>
                                </tr>
                                <tr>
                                    <td>상세정보</td>
                                    <td>
                                        <span ng-if="orderList[impuid_active].order_buyer_email"><span ng-bind="orderList[impuid_active].order_buyer_email"></span><br></span>
                                        <span ng-if="orderList[impuid_active].order_buyer_phone"><span ng-bind="orderList[impuid_active].order_buyer_phone"></span><br></span>
                                        <span ng-if="orderList[impuid_active].order_buyer_address"><span ng-bind="orderList[impuid_active].order_buyer_address"></span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- 결제환경 -->
                <div class="b-t p-y-lg">
                    <div class="row no-gutter">
                        <div class="col-md-3">
                            <div class="text-md ls-sm m-b-sm">결제환경</div>
                        </div>
                        <div class="col-md-9">
                            <table class="table-type-3">
                                <tbody>
                                <tr>
                                    <td class="w100">결제기기</td>
                                    <td><span ng-bind="orderList[impuid_active].client_device"></span></td>
                                </tr>
                                <tr>
                                    <td>운영체제</td>
                                    <td>
                                        <span ng-bind="orderList[impuid_active].client_os"></span>
                                        <span ng-bind="orderList[impuid_active].client_os_v"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>브라우저</td>
                                    <td>
                                        <span ng-bind="orderList[impuid_active].client_browser"></span>
                                        <span ng-bind="orderList[impuid_active].client_browser_v"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>결제PG</td>
                                    <td><span ng-bind="orderList[impuid_active].pg_name"></span></td>
                                </tr>
                                <tr>
                                    <td>상점ID</td>
                                    <td><span ng-bind="orderList[impuid_active].pg_storeid"></span></td>
                                </tr>
                                <tr>
                                    <td>결제수단</td>
                                    <td><span ng-bind="orderList[impuid_active].pg_pay_method"></span></td>
                                </tr>
                                <tr ng-hide="orderList[impuid_active].pg_card_quota == null">
                                    <td>카드할부</td>
                                    <td><span ng-bind="orderList[impuid_active].pg_card_quota"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- 결제상태 -->
                <div class="b-t p-y-lg">
                    <div class="row no-gutter">
                        <div class="col-md-3">
                            <div class="text-md ls-sm m-b-sm">결제상태</div>
                        </div>
                        <div class="col-md-9">
                            <table class="table-type-3">
                                <tbody>
                                <tr>
                                    <td class="w100">상태진단</td>
                                    <td><span ng-bind="status(impuid_active)"></span></td>
                                </tr>
                                <tr>
                                    <td>상태코드</td>
                                    <td><span ng-bind="status_msg(impuid_active)"></span></td>
                                </tr>
                                <tr>
                                    <td>발생일시</td>
                                    <td><span ng-bind="status_dtg(impuid_active)"></span></td>
                                </tr>
                                <tr>
                                    <td class="w100">소요시간</td>
                                    <td><span ng-bind="timecount(impuid_active)"></span></td>
                                </tr>
                                <tr>
                                    <td>기록상태</td>
                                    <td><div class="{{status_to_color(orderList[impuid_active].status)}} w-8 circle m-r-xs"></div><span ng-bind="orderList[impuid_active].status" class="capitalize"></span></td>
                                </tr>
                                <tr>
                                    <td>시도차수</td>
                                    <td><span ng-bind="trycount(impuid_active)"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>


                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>

