<div class="btn-group m-r-xs p-b-sm daterange">
    <input type="text" size="8" class="btn btn-sm text-sm white date date1 no-bounce" placeholder="시작일" id="start-date">
    <input type="text" size="8" class="btn btn-sm text-sm white date date2 no-bounce" placeholder="종료일" id="end-date">
</div>

<style>
.apply-btn {background-color: {{app.color[app.setting.theme.primary]}}; color: rgba(255, 255, 255, 0.87);}
.apply-btn.disabled {background-color: {{app.color[app.setting.theme.primary]}}; color: rgba(255, 255, 255, 0.87); opacity:.5;}
</style>

<script>
$('#start-date').dateRangePicker(
{
    separator : ' to ',
    getValue: function()
    {
        if ($('#start-date').val() && $('#end-date').val() )
            return $('#start-date').val() + ' to ' + $('#end-date').val();
        else
            return '';
    },
    setValue: function(s,s1,s2)
    {
        $('#start-date').val(s1);
        $('#end-date').val(s2);
    },
    showShortcuts: true,
    shortcuts :
    {
        'prev-days': [3,5,7],
        'prev': ['week','month'],
    },
    startOfWeek: 'sunday',
    language:'ko',
    customShortcuts:
    [
        //if return an array of two dates, it will select the date range between the two dates
        {
            name: '이번주',
            dates : function()
            {
                var start = moment().day(0).toDate();
                var end = moment().day(6).toDate();
                return [start,end];
            }
        },
        {
            name: '이번달',
            dates : function()
            {
                var start = moment(1,"DD").toDate();
                var end = moment(start).endOf('month').toDate();
                return [start,end];
            }
        }
    ]
}).bind('datepicker-first-date-selected', function(event, obj)
{
    /* This event will be triggered when first date is selected */
    console.log('first-date-selected',obj);
    // obj will be something like this:
    // {
    //      date1: (Date object of the earlier date)
    // }
})
</script>