<script>

$("#view").removeClass("container");	

// 구글지도
function initMap() {
	var siotspot = {lat: 37.525193, lng: 126.926025};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		mapTypeControl: false,
		center: siotspot,
		zoomControl: false,
		scaleControl: true
	});
	var marker = new google.maps.Marker({
	    position: siotspot,
	    map: map
	});
}
initMap();
</script>
	
<div class="padding h-v map_canvas" ng-init="map=true;" oncontextmenu="return false" onscrollstart="return false" ondragstart="return false" onselectstart="return false" style="margin-top:-3.5rem;">

	<!-- 구글지도 레이어 -->
	<div id="map" class="map_layer"></div>

	<!-- 지도 편집금지 (배경) -->
	<div class="map_bg" ng-show="map == true"></div>

	<!-- 회사정보 -->
	<div class="row" style="padding-top:3.5rem;">
		<div class="col-xs-12 col-sm-8 col-md-6 col-xl-4">
			<div class="box p-a-lg">
				<div class="m-b-md p-t-sm">
					<img src="../assets/images/logo-siot-lt.png" alt="" class="w60 pull-right hidden-dk cscenter-siot-logo">
					<img src="../assets/images/logo-siot-dk.png" alt="" class="w60 pull-right hidden-lt cscenter-siot-logo">
					<div class="text-md ls-sm">(주)시옷 <span class="m-l ls-0 text-muted">SIOT.inc</span></div>
				</div>
				<div class="m-b-md">
					<div class="ls-xs text-muted l-h">
						서울특별시 영등포구 국제금융로 10<br>
						서울국제금융센터 Three IFC 19층
						<span class="p-l-sm pointer text-xs text-muted" ng-click="map =! map" ng-show="map"><i class="icon icon-map-locator"></i>OPEN MAP</span>
						<span class="p-l-sm pointer text-xs text-muted" ng-click="map =! map" ng-hide="map"><i class="icon icon-map-locator"></i>LOCK MAP</span>
					</div>
				</div>
				<ul class="p-t-xs">
					<li class="m-b-xs">
						<div class="w80 ls-sm text-xs text-muted inline">이메일</div>
						iamport@siot.do
					</li>
					<li class="m-b-xs">
						<div class="w80 ls-sm text-xs text-muted inline">전화번호</div>
						1670-5176
					</li>
					<li class="m-b-xs">
						<div class="w80 ls-sm text-xs text-muted inline">운영시간</div>
						월-금 13:00 ~ 19:00
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>