<div class="padding p-t-md">

    <!-- 상단메뉴 -->
    <div class="row-col">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm">
                            <div class="btn btn-sm text-sm white">새 문의글 쓰기</div>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <input type="text" class="btn btn-sm text-sm white btn-search no-bounce text-left pointer-text ls-0">
                            <div class="btn btn-sm text-sm white date3">검색</div>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <div class="row">

        <!-- 질의응답 -->
        <div class="col-md-8 col-lg-9">
            <div class="m-b" id="accordion">
                <div class="panel box no-border m-b-xs" ng-repeat="faq in faqList" ng-show="faq.show">
                    <div class="box-header p-y-sm pointer" data-toggle="collapse" data-parent="#accordion" data-target="#faq_{{$index}}">
                        <span class="pull-right text-muted text-sm ls-xs hidden-md-down faq-category-label" ng-bind="categoryList[faq.category-1].name"></span>
                        <span class="text-nm ls-sm">{{faq.title}}</span>
                    </div>
                    <div id="faq_{{$index}}" class="collapse">
                        <div class="box-body ls-xs text-sm text-muted p-t-0">{{faq.content}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 카테고리 -->
        <div class="col-md-4 col-lg-3" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
            <div class="box">
                <ul class="list p-x-0 p-y-xs">
                    <li class="list-item p-x-md p-y-xs pointer" ng-repeat="cat in categoryList" ng-click="categoryClick($index)">
                        <div class="list-body p-a-0 p-y-xs">
                            <div class="text-{{app.setting.theme.primary}} faq-category-icon">
                                <i class="icon icon-{{cat.icon}}"></i>
                            </div>
                            <div class="faq-category-line">
                                <div class="pull-right text-{{app.setting.theme.primary}} faq-category-check" ng-show="category_checked == $index+1">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="ls-xs _500" ng-bind="cat.name"></div>
                                <small class="text-muted text-ellipsis ls-xs text-xs">
                                     <span ng-bind="categoryNumber($index)"></span>개의 질의응답이 있습니다.
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
