/* FLATKIT BASIC THEME STYLESHEET */
/* HIGHLY COMPRESSED BY CSS COMPRESSOR (http://csscompressor.com/)  */
/* 2016-06-17 */

html{height:100%;background-color:#e0e0e0}
body{height:auto;min-height:100%;position:relative;color:rgba(0,0,0,0.87);font-size:.875rem;background-color:#f8f8f8;-webkit-font-smoothing:antialiased}
.dropdown-menu{font-size:.875rem;color:rgba(0,0,0,0.87);border-radius:3px;border:1px solid rgba(0,0,0,0.1);-webkit-transform-origin:top left;-moz-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left}
.dropdown-menu > li:not(.dropdown-item) > a{display:block;padding:3px 20px}
.dropdown-menu > li:not(.dropdown-item) > a:hover,.dropdown-menu > li:not(.dropdown-item) > a:focus{background-color:rgba(0,0,0,0.065)}
.dropdown-menu > .divider{height:1px;margin:.5rem 0;overflow:hidden;background-color:rgba(120,130,140,0.13)}
.dropdown-menu .active{background-color:rgba(0,0,0,0.065)}
.dropdown-menu.pull-left{left:auto!important;right:100%}
.dropdown-menu.pull-right{left:auto;right:0;-webkit-transform-origin:top right;-moz-transform-origin:top right;-ms-transform-origin:top right;transform-origin:top right}
.dropdown-menu.pull-up{top:0}
.dropdown-menu.pull-down{top:100%!important;left:0!important}
.dropup .dropdown-menu{-webkit-transform-origin:bottom left;-moz-transform-origin:bottom left;-ms-transform-origin:bottom left;transform-origin:bottom left}
.dropup .dropdown-menu.pull-right{-webkit-transform-origin:bottom right;-moz-transform-origin:bottom right;-ms-transform-origin:bottom right;transform-origin:bottom right}
.dropdown-menu.datepicker,.dropdown-menu.timepicker{padding:6px;font-size:.8rem}
.dropdown-menu.datepicker .btn,.dropdown-menu.timepicker .btn{font-size:.8rem}
.dropdown-menu.datepicker .btn.btn-primary,.dropdown-menu.timepicker .btn.btn-primary{background-color:#6887ff;color:#fff}
.dropdown-menu.datepicker .btn:not(:hover),.dropdown-menu.timepicker .btn:not(:hover){box-shadow:0 0 1px transparent}
.dropdown-item{color:inherit}
.dropdown-item:hover,.dropdown-item:focus{color:inherit;background-color:rgba(0,0,0,0.065)}
.dropdown-divider{background-color:rgba(120,130,140,0.13)}
.dropdown-menu-scale{display:block;opacity:0;-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8);-webkit-transition:all 250ms cubic-bezier(0.24,0.22,0.015,1.56);transition:all 250ms cubic-bezier(0.24,0.22,0.015,1.56);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;pointer-events:none}
.open > .dropdown-menu-scale{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);pointer-events:auto;display:block!important}
.dropdown-header{padding:8px 16px}
.dropdown-submenu{position:relative}
.dropdown-submenu:hover > .dropdown-menu,.dropdown-submenu:focus > .dropdown-menu{display:block}
.dropdown-submenu .dropdown-menu{left:100%;top:0;margin-top:-6px;margin-left:-1px}
.dropup .dropdown-submenu > .dropdown-menu{top:auto;bottom:0;margin-bottom:-6px}
.popover{color:rgba(0,0,0,0.87)}
@media (max-width: 543px) {
.dropdown-menu.pull-none-xs{left:0}
}
.form-control{border-color:rgba(120,130,140,0.2);border-radius:0;min-height:2.375rem}
.form-control:focus{border-color:rgba(120,130,140,0.3)}
.form-control-lg{min-height:3.75rem}
.form-control-sm{min-height:2rem}
.form-control::-webkit-input-placeholder{color:inherit;opacity:.3}
.form-control::-moz-placeholder{color:inherit;opacity:.3}
.form-control:-ms-input-placeholder{color:inherit;opacity:.3}
.form-control-spin{position:absolute;z-index:2;right:10px;top:50%;margin-top:-7px}
.input-group-addon{border-color:rgba(120,130,140,0.2)!important;background-color:transparent;color:inherit}
.form-group-stack .form-control{margin-top:-1px;position:relative;border-radius:0}
.form-group-stack .form-control:focus,.form-group-stack .form-control:active{z-index:1}
.form-validation .form-control.ng-dirty.ng-invalid{border-color:#f44455}
.form-validation .form-control.ng-dirty.ng-valid,.form-validation .form-control.ng-dirty.ng-valid:focus{border-color:#6cc788}
.form-validation .ui-checks .ng-invalid.ng-dirty + i{border-color:#f44455}
.form-file{position:relative}
.form-file input{position:absolute;width:100%;height:100%;opacity:0}
.input-group-sm > .form-control{min-height:1.95rem}
option{color:#222}
.list-group{border-radius:3px;background:#fff}
.list-group.no-radius .list-group-item{border-radius:0!important}
.list-group.no-borders .list-group-item{border:none}
.list-group.no-border .list-group-item{border-width:1px 0;border-width:1px 0}
.list-group.no-border .list-group-item:first-child{border-top-width:0}
.list-group.no-border .list-group-item:last-child{border-bottom-width:0}
.list-group.no-bg .list-group-item{background-color:transparent}
.list-group.list-group-gap{background:transparent}
.list-group-item{border-color:rgba(120,130,140,0.065);background:transparent;padding:12px 16px;background-clip:padding-box}
.list-group-item.media{margin-top:0}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{color:inherit;background-color:rgba(0,0,0,0.065);border-color:rgba(120,130,140,0.065);border-bottom-color:rgba(120,130,140,0.065)}
.list-group-item.active a,.list-group-item.active:hover a,.list-group-item.active:focus a{color:inherit}
.list-group-item:first-child{border-top-color:rgba(120,130,140,0.13)}
.list-group-item:last-child{border-bottom-color:rgba(120,130,140,0.13)}
.list-group-alt .list-group-item:nth-child(2n+2){background-color:rgba(0,0,0,0.065)}
.list-group-alt .list-group-item.active:nth-child(2n+2){background-color:rgba(0,0,0,0.065)}
.list-group-lg .list-group-item{padding:16px 24px}
.list-group-md .list-group-item{padding-top:16px;padding-bottom:16px}
.list-group-sm .list-group-item{padding:10px 12px}
.list-group-gap .list-group-item{margin-bottom:5px;border-radius:3px}
.list-group-gap .list-group-item:first-child{border-top-color:rgba(120,130,140,0.065)}
.list-group-gap .list-group-item:last-child{border-bottom-color:rgba(120,130,140,0.065)}
a.list-group-item{color:inherit}
a.list-group-item:hover,a.list-group-item:focus,a.list-group-item.hover{color:inherit;background-color:rgba(0,0,0,0.065)}
.modal .left{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);-webkit-transition:-webkit-transform .4s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:-moz-transform .4s cubic-bezier(0.25,0.8,0.25,1);-o-transition:-o-transform .4s cubic-bezier(0.25,0.8,0.25,1);transition:transform .4s cubic-bezier(0.25,0.8,0.25,1)}
.modal .right{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-webkit-transition:-webkit-transform .4s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:-moz-transform .4s cubic-bezier(0.25,0.8,0.25,1);-o-transition:-o-transform .4s cubic-bezier(0.25,0.8,0.25,1);transition:transform .4s cubic-bezier(0.25,0.8,0.25,1)}
.modal .top{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-transition:-webkit-transform .4s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:-moz-transform .4s cubic-bezier(0.25,0.8,0.25,1);-o-transition:-o-transform .4s cubic-bezier(0.25,0.8,0.25,1);transition:transform .4s cubic-bezier(0.25,0.8,0.25,1)}
.modal .bottom{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-transition:-webkit-transform .4s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:-moz-transform .4s cubic-bezier(0.25,0.8,0.25,1);-o-transition:-o-transform .4s cubic-bezier(0.25,0.8,0.25,1);transition:transform .4s cubic-bezier(0.25,0.8,0.25,1)}
.modal.in .left,.modal.in .right,.modal.in .top,.modal.in .bottom{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.modal.inactive{bottom:auto;overflow:visible}
.modal-open-aside{overflow:visible}
.modal > .left{position:fixed;z-index:1055;top:0;left:0;right:auto;bottom:0}
.modal > .right{position:fixed;z-index:1055;top:0;left:auto;right:0;bottom:0}
.modal > .top{position:fixed;z-index:1055;top:0;left:0;right:0;bottom:auto}
.modal > .bottom{position:fixed;z-index:1055;top:auto;left:0;right:0;bottom:0}
.modal-header,.modal-content,.modal-footer{border-color:rgba(120,130,140,0.13)}
.modal-content{color:rgba(0,0,0,0.87)}
.aside{color:rgba(0,0,0,0.87)}
.aside-header,.aside-header .close{color:inherit!important;background-color:transparent!important}
.aside-header,.aside-footer{border-color:rgba(120,130,140,0.13)!important}
.aside-title{font-size:1.2rem;margin:.45rem 0}
.modal.animate .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.modal.animate .fade-right-big{-webkit-animation:fadeOutLeftBig .5s;animation:fadeOutLeftBig .5s}
.modal.animate .fade-left-big{-webkit-animation:fadeOutRightBig .5s;animation:fadeOutRightBig .5s}
.modal.animate .fade-up-big{-webkit-animation:fadeOutUpBig .5s;animation:fadeOutUpBig .5s}
.modal.animate .fade-down-big{-webkit-animation:fadeOutDownBig .5s;animation:fadeOutDownBig .5s}
.modal.animate .fade-right{-webkit-animation:fadeOutLeft .5s;animation:fadeOutLeft .5s}
.modal.animate .fade-left{-webkit-animation:fadeOutRight .5s;animation:fadeOutRight .5s}
.modal.animate .fade-up{-webkit-animation:fadeOutUp .5s;animation:fadeOutUp .5s}
.modal.animate .fade-down{-webkit-animation:fadeOutDown .5s;animation:fadeOutDown .5s}
.modal.animate .flip-x{-webkit-animation:flipOutX .5s;animation:flipOutX .5s}
.modal.animate .flip-y{-webkit-animation:flipOutY .5s;animation:flipOutY .5s}
.modal.animate .zoom{-webkit-animation:zoomOut .5s;animation:zoomOut .5s}
.modal.animate .roll{-webkit-animation:rollOut .5s;animation:rollOut .5s}
.modal.animate .bounce{-webkit-animation:bounceOut .5s;animation:bounceOut .5s}
.modal.animate .rotate{-webkit-animation:rotateOut .5s;animation:rotateOut .5s}
.modal.animate.in .fade-right-big{-webkit-animation:fadeInRightBig .5s;animation:fadeInRightBig .5s}
.modal.animate.in .fade-left-big{-webkit-animation:fadeInLeftBig .5s;animation:fadeInLeftBig .5s}
.modal.animate.in .fade-up-big{-webkit-animation:fadeInUpBig .5s;animation:fadeInUpBig .5s}
.modal.animate.in .fade-down-big{-webkit-animation:fadeInDownBig .5s;animation:fadeInDownBig .5s}
.modal.animate.in .fade-right{-webkit-animation:fadeInRight .5s;animation:fadeInRight .5s}
.modal.animate.in .fade-left{-webkit-animation:fadeInLeft .5s;animation:fadeInLeft .5s}
.modal.animate.in .fade-up{-webkit-animation:fadeInUp .5s;animation:fadeInUp .5s}
.modal.animate.in .fade-down{-webkit-animation:fadeInDown .5s;animation:fadeInDown .5s}
.modal.animate.in .flip-x{-webkit-animation:flipInX .5s;animation:flipInX .5s}
.modal.animate.in .flip-y{-webkit-animation:flipInY .5s;animation:flipInY .5s}
.modal.animate.in .zoom{-webkit-animation:zoomIn .5s;animation:zoomIn .5s}
.modal.animate.in .roll{-webkit-animation:rollIn .5s;animation:rollIn .5s}
.modal.animate.in .bounce{-webkit-animation:bounceIn .5s;animation:bounceIn .5s}
.modal.animate.in .rotate{-webkit-animation:rotateIn .5s;animation:rotateIn .5s}
.nav{border:inherit}
.nav-item{border:inherit}
.nav-link{border:inherit;position:relative}
.nav-md .nav-link{padding:.5rem 1rem}
.nav-sm .nav-link{padding:.25rem .75rem}
.nav-xs .nav-link{padding:.15rem .5rem;font-size:90%}
.nav-rounded .nav-link{border-radius:2rem}
.nav-tabs{border-bottom-width:0;position:relative;z-index:1}
.nav-tabs .nav-link{background:transparent!important;color:inherit!important}
.nav-tabs .nav-link.active,.nav-tabs .nav-link.active:hover,.nav-tabs .nav-link.active:focus,.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus{border-color:rgba(120,130,140,0.13);border-bottom-color:transparent}
.tab-content.tab-alt .tab-pane{display:block;height:0;overflow:hidden}
.tab-content.tab-alt .tab-pane.active{height:auto;overflow:visible}
.nav-justified .nav-item{display:table-cell;width:1%;float:none!important;text-align:center}
.nav-lists .nav-item{border-bottom:1px solid rgba(120,130,140,0.13);background-clip:padding-box}
.nav-active-border .nav-link:before{content:'';position:absolute;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;left:50%;right:50%;bottom:0;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent}
.nav-active-border .nav-link:hover:before,.nav-active-border .nav-link:focus:before,.nav-active-border .nav-link.active:before{left:0;right:0;border-bottom-color:inherit}
.nav-active-border.top .nav-link:before{bottom:auto;top:0}
.nav-active-border.left .nav-link{float:none}
.nav-active-border.left .nav-link:before{border-bottom-width:0;right:auto;border-left-width:3px;border-left-style:solid;border-left-color:transparent;left:0;top:50%;bottom:50%}
.nav-active-border.left .nav-link:hover:before,.nav-active-border.left .nav-link:focus:before,.nav-active-border.left .nav-link.active:before{top:0;bottom:0;border-left-color:inherit}
.nav-active-border.left.right .nav-link:before{left:auto;right:0}
.breadcrumb{background-color:rgba(0,0,0,0.065)}
.breadcrumb > li + li:before{content:'/ '}
.pagination .page-item,.pagination > li > a,.pagination > li > span,.pager .page-item,.pager > li > a,.pager > li > span{color:inherit!important;background-color:transparent!important;border-color:rgba(120,130,140,0.13)!important}
.pagination .page-item:hover,.pagination .page-item:focus,.pagination > li > a:hover,.pagination > li > a:focus,.pagination > li > span:hover,.pagination > li > span:focus,.pager .page-item:hover,.pager .page-item:focus,.pager > li > a:hover,.pager > li > a:focus,.pager > li > span:hover,.pager > li > span:focus{border-color:rgba(120,130,140,0.13);background-color:rgba(0,0,0,0.065);color:inherit}
.pagination .page-item.active,.pagination > .active > a,.pagination > .active > span,.pager .page-item.active,.pager > .active > a,.pager > .active > span{color:#fff!important;background-color:#0cc2aa!important;border-color:#0cc2aa!important}
.pagination > li{display:inline;list-style:none}
.pagination > li > a{position:relative;float:left;padding:.5rem .75rem;margin-left:-1px;line-height:1.5;color:#0275d8;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination > li > a:focus{color:#014c8c;background-color:#eceeef;border-color:#ddd}
@media (hover: hover) {
.pagination > li > a:hover{color:#014c8c;background-color:#eceeef;border-color:#ddd}
}
.progress[value]::-webkit-progress-bar{background-color:rgba(0,0,0,0.065)}
.progress{border-radius:.25rem;overflow:hidden;background-color:rgba(0,0,0,0.065)}
.progress-bar{display:inline-block;float:left;height:100%;border-radius:.25rem;text-align:center;background-color:#0074d9;font-size:.8em;-webkit-transition:width .6s ease;transition:width .6s ease}
.progress-xxs{height:4px}
.progress-xs{height:8px}
.progress-sm{height:12px;font-size:.8em}
.progress-striped .progress-bar,.progress-bar-striped{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);-webkit-background-size:40px 40px;background-size:40px 40px}
.progress.active .progress-bar,.progress-bar.active{-webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite}
@-webkit-keyframes progress-bar-stripes {
from{background-position:40px 0}
to{background-position:0 0}
}
@-o-keyframes progress-bar-stripes {
from{background-position:40px 0}
to{background-position:0 0}
}
@keyframes progress-bar-stripes {
from{background-position:40px 0}
to{background-position:0 0}
}
.col-0{clear:left}
.row.no-gutter{margin-left:0;margin-right:0}
.row.no-gutter [class*="col-"]{padding-left:0;padding-right:0}
.row{margin-left:-12px;margin-right:-12px}
.row [class*="col-"]{padding-left:12px;padding-right:12px}
.row-sm{margin-left:-8px;margin-right:-8px}
.row-sm [class*="col-"]{padding-left:8px;padding-right:8px}
.row-xs{margin-left:-4px;margin-right:-4px}
.row-xs [class*="col-"]{padding-left:4px;padding-right:4px}
@media (max-width: 991px) {
.row{margin-left:-8px;margin-right:-8px}
.row [class*="col-"]{padding-left:8px;padding-right:8px}
.row-2 [class*="col"]{width:50%;float:left}
.row-2 .col-0{clear:none}
.row-2 li:nth-child(odd){clear:left;margin-left:0}
}
@media (max-width: 767px) {
.row{margin-left:-4px;margin-right:-4px}
.row [class*="col-"]{padding-left:4px;padding-right:4px}
}
.panel .table{border-color:rgba(120,130,140,0.045)!important}
.table > tbody > tr > td,.table > tbody > tr > th,.table > tfoot > tr > td,.table > tfoot > tr > th{padding-left:16px;padding-right:16px;border-color:rgba(120,130,140,0.045)}
.table > thead > tr > th{padding:10px 16px;border-color:rgba(120,130,140,0.045)}
.table-condensed thead > tr > th,.table-condensed tbody > tr > th,.table-condensed tfoot > tr > th,.table-condensed thead > tr > td,.table-condensed tbody > tr > td,.table-condensed tfoot > tr > td{padding:5px}
.table-bordered{border-color:rgba(120,130,140,0.045)}
.table-striped > tbody > tr:nth-child(odd){background-color:rgba(0,0,0,0.025);background-clip:padding-box}
.table-striped > thead > th{background-color:rgba(0,0,0,0.025);border-right:1px solid rgba(120,130,140,0.045)}
.table-striped > thead > th:last-child{border-right:none}
.table-hover tr:hover,.table tr.active,.table td.active,.table th.active{background-color:rgba(0,0,0,0.065)!important}
.avatar{position:relative;display:inline-block;width:40px;line-height:1;border-radius:500px;white-space:nowrap;font-weight:700}
.avatar img{border-radius:500px;width:100%}
.avatar i{position:absolute;left:0;top:0;width:10px;height:10px;margin:1px;border-width:2px;border-style:solid;border-radius:100%}
.avatar i.right{left:auto;right:0}
.avatar i.bottom{left:auto;top:auto;bottom:0;right:0}
.avatar i.left{top:auto;bottom:0}
.avatar i.on{background-color:#6cc788}
.avatar i.off{background-color:#f8f8f8}
.avatar i.away{background-color:#f77a99}
.avatar i.busy{background-color:#f44455}
.avatar.w-32 i{margin:0}
.avatar.w-48 i{margin:2px}
.avatar.w-56 i{margin:3px}
.avatar.w-64 i{margin:4px}
.avatar.w-96 i{margin:9px}
.avatar.w-128 i{margin:14px}
.row-col{display:table;table-layout:fixed;border-spacing:0;width:100%;height:100%}
.row-col > [class*="col-"],.row-col > [class*=" col-"]{vertical-align:top;float:none;padding:0;position:static}
.row-row{display:table-row;height:100%}
.row-cell{display:table-cell;vertical-align:top}
.row-body{position:relative;height:100%;width:100%;-webkit-overflow-scrolling:touch;overflow:auto}
.ie .row-body{display:table-cell}
.row-inner{position:absolute;top:0;bottom:0;left:0;right:0}
@media (min-width: 992px) {
.row-col > [class*="col-lg"],.row-col > [class*=" col-lg"]{display:table-cell;height:100%}
}
@media (min-width: 768px) {
.row-col > [class*="col-md"],.row-col > [class*=" col-md"]{display:table-cell;height:100%}
}
@media (min-width: 544px) {
.row-col > [class*="col-sm"],.row-col > [class*=" col-sm"]{display:table-cell;height:100%}
}
.row-col > [class*="col-xs"],.row-col > [class*=" col-xs"]{display:table-cell;height:100%}
@media (max-width: 543px) {
.row-col-xs{display:block}
.row-col-xs .row-body{overflow:visible!important}
.row-col-xs .row-inner{position:static}
}
.ui-check{position:relative;padding-left:20px;cursor:pointer}
.ui-check input{opacity:0;position:absolute;z-index:-1}
.ui-check input:checked + i:before{left:5px;top:5px;width:6px;height:6px;background-color:#0cc2aa}
.ui-check input:checked + span .active{display:inherit}
.ui-check input[type="radio"] + i,.ui-check input[type="radio"] + i:before{border-radius:50%}
.ui-check input[disabled] + i,fieldset[disabled] .ui-check input + i{border-color:rgba(134,143,152,0.2)}
.ui-check input[disabled] + i:before,fieldset[disabled] .ui-check input + i:before{background-color:rgba(134,143,152,0.2)}
.ui-check > i{width:16px;height:16px;line-height:1;box-shadow:0 0 1px rgba(120,130,140,0.35);margin-left:-20px;margin-top:-2px;display:inline-block;vertical-align:middle;margin-right:4px;background-clip:padding-box;position:relative}
.ui-check > i:before{content:"";position:absolute;left:50%;top:50%;width:0;height:0;background-color:transparent}
.ui-check > span{margin-left:-20px}
.ui-check > span .active{display:none}
.ui-check.ui-check-color input:checked + i:before{background-color:#fff}
.ui-check-md input:checked + i:before{left:6px;top:6px}
.ui-check-md > i{width:18px;height:18px}
.ui-check-lg input:checked + i:before{width:12px;height:12px;left:9px;top:9px}
.ui-check-lg > i{width:30px;height:30px}
[layout]{box-sizing:border-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}
[layout=column]{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
[layout=row]{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
[layout-wrap]{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
[layout-fill]{margin:0;min-height:100%;width:100%}
[flex]{box-sizing:border-box;-webkit-flex:1;-ms-flex:1;flex:1}
[flex-no-shrink]{flex-shrink:0}
.list{padding-left:0;padding-right:0;border-radius:3px}
.list.no-border{padding-top:8px;padding-bottom:8px}
.list-item{display:block;position:relative;padding:12px 16px}
.list-item::after{content:"";display:table;clear:both}
.list-item:last-child .list-body:after{border:none}
.no-border .list-item{padding-top:8px;padding-bottom:8px}
.no-padding .list-item{padding-left:0;padding-right:0}
.list-left{float:left;padding-right:1rem}
.list-left + .list-body{margin-left:56px}
.list-body h3{font-size:16px;margin:0 0 3px;font-weight:400}
.list-body:after{content:"";position:absolute;left:0;right:0;bottom:0;border-bottom:1px solid rgba(120,130,140,0.065)}
.inset .list-body:after{left:72px}
.no-border .list-body:after{display:none}
.dark .btn-default.form-control,.black .btn-default.form-control,.grey .btn-default.form-control{background:transparent!important;background-color:rgba(255,255,255,0.1)!important;color:inherit!important}
.ui-select-bootstrap > .ui-select-choices{overflow-y:scroll}
.box .dataTables_wrapper{padding-top:10px}
.box .dataTables_wrapper > .row{margin:0}
.box .dataTables_wrapper > .row > .col-sm-12{padding:0}
.dataTables_wrapper.form-inline .form-control{width:auto}
.footable-odd{background-color:rgba(0,0,0,0.025)!important}
.note-editor{border-width:0!important;overflow:visible!important;background-color:inherit}
.note-toolbar .note-color .dropdown-toggle{padding-left:2px!important}
.note-editor .note-editing-area .note-editable,.note-editor .note-statusbar{background-color:transparent!important;color:inherit!important}
.note-toolbar{background-color:rgba(120,130,140,0.1)}
.ie .ie-show{display:block}
.nav a.waves-effect{-webkit-mask-image:-webkit-radial-gradient(circle,#fff 100%,#000 100%)}
.sortable-placeholder{list-style:none;border:1px dashed #fff;min-height:40px}
.lter{background-color:rgba(255,255,255,0.035)}
.dker{background-color:rgba(0,0,0,0.035)}
.light{background-color:#f8f8f8}
.white{background-color:#fff}
.dark-white{color:rgba(0,0,0,0.87);background-color:#fff}
.black{color:rgba(255,255,255,0.87);background-color:#2a2b3c}
.black .lt{background-color:#2f3044}
.black .dk{background-color:#252635}
.black .bg{background-color:#2a2b3c}
.dark{color:rgba(255,255,255,0.87);background-color:#2e3e4e}
.dark .lt{background-color:#334456}
.dark .dk{background-color:#293846}
.dark .bg{background-color:#2e3e4e}
.grey{color:rgba(255,255,255,0.87);background-color:#424242}
.grey .lt{background-color:#484848}
.grey .dk{background-color:#3c3c3c}
.grey .bg{background-color:#424242}
.primary{color:rgba(255,255,255,0.87);background-color:#0cc2aa}
.primary .lt{background-color:#0dceb5}
.primary .dk{background-color:#0bb69f}
.primary .bg{background-color:#0cc2aa}
.accent{color:rgba(255,255,255,0.87);background-color:#a88add}
.accent .lt{background-color:#af94e0}
.accent .dk{background-color:#a180da}
.accent .bg{background-color:#a88add}
.warn{color:rgba(255,255,255,0.87);background-color:#fcc100}
.warn .lt{background-color:#ffc60a}
.warn .dk{background-color:#efb700}
.warn .bg{background-color:#fcc100}
.success{color:rgba(255,255,255,0.87);background-color:#6cc788}
.success .lt{background-color:#75cb8f}
.success .dk{background-color:#63c381}
.success .bg{background-color:#6cc788}
.info{color:rgba(255,255,255,0.87);background-color:#6887ff}
.info .lt{background-color:#7591ff}
.info .dk{background-color:#5b7dff}
.info .bg{background-color:#6887ff}
.warning{color:rgba(255,255,255,0.87);background-color:#f77a99}
.warning .lt{background-color:#f886a2}
.warning .dk{background-color:#f66e90}
.warning .bg{background-color:#f77a99}
.danger{color:rgba(255,255,255,0.87);background-color:#f44455}
.danger .lt{background-color:#f55060}
.danger .dk{background-color:#f3384a}
.danger .bg{background-color:#f44455}
.blue{color:rgba(255,255,255,0.87);background-color:#2196f3}
.blue .lt{background-color:#2d9cf4}
.blue .dk{background-color:#1590f2}
.blue .bg{background-color:#2196f3}
.white-overlay{background-color:rgba(255,255,255,0.85)}
.black-overlay{background-color:rgba(0,0,0,0.85)}
.gd-overlay{background-color:transparent!important;background-image:linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.5) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0)}
.bg-auto:before{content:"";position:absolute;width:inherit;top:0;bottom:0;background-color:inherit;border:inherit}
.bg-auto.b-l:before{margin-left:-1px}
.bg-auto.b-r:before{margin-right:-1px}
.no-bg{background-color:transparent!important}
@media (max-width: 767px) {
.no-bg-xs{background-color:transparent}
}
.dark .white,.dark .box{background-color:#354759}
.dark.app{background-color:#2e3e4e}
.black .white,.black .box{background-color:#313347}
.black.app{background-color:#2a2b3c}
.grey .white,.grey .box{background-color:#4b4b4b}
.grey.app{background-color:#424242}
.dark .form-control,.black .form-control,.grey .form-control{background:transparent;background-color:rgba(255,255,255,0.1);color:inherit}
.dark .form-control:focus,.black .form-control:focus,.grey .form-control:focus{border-color:rgba(255,255,255,0.125)}
.dark .input-group-btn .btn,.black .input-group-btn .btn,.grey .input-group-btn .btn{background-color:rgba(255,255,255,0.1)!important;color:inherit!important}
.dark .list-group,.black .list-group,.grey .list-group{background-color:transparent}
.pos-rlt{position:relative;z-index:1}
.pos-abt{position:absolute}
.pos-fix{position:fixed!important}
.pos-stc{position:static!important}
@media (max-width: 767px) {
.pos-stc-sm{position:static!important}
}
@media (max-width: 543px) {
.pos-stc-xs{position:static!important}
}
.b-white{border-color:#fff}
.b-primary{border-color:#0cc2aa}
.b-t-primary{border-top-color:#0cc2aa}
.b-r-#e7f9f7{border-right-color:#0cc2aa}
.b-b-primary{border-bottom-color:#0cc2aa}
.b-l-primary{border-left-color:#0cc2aa}
.b-accent{border-color:#a88add}
.b-t-accent{border-top-color:#a88add}
.b-r-#f6f3fc{border-right-color:#a88add}
.b-b-accent{border-bottom-color:#a88add}
.b-l-accent{border-left-color:#a88add}
.b-warn{border-color:#fcc100}
.b-t-warn{border-top-color:#fcc100}
.b-r-#fff9e6{border-right-color:#fcc100}
.b-b-warn{border-bottom-color:#fcc100}
.b-l-warn{border-left-color:#fcc100}
.b-success{border-color:#6cc788}
.b-t-success{border-top-color:#6cc788}
.b-r-#f0f9f3{border-right-color:#6cc788}
.b-b-success{border-bottom-color:#6cc788}
.b-l-success{border-left-color:#6cc788}
.b-info{border-color:#6887ff}
.b-t-info{border-top-color:#6887ff}
.b-r-#f0f3ff{border-right-color:#6887ff}
.b-b-info{border-bottom-color:#6887ff}
.b-l-info{border-left-color:#6887ff}
.b-warning{border-color:#f77a99}
.b-t-warning{border-top-color:#f77a99}
.b-r-#fef2f5{border-right-color:#f77a99}
.b-b-warning{border-bottom-color:#f77a99}
.b-l-warning{border-left-color:#f77a99}
.b-danger{border-color:#f44455}
.b-t-danger{border-top-color:#f44455}
.b-r-#feecee{border-right-color:#f44455}
.b-b-danger{border-bottom-color:#f44455}
.b-l-danger{border-left-color:#f44455}
.b-light{border-color:#f8f8f8}
.b-t-light{border-top-color:#f8f8f8}
.b-r-#fefefe{border-right-color:#f8f8f8}
.b-b-light{border-bottom-color:#f8f8f8}
.b-l-light{border-left-color:#f8f8f8}
.b-grey{border-color:#424242}
.b-t-grey{border-top-color:#424242}
.b-r-#ececec{border-right-color:#424242}
.b-b-grey{border-bottom-color:#424242}
.b-l-grey{border-left-color:#424242}
.b-dark{border-color:#2e3e4e}
.b-t-dark{border-top-color:#2e3e4e}
.b-r-#eaeced{border-right-color:#2e3e4e}
.b-b-dark{border-bottom-color:#2e3e4e}
.b-l-dark{border-left-color:#2e3e4e}
.b-black{border-color:#2a2b3c}
.b-t-black{border-top-color:#2a2b3c}
.b-r-#eaeaec{border-right-color:#2a2b3c}
.b-b-black{border-bottom-color:#2a2b3c}
.b-l-black{border-left-color:#2a2b3c}
.b-white{border-color:#fff}
.b-t-white{border-top-color:#fff}
.b-r-white{border-right-color:#fff}
.b-b-white{border-bottom-color:#fff}
.b-l-white{border-left-color:#fff}
.b-blue{border-color:#2196f3}
.b-t-blue{border-top-color:#2196f3}
.b-r-#e9f5fe{border-right-color:#2196f3}
.b-b-blue{border-bottom-color:#2196f3}
.b-l-blue{border-left-color:#2196f3}
.hover-action{display:none}
.hover-rotate{-webkit-transition:all .2s ease-in-out .1s;transition:all .2s ease-in-out .1s}
.hover-anchor:hover .hover-action,.hover-anchor:focus .hover-action,.hover-anchor:active .hover-action{display:inherit}
.hover-anchor:hover .hover-rotate,.hover-anchor:focus .hover-rotate,.hover-anchor:active .hover-rotate{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.hover-top:hover,.hover-top:focus{position:relative;z-index:1000}
.scrollable{overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
.scrollable.hover{overflow-y:hidden}
.scrollable.hover > *{margin-top:-1px}
.scrollable.hover:hover,.scrollable.hover:focus,.scrollable.hover:active{overflow:visible;overflow-y:auto}
.smart .scrollable{overflow-y:auto!important}
a.primary:hover{background-color:#0bb69f}
a.text-primary:hover{color:#0bb69f}
.text-primary,.text-primary-hover a:hover{color:#0cc2aa!important}
a.warn:hover{background-color:#efb700}
a.text-warn:hover{color:#efb700}
.text-warn,.text-warn-hover a:hover{color:#fcc100!important}
a.accent:hover{background-color:#a180da}
a.text-accent:hover{color:#a180da}
.text-accent,.text-accent-hover a:hover{color:#a88add!important}
a.success:hover{background-color:#63c381}
a.text-success:hover{color:#63c381}
.text-success,.text-success-hover a:hover{color:#6cc788!important}
a.info:hover{background-color:#5b7dff}
a.text-info:hover{color:#5b7dff}
.text-info,.text-info-hover a:hover{color:#6887ff!important}
a.warning:hover{background-color:#f66e90}
a.text-warning:hover{color:#f66e90}
.text-warning,.text-warning-hover a:hover{color:#f77a99!important}
a.danger:hover{background-color:#f3384a}
a.text-danger:hover{color:#f3384a}
.text-danger,.text-danger-hover a:hover{color:#f44455!important}
a.dark:hover{background-color:#293846}
a.text-dark:hover{color:#293846}
.text-dark,.text-dark-hover a:hover{color:#2e3e4e!important}
a.blue:hover{background-color:#1590f2}
a.text-blue:hover{color:#1590f2}
.text-blue,.text-blue-hover a:hover{color:#2196f3!important}
.text-white{color:#fff!important}
.text-white-lt{color:rgba(255,255,255,0.54)}
.text-white-dk{color:rgba(255,255,255,0.87)}
.text-black{color:#000}
.text-black-lt{color:rgba(0,0,0,0.54)}
.text-black-dk{color:rgba(0,0,0,0.87)}
.app-aside{position:fixed!important;z-index:1030;float:left;height:100%}
.app-content{box-shadow:none}
.app-content::after{content:"";display:table;clear:both}
.app-header{position:absolute;top:0;left:0;right:0;margin:inherit;z-index:1020}
.app-header ~ .app-body{padding-top:4rem}
.app-body-inner{padding-top:inherit!important;padding-bottom:inherit!important;position:absolute;top:0;bottom:0;overflow:auto}
.app-footer{position:absolute;left:0;right:0;bottom:0;z-index:1;margin:inherit}
.app-footer:not(.hide) ~ .app-body{padding-bottom:3.125rem}
.app-fixed{overflow:hidden}
.app-fixed .app{height:100%}
.app-fixed .app-content{position:relative;min-height:100%}
.app-fixed .app-footer{margin-left:0}
.ie9 .app-aside{position:static!important}
.ie9 .app-aside .left{width:inherit;position:absolute}
@media (min-width: 992px) {
.app-aside{opacity:1;display:block!important;width:12.5rem}
.app-aside .scroll{width:12.5rem}
.app-aside:not(.hide) ~ .app-content{margin-left:12.5rem}
.app-aside .left{position:absolute;right:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.app-aside.lg:not(.folded){width:13.75rem}
.app-aside.lg:not(.folded) .scroll{width:13.75rem}
.app-aside.lg:not(.hide) ~ .app-content{margin-left:13.75rem}
.app-aside.sm:not(.folded){width:11.25rem}
.app-aside.sm:not(.folded) .scroll{width:11.25rem}
.app-aside.sm:not(.hide) ~ .app-content{margin-left:11.25rem}
.app-aside.folded{width:4rem}
.app-aside.folded:not(.hide) ~ .app-content{margin-left:4rem}
.app-aside.folded.md{width:5rem}
.app-aside.folded.md:not(.hide) ~ .app-content{margin-left:5rem}
.hide-scroll{width:auto;margin-right:-17px;overflow-y:scroll;-webkit-overflow-scrolling:touch}
body.container{box-shadow:0 1px 1px rgba(0,0,0,0.1);padding-left:0;padding-right:0}
body.container .container{padding-left:0;padding-right:0}
body.container .app-aside{left:inherit;right:auto}
body.container .app-aside ~ .app-content .app-header{width:46.25rem}
body.container .app-aside.lg ~ .app-content .app-header{width:45rem}
body.container .app-aside.sm ~ .app-content .app-header{width:47.5rem}
body.container .app-aside.folded ~ .app-content .app-header{width:54.75rem}
body.container .app-aside.folded.md ~ .app-content .app-header{width:53.75rem}
body.container .app-header{left:inherit;right:auto;margin-left:0;width:58.75rem}
}
@media (max-width: 991px) {
.app-aside.modal{width:100%;position:fixed;z-index:1050}
.app-aside .left{position:fixed;width:304px}
body.container{max-width:100%;padding-left:0;padding-right:0}
.app .container{max-width:100%;padding-left:0;padding-right:0}
}
@media print {
.app-aside{display:none}
.app-header{display:none}
.app-footer{display:none}
.switcher{display:none}
}
@media (min-width: 1200px) {
body.container .app-aside.lg ~ .app-content .app-header{width:57.5rem}
body.container .app-aside.sm ~ .app-content .app-header{width:60rem}
body.container .app-aside.folded ~ .app-content .app-header{width:67.25rem}
body.container .app-aside.folded.md ~ .app-content .app-header{width:66.25rem}
body.container .app-aside ~ .app-content .app-header{width:58.75rem}
body.container .app-header{width:71.25rem}
}
.navside{border:inherit}
.navside .navbar-brand{margin:0;padding:0}
.navside ul{padding-left:0;padding-right:0;list-style:none}
.navside [flex]{overflow:auto}
.navside .nav{border:inherit}
.navside .nav li{border:inherit;position:relative}
.navside .nav li a{display:block;padding:0 1rem;line-height:2.5rem;position:relative}
.navside .nav li a::after{content:"";display:table;clear:both}
.navside .nav li a:hover{background-color:rgba(0,0,0,0.05)}
.navside .nav li a:focus{background-color:rgba(0,0,0,0.05)}
.navside .nav li.active{background-color:rgba(0,0,0,0.05)}
.navside .nav li.active > a{background-color:transparent}
.navside .nav-header:hover{background-color:transparent!important}
.navside .nav-header:focus{background-color:transparent!important}
.navside .nav-header:after{display:none}
.navside .nav-text{opacity:.75}
.navside a:hover > .nav-text{opacity:1}
.navside a:focus > .nav-text{opacity:1}
.navside .active > a > .nav-text{opacity:1;font-weight:700}
.nav-fold{padding:.75rem 1rem}
.nav-text{display:block;line-height:1.125rem;padding:.75rem 0 0;font-size:.8rem!important}
.nav-text span{display:block}
.nav-text small{display:block}
.nav > li > a .nav-text{font-weight:500}
.navbar{border:none;margin:0;padding:0 1rem;flex-shrink:0;min-height:3.5rem}
.navbar .nav-text{line-height:1;vertical-align:middle;display:inline-block;padding:0}
.navbar .nav-text span.text-xs{margin-top:.25rem}
.navbar .nav-icon{margin-right:.5rem}
.navbar .nav-label{margin-left:.5rem}
.navbar .nav-caret{margin-left:.5rem}
.navbar .up{margin:0 -.6em}
.navbar .avatar{top:-2px}
.navbar .collapsing{clear:left;padding-bottom:1rem}
.navbar .collapse.in{clear:left;padding-bottom:1rem}
.navbar-item{margin-right:1rem;margin-bottom:0;padding:0;line-height:3.5rem;white-space:nowrap}
.navbar-nav > .nav-link{padding:0;line-height:3.5rem;white-space:nowrap}
.navbar-nav > .nav-item > .nav-link{padding:0;line-height:3.5rem;white-space:nowrap}
.navbar-md{min-height:4rem}
.navbar-md .navbar-nav > .nav-link{line-height:4rem}
.navbar-md .navbar-nav > .nav-item > .nav-link{line-height:4rem}
.navbar-md .navbar-item{line-height:4rem}
.navbar-sm{min-height:3rem}
.navbar-sm .navbar-nav > .nav-link{line-height:3rem}
.navbar-sm .navbar-nav > .nav-item > .nav-link{line-height:3rem}
.navbar-sm .navbar-item{line-height:3rem}
.collapsing .navbar-nav{float:none!important}
.collapsing .navbar-nav:not(.navbar-nav-inline) .nav-item{float:none;margin:0}
.collapsing .navbar-nav:not(.navbar-nav-inline) .nav-link{display:block;line-height:2!important}
.collapsing .navbar-form{margin:0!important;padding:.5rem 0;float:none!important}
.collapsing .nav-active-border{border-color:transparent}
.collapsing .dropdown-menu-scale{display:none}
.collapse.in .navbar-nav{float:none!important}
.collapse.in .navbar-nav:not(.navbar-nav-inline) .nav-item{float:none;margin:0}
.collapse.in .navbar-nav:not(.navbar-nav-inline) .nav-link{display:block;line-height:2!important}
.collapse.in .navbar-form{margin:0!important;padding:.5rem 0;float:none!important}
.collapse.in .nav-active-border{border-color:transparent}
.collapse.in .dropdown-menu-scale{display:none}
.nav-icon{float:left;line-height:inherit;margin-right:1rem;top:0;min-width:1.5rem;text-align:center}
.nav-icon i{position:relative}
.nav-icon i svg{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
.nav-icon i img{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
.nav-label{float:right;margin-left:1rem;font-style:normal;z-index:1}
.nav-caret{float:right;margin-left:1rem;opacity:.45}
.nav-caret i{-webkit-transition:transform .3s ease-in-out;transition:transform .3s ease-in-out}
.nav-sub{max-height:0;overflow:hidden;-webkit-transition:max-height .4s ease 0;transition:max-height .4s ease 0}
.active > .nav-sub{max-height:50rem}
.nav-border .nav > li.active:after{content:'';position:absolute;top:0;bottom:0;border-left-color:inherit;border-left-width:3px;border-left-style:solid}
.nav-stacked .nav{margin:0 8px}
.nav-stacked .nav > li > a{line-height:2rem;padding:0 .5rem;margin:2px 0}
.nav-stacked .nav > li > a .nav-text{padding:.4375rem 0}
.nav-stacked .nav > li li a{padding-left:3rem}
.nav-stacked .nav > li li li a{padding-left:4rem}
.nav-stacked .nav > li li li li a{padding-left:5rem}
.nav-stacked .nav > li.active > a{color:rgba(255,255,255,0.87);background-color:#0cc2aa}
.nav-stacked .nav li a{border-radius:3px}
.nav-stacked .nav .nav-header{padding-left:8px;padding-right:8px}
.nav-light .nav .nav-icon i svg{display:block}
.nav-light .nav .nav-icon i img{display:block}
.nav-center{text-align:center}
.nav-center .nav-icon{display:none}
.nav-center .nav-caret{position:absolute;right:10px}
.nav-center .nav-label{position:absolute;padding-left:10px}
.nav-center .nav a{padding-left:16px!important}
.nav-center .nav-fold .pull-left{float:none!important;margin-bottom:10px;display:inline-block}
.nav-active-bg .nav-link.active{color:rgba(0,0,0,0.87)!important;background-color:#f0f0f0!important}
.nav-active-bg .nav > li.active > a{color:rgba(0,0,0,0.87)!important;background-color:#f0f0f0!important}
.nav-active-dark .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#2e3e4e!important}
.nav-active-dark .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#2e3e4e!important}
.nav-active-black .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#2a2b3c!important}
.nav-active-black .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#2a2b3c!important}
.nav-active-primary .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#0cc2aa!important}
.nav-active-primary .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#0cc2aa!important}
.nav-active-accent .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#a88add!important}
.nav-active-accent .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#a88add!important}
.nav-active-warn .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#fcc100!important}
.nav-active-warn .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#fcc100!important}
.nav-active-success .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#6cc788!important}
.nav-active-success .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#6cc788!important}
.nav-active-info .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#6887ff!important}
.nav-active-info .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#6887ff!important}
.nav-active-warning .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#f77a99!important}
.nav-active-warning .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#f77a99!important}
.nav-active-danger .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#f44455!important}
.nav-active-danger .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#f44455!important}
.nav-active-light .nav-link.active{color:rgba(0,0,0,0.87)!important;background-color:#f8f8f8!important}
.nav-active-light .nav > li.active > a{color:rgba(0,0,0,0.87)!important;background-color:#f8f8f8!important}
.nav-active-white .nav-link.active{color:rgba(0,0,0,0.87)!important;background-color:#fff!important}
.nav-active-white .nav > li.active > a{color:rgba(0,0,0,0.87)!important;background-color:#fff!important}
.nav-active-red .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#f44336!important}
.nav-active-red .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#f44336!important}
.nav-active-pink .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#e91e63!important}
.nav-active-pink .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#e91e63!important}
.nav-active-purple .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#9c27b0!important}
.nav-active-purple .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#9c27b0!important}
.nav-active-deep-purple .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#673ab7!important}
.nav-active-deep-purple .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#673ab7!important}
.nav-active-indigo .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#3f51b5!important}
.nav-active-indigo .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#3f51b5!important}
.nav-active-blue .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#2196f3!important}
.nav-active-blue .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#2196f3!important}
.nav-active-light-blue .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#03a9f4!important}
.nav-active-light-blue .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#03a9f4!important}
.nav-active-cyan .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#00bcd4!important}
.nav-active-cyan .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#00bcd4!important}
.nav-active-teal .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#009688!important}
.nav-active-teal .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#009688!important}
.nav-active-green .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#4caf50!important}
.nav-active-green .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#4caf50!important}
.nav-active-light-green .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#8bc34a!important}
.nav-active-light-green .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#8bc34a!important}
.nav-active-lime .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#cddc39!important}
.nav-active-lime .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#cddc39!important}
.nav-active-yellow .nav-link.active{color:rgba(0,0,0,0.87)!important;background-color:#ffeb3b!important}
.nav-active-yellow .nav > li.active > a{color:rgba(0,0,0,0.87)!important;background-color:#ffeb3b!important}
.nav-active-amber .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#ffc107!important}
.nav-active-amber .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#ffc107!important}
.nav-active-orange .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#ff9800!important}
.nav-active-orange .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#ff9800!important}
.nav-active-deep-orange .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#ff5722!important}
.nav-active-deep-orange .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#ff5722!important}
.nav-active-brown .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#795548!important}
.nav-active-brown .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#795548!important}
.nav-active-blue-grey .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#607d8b!important}
.nav-active-blue-grey .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#607d8b!important}
.nav-active-grey .nav-link.active{color:rgba(255,255,255,0.87)!important;background-color:#424242!important}
.nav-active-grey .nav > li.active > a{color:rgba(255,255,255,0.87)!important;background-color:#424242!important}
@media (min-width: 992px) {
.folded{width:4rem}
.folded .scroll{width:4rem}
.folded .hidden-folded{display:none}
.folded .nav li ul{display:none;}
.folded .nav > li > a{text-align:center;padding-left:4px;padding-right:4px}
.folded .nav > li > a .nav-caret{display:none}
.folded .nav > li > a .nav-text{display:none}
.folded .nav > li > a .nav-label{position:absolute;top:-6px;right:6px}
.folded .nav > li > a .nav-icon{float:none;line-height:2.5rem;margin-left:0;margin-right:0;position:relative}
.folded .navbar{text-align:center;padding-left:4px;padding-right:4px}
.folded .nav-stacked .nav{margin:0 12px}
.folded .nav-fold{padding:8px 16px}
.folded .nav-fold .pull-left{float:none!important;margin:0}
.folded .nav-fold .pull-left img{width:100%;height:auto}
.folded.md{width:5rem}
.folded.md .scroll{width:5rem}
.folded.show-text .nav > li > a .nav-text{display:block;margin-top:-18px;font-size:.85em}
.folded.nav-expand{-webkit-transition:width .4s cubic-bezier(0.25,0.8,0.25,1);transition:width .4s cubic-bezier(0.25,0.8,0.25,1);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;overflow-x:hidden;overflow-y:auto;position:absolute}
.folded.nav-expand:hover{width:12.5rem!important}
.folded.nav-expand:hover .scroll{width:12.5rem!important}
.folded.nav-expand:hover > *{width:12.5rem}
.folded.nav-expand:hover .hidden-folded{display:block}
.folded.nav-expand:hover .hidden-folded.inline{display:inline-block}
.folded.nav-expand:hover .nav li ul{display:inherit}
.folded.nav-expand:hover .nav > li > a{text-align:left;padding-left:16px;padding-right:16px}
.folded.nav-expand:hover .nav > li > a .nav-caret{display:block}
.folded.nav-expand:hover .nav > li > a .nav-text{display:block;font-size:1em;margin:0}
.folded.nav-expand:hover .nav > li > a .nav-label{position:static}
.folded.nav-expand:hover .nav > li > a .nav-icon{float:left;line-height:inherit;margin-right:16px}
.folded.nav-expand:hover .navbar{text-align:left;padding-left:1rem;padding-right:1rem}
.folded.nav-expand:hover .nav-stacked .nav{margin:0 8px}
.folded.nav-expand:hover .nav-stacked .nav > li > a{padding:0 8px}
.folded.nav-expand:hover .nav-fold{padding:12px 16px}
.folded.nav-expand:hover .nav-fold .pull-left{float:left!important}
.folded.nav-expand:hover .nav-fold .pull-left img{height:auto}
.folded.nav-expand:hover .nav-fold .pull-left img.w-40{width:40px}
.folded.nav-expand:hover .nav-fold .pull-left img.w-48{width:48px}
.folded.nav-expand:focus{width:12.5rem!important}
.folded.nav-expand:focus .scroll{width:12.5rem!important}
.folded.nav-expand:focus > *{width:12.5rem}
.folded.nav-expand:focus .hidden-folded{display:block}
.folded.nav-expand:focus .hidden-folded.inline{display:inline-block}
.folded.nav-expand:focus .nav li ul{display:inherit}
.folded.nav-expand:focus .nav > li > a{text-align:left;padding-left:16px;padding-right:16px}
.folded.nav-expand:focus .nav > li > a .nav-caret{display:block}
.folded.nav-expand:focus .nav > li > a .nav-text{display:block;font-size:1em;margin:0}
.folded.nav-expand:focus .nav > li > a .nav-label{position:static}
.folded.nav-expand:focus .nav > li > a .nav-icon{float:left;line-height:inherit;margin-right:16px}
.folded.nav-expand:focus .navbar{text-align:left;padding-left:1rem;padding-right:1rem}
.folded.nav-expand:focus .nav-stacked .nav{margin:0 8px}
.folded.nav-expand:focus .nav-stacked .nav > li > a{padding:0 8px}
.folded.nav-expand:focus .nav-fold{padding:12px 16px}
.folded.nav-expand:focus .nav-fold .pull-left{float:left!important}
.folded.nav-expand:focus .nav-fold .pull-left img{height:auto}
.folded.nav-expand:focus .nav-fold .pull-left img.w-40{width:40px}
.folded.nav-expand:focus .nav-fold .pull-left img.w-48{width:48px}
.folded.nav-expand.active{width:12.5rem!important}
.folded.nav-expand.active .scroll{width:12.5rem!important}
.folded.nav-expand.active > *{width:12.5rem}
.folded.nav-expand.active .hidden-folded{display:block}
.folded.nav-expand.active .hidden-folded.inline{display:inline-block}
.folded.nav-expand.active .nav li ul{display:inherit}
.folded.nav-expand.active .nav > li > a{text-align:left;padding-left:16px;padding-right:16px}
.folded.nav-expand.active .nav > li > a .nav-caret{display:block}
.folded.nav-expand.active .nav > li > a .nav-text{display:block;font-size:1em;margin:0}
.folded.nav-expand.active .nav > li > a .nav-label{position:static}
.folded.nav-expand.active .nav > li > a .nav-icon{float:left;line-height:inherit;margin-right:16px}
.folded.nav-expand.active .navbar{text-align:left;padding-left:1rem;padding-right:1rem}
.folded.nav-expand.active .nav-stacked .nav{margin:0 8px}
.folded.nav-expand.active .nav-stacked .nav > li > a{padding:0 8px}
.folded.nav-expand.active .nav-fold{padding:12px 16px}
.folded.nav-expand.active .nav-fold .pull-left{float:left!important}
.folded.nav-expand.active .nav-fold .pull-left img{height:auto}
.folded.nav-expand.active .nav-fold .pull-left img.w-40{width:40px}
.folded.nav-expand.active .nav-fold .pull-left img.w-48{width:48px}
.nav-dropup.modal{overflow:visible!important}
.nav-dropup [flex]{overflow:visible!important}
.nav-dropup .row-body{overflow:visible!important}
.nav-dropup .nav > li:hover > ul{display:block}
.nav-dropup .nav > li:focus > ul{display:block}
.nav-dropup .nav > li > ul{display:none;overflow:visible;max-height:999px;color:rgba(255,255,255,0.87);background-color:rgba(0,0,0,0.87);border-radius:2px;box-shadow:0 1px 3px rgba(0,0,0,0.15);position:absolute;left:100%;top:0;padding:6px 0}
.nav-dropup .nav > li > ul a{padding-left:16px!important;padding-right:16px!important;min-width:160px}
.nav-dropup .nav > li > ul li.active ul{display:block}
.nav-dropup .nav > li > ul .nav-text{padding:6px 0!important}
.nav-dropup .nav > li .nav-mega{width:320px}
.nav-dropup .nav > li .nav-mega > li{width:160px;float:left}
.nav-dropup .nav > li .nav-mega.nav-mega-3{width:480px}
.folded.nav-dropdown.modal{overflow:visible!important}
.folded.nav-dropdown [flex]{overflow:visible!important}
.folded.nav-dropdown .row-body{overflow:visible!important}
.folded.nav-dropdown .nav > li:hover > ul{display:block}
.folded.nav-dropdown .nav > li:focus > ul{display:block}
.folded.nav-dropdown .nav > li > ul{display:none;overflow:visible;max-height:999px;color:rgba(255,255,255,0.87);background-color:rgba(0,0,0,0.87);border-radius:2px;box-shadow:0 1px 3px rgba(0,0,0,0.15);position:absolute;left:100%;top:0;padding:6px 0;padding-bottom:1rem;}
.folded.nav-dropdown .nav > li > ul a{padding-left:16px!important;padding-right:16px!important;min-width:160px}
.folded.nav-dropdown .nav > li > ul li.active ul{display:block}
.folded.nav-dropdown .nav > li > ul .nav-text{padding:6px 0!important}
.folded.nav-dropdown .nav > li .nav-mega{width:320px}
.folded.nav-dropdown .nav > li .nav-mega > li{width:160px;float:left}
.folded.nav-dropdown .nav > li .nav-mega.nav-mega-3{width:480px}
}
.md-check{cursor:pointer;padding-left:1.25rem;margin:0;display:inline-block;position:relative}
.md-check input{position:absolute;cursor:pointer;z-index:1;opacity:0;margin-left:-1.25rem}
.md-check input:checked + i:before{border-width:0;background-color:inherit}
.md-check input:checked + span .active{display:inherit}
.md-check input[type="radio"] + i,.md-check input[type="radio"] + i:before{border-radius:50%}
.md-check input[type="checkbox"]:checked + i:after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);position:absolute;left:6px;top:2px;display:table;width:6px;height:12px;border:2px solid;border-top:0;border-left:0;content:' '}
.md-check input[type="radio"]:checked + i:after{position:absolute;left:6px;top:6px;display:table;width:6px;height:6px;background:#fff;border-radius:50%;content:' '}
.md-check input[disabled] + i:before,fieldset[disabled] .md-check input + i:before{opacity:.5}
.md-check input[disabled]:checked + i:before{opacity:.5}
.md-check > i{width:0;height:18px;line-height:1;margin-left:-20px;margin-top:1px;float:left;display:inline-block;vertical-align:middle;margin-right:28px;position:relative}
.md-check > i:before{content:"";position:absolute;width:18px;height:100%;border:2px solid #9e9e9e;border-radius:2px;-webkit-transition:all .2s;transition:all .2s}
.md-check > i.no-icon:after{display:none!important}
.box-color{background-color:#fff;position:relative;margin-bottom:1.5rem;border-radius:5px!important}.w-64{width:64px}.w-96{width:96px}.w-128{width:128px}.w-xxs{width:60px}.w-xs{width:90px}.w-sm{width:120px}.w{width:180px}.w-md{width:200px}.w-lg{width:240px}.w-xl{width:280px}.w-xxl{width:320px}.w-full{width:100%}.w-auto{width:auto}.h-auto{height:auto}.h-full{height:100%}.h-v{height:100vh}.h-v-5{height:50vh}@media (max-width: 767px){.w-auto-sm{width:auto}.w-full-sm{width:100%}}@media (max-width: 543px){.w-auto-xs{width:auto}.w-full-xs{width:100%}}.md-form-group{padding:18px 0 24px;position:relative}.md-input{background:transparent;position:relative;z-index:5;border:0;box-shadow:none;border-radius:0;border-bottom:1px solid rgba(160,160,160,0.2);width:100%;height:34px;padding:2px;color:inherit}.md-input:focus,.md-input.focus{border-color:#0cc2aa;border-bottom-width:2px;padding-bottom:1px}.md-input:focus ~ label,.md-input.focus ~ label{color:#0cc2aa;opacity:1;top:0!important;font-size:.85em!important}.float-label .md-input ~ label{top:20px;font-size:1em}.float-label .md-input.ng-dirty ~ label,.float-label .md-input.has-value ~ label{top:0;font-size:.85em}.md-input ~ label{-webkit-transition:all .2s;transition:all .2s;font-size:.85em;position:absolute;z-index:0;opacity:.5;display:inline-block;top:0;left:0}.md-input.disabled,.md-input[disabled]{opacity:.5}textarea.md-input{height:auto}.md-input-white:focus,.md-input-white.focus{border-color:#fff}.md-input-white:focus ~ label,.md-input-white.focus ~ label{color:#fff}.md-input-msg{position:absolute;bottom:0;line-height:24px;font-size:.85em}.md-input-msg.right{right:0}.animated{-webkit-animation-duration:.5s;animation-duration:.5s}[ui-view].ng-leave{display:none}[ui-view].ng-leave.smooth{display:block}.smooth.ng-animate{position:absolute;width:100%;height:100%;overflow:hidden}.fade-in-right-big.ng-enter{-webkit-animation:fadeInRightBig .5s;animation:fadeInRightBig .5s}.fade-in-right-big.ng-leave{-webkit-animation:fadeOutLeftBig .5s;animation:fadeOutLeftBig .5s}.fade-in-left-big.ng-enter{-webkit-animation:fadeInLeftBig .5s;animation:fadeInLeftBig .5s}.fade-in-left-big.ng-leave{-webkit-animation:fadeOutRightBig .5s;animation:fadeOutRightBig .5s}.fade-in-up-big.ng-enter{-webkit-animation:fadeInUpBig .5s;animation:fadeInUpBig .5s}.fade-in-up-big.ng-leave{-webkit-animation:fadeOutUpBig .5s;animation:fadeOutUpBig .5s}.fade-in-down-big.ng-enter{-webkit-animation:fadeInDownBig .5s;animation:fadeInDownBig .5s}.fade-in-down-big.ng-leave{-webkit-animation:fadeOutDownBig .5s;animation:fadeOutDownBig .5s}.fade-in.ng-enter{-webkit-animation:fadeIn .5s;animation:fadeIn .5s}.fade-in.ng-leave{-webkit-animation:fadeOut .5s;animation:fadeOut .5s}.fade-in-right.ng-enter{-webkit-animation:fadeInRight .5s;animation:fadeInRight .5s}.fade-in-right.ng-leave{-webkit-animation:fadeOutLeft .5s;animation:fadeOutLeft .5s}.fade-in-left.ng-enter{-webkit-animation:fadeInLeft .5s;animation:fadeInLeft .5s}.fade-in-left.ng-leave{-webkit-animation:fadeOutRight .5s;animation:fadeOutRight .5s}.fade-in-up.ng-enter{-webkit-animation:fadeInUp .5s;animation:fadeInUp .5s}.fade-in-up.ng-leave{-webkit-animation:fadeOutUp .5s;animation:fadeOutUp .5s}.fade-in-down.ng-enter{-webkit-animation:fadeInDown .5s;animation:fadeInDown .5s}.fade-in-down.ng-leave{-webkit-animation:fadeOutDown .5s;animation:fadeOutDown .5s}