.box-color {
  background-color: #fff;
  position: relative;
  margin-bottom: 1.5rem; 
  border-radius: 5px!important;
}

.w-64 {
  width: 64px; }

.w-96 {
  width: 96px; }

.w-128 {
  width: 128px; }

.w-xxs {
  width: 60px; }

.w-xs {
  width: 90px; }

.w-sm {
  width: 120px; }

.w {
  width: 180px; }

.w-md {
  width: 200px; }

.w-lg {
  width: 240px; }

.w-xl {
  width: 280px; }

.w-xxl {
  width: 320px; }

.w-full {
  width: 100%; }

.w-auto {
  width: auto; }

.h-auto {
  height: auto; }

.h-full {
  height: 100%; }

.h-v {
  height: 100vh; }

.h-v-5 {
  height: 50vh; }

@media (max-width: 767px) {
  .w-auto-sm {
    width: auto; }
  .w-full-sm {
    width: 100%; } }

@media (max-width: 543px) {
  .w-auto-xs {
    width: auto; }
  .w-full-xs {
    width: 100%; } }

.md-form-group {
  padding: 18px 0 24px 0;
  position: relative; }

.md-input {
  background: transparent;
  position: relative;
  z-index: 5;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  width: 100%;
  height: 34px;
  padding: 2px;
  color: inherit; }
  .md-input:focus,
  .md-input.focus {
    border-color: #0cc2aa;
    border-bottom-width: 2px;
    padding-bottom: 1px; }
    .md-input:focus ~ label,
    .md-input.focus ~ label {
      color: #0cc2aa;
      opacity: 1;
      top: 0 !important;
      font-size: 0.85em !important; }
  .float-label .md-input ~ label {
    top: 20px;
    font-size: 1em; }
  .float-label .md-input.ng-dirty ~ label,
  .float-label .md-input.has-value ~ label {
    top: 0;
    font-size: 0.85em; }
  .md-input ~ label {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0px;
    left: 0; }
  .md-input.disabled,
  .md-input[disabled] {
    opacity: 0.5; }

textarea.md-input {
  height: auto; }

.md-input-white:focus,
.md-input-white.focus {
  border-color: #fff; }
  .md-input-white:focus ~ label,
  .md-input-white.focus ~ label {
    color: #fff; }

.md-input-msg {
  position: absolute;
  bottom: 0;
  line-height: 24px;
  font-size: 0.85em; }

.md-input-msg.right {
  right: 0; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

[ui-view].ng-leave {
  display: none; }

[ui-view].ng-leave.smooth {
  display: block; }

.smooth.ng-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fade-in-right-big.ng-enter {
  -webkit-animation: fadeInRightBig 0.5s;
  animation: fadeInRightBig 0.5s; }

.fade-in-right-big.ng-leave {
  -webkit-animation: fadeOutLeftBig 0.5s;
  animation: fadeOutLeftBig 0.5s; }

.fade-in-left-big.ng-enter {
  -webkit-animation: fadeInLeftBig 0.5s;
  animation: fadeInLeftBig 0.5s; }

.fade-in-left-big.ng-leave {
  -webkit-animation: fadeOutRightBig 0.5s;
  animation: fadeOutRightBig 0.5s; }

.fade-in-up-big.ng-enter {
  -webkit-animation: fadeInUpBig 0.5s;
  animation: fadeInUpBig 0.5s; }

.fade-in-up-big.ng-leave {
  -webkit-animation: fadeOutUpBig 0.5s;
  animation: fadeOutUpBig 0.5s; }

.fade-in-down-big.ng-enter {
  -webkit-animation: fadeInDownBig 0.5s;
  animation: fadeInDownBig 0.5s; }

.fade-in-down-big.ng-leave {
  -webkit-animation: fadeOutDownBig 0.5s;
  animation: fadeOutDownBig 0.5s; }

.fade-in.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s; }

.fade-in.ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s; }

.fade-in-right.ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s; }

.fade-in-right.ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s; }

.fade-in-left.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s; }

.fade-in-left.ng-leave {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s; }

.fade-in-up.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s; }

.fade-in-up.ng-leave {
  -webkit-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s; }

.fade-in-down.ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s; }

.fade-in-down.ng-leave {
  -webkit-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s; }
