
/* 공통 */
body {font-family: "SpoqaHanSans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;}
ul {list-style-type: none; margin:0; padding: 0;}
input[type="file"]{-webkit-appearance: none;text-align: left;-webkit-rtl-ordering: left;margin:0;padding-top: 0px; letter-spacing: -0.03rem; cursor:pointer;}
input[type="file"]::-webkit-file-upload-button{margin-top: 8px; cursor:pointer;}
textarea.no-resize {resize: none;}

/* 레이아웃 */
.container{max-width:1340px}
.app-header {position:fixed; padding-bottom: 0px; height:4rem;}
.app-header ~ .app-body{padding-top:6rem}
@media (max-width: 991px) {
.container{padding-left:1rem!important;padding-right:1rem!important;max-width:90%!important}
.app-header ~ .app-body{padding-top:5.5rem}
}
@media (max-width: 767px) {
.container{padding-left:.5rem!important;padding-right:.5rem!important;max-width:100%!important}
.app-header ~ .app-body{padding-top:5rem}
}
.headline{height:4rem;padding:0!important;margin:0;}

/* 반응형 상자 (비율 유지하면서 확대축소) */
.ratio{width:100%;padding:0;padding-bottom:75%;position:relative;box-shadow:none;border-radius:0;border:0;outline:none;margin-bottom:1.5rem;background-size:cover;background-position:50% 70%;border-radius:3px!important;}
.ratio .inner{position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden;margin:0;padding:0;border-radius:3px!important}
.ratio .inner.bg{color:#fff;background:#000;background:-webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.5));background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.5));background:linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.5))}
.ratio .inner.mini{padding:0;margin:-.75rem;border-radius:3px!important}
.ratio .inner.mini .area{width:50%;height:50%;float:left;padding:.75rem}
.ratio .inner.mini .area .box{width:100%;height:100%;background-size:cover;background-position:50% 0;color:#fff}
.ratio .inner.mini .area .box .mini-inner {border-radius:3px!important}
.ratio .inner.mini .area .box .mini-inner.bg{height:100%;background:#000;background:-webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.5));background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.5));background:linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.5))}
@media (max-width: 991px) {
.ratio{margin-bottom:1rem}
.ratio .inner.mini{margin:-.5rem}
.ratio .inner.mini .area{padding:.5rem}
}
@media (max-width: 767px) {
.ratio{margin-bottom:.5rem}
.ratio .inner.mini{margin:-.25rem}
.ratio .inner.mini .area{padding:.25rem}
}

/* 박스 */
.box{background-color:#fff;border-radius:3px;box-shadow:inset 0 0 1px #78828c!important}
.box-header{font-size:1rem;font-weight:400;letter-spacing:-.08rem;padding:.7rem 1rem .75rem;padding:1rem 1rem .5rem;position:relative}
.box-body{height:100%;padding:0}
.box-footer{padding:1rem}
.box-divider{border-bottom:1px solid rgba(120,130,140,0.13);height:0;margin:0 16px}
.box-tool{position:absolute;right:16px;top:14px}
.notice-memo{font-size:.85rem;letter-spacing:-.05rem;padding:0 1rem}
.manual-top{height:50%;vertical-align:middle;position:relative;padding:0;}
.manual-icon-wrap{position:absolute;top:50%;left:50%;margin-left:-2.5rem;margin-top:-2rem;width:5rem;height:4rem;line-height:4rem;text-align:center;color:#fff;font-size:2.5rem;}
.manual-bottom{height:50%;padding:1rem;}
.chart_selector{left:50%;position:absolute;top:60px;z-index:100}
.alert{word-break:break-all}
.alert-icon{float:left;font-size:1.1rem;line-height:120%;margin:0}
.dark .alert{border:1px solid rgba(120,130,140,0.3);color:rgba(255,255,255,0.5)}
.black .alert{border:1px solid rgba(120,130,140,0.3);color:rgba(255,255,255,0.5)}
.grey .alert{border:1px solid rgba(120,130,140,0.3);color:rgba(255,255,255,0.5)}
.alert-grey{background-color:rgba(120,130,140,0.2);border:1px solid rgba(120,130,140,0.3);opacity:.8}
.box-mini-tool{cursor:pointer;line-height:140%;margin-right:-.5rem;margin-top:-.9rem}
.box-mini-layer{min-width:100px;position:absolute;right:5px!important;top:40px!important}

/* 통계분석 박스 */
.static-wrap{padding:0}
.static-wrap .static-title{letter-spacing:-.05rem;font-size:1rem;height:3rem;line-height:3rem;border-bottom:1px solid rgba(120,130,140,0.3);padding:0 2rem}
.static-wrap .static-more{float:right;padding:0;text-align:right;margin:0;height:3rem;line-height:3rem;width:3rem;cursor:pointer!important}
.static-wrap .static-more i{font-size:1rem}
.static-wrap .static-body{width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;right:0}
.static-wrap .static-number{height:2.9rem;overflow:hidden;position:absolute;top:4.1rem;padding:0 2rem}
.static-wrap .static-number ul li{display:inline-block;height:2.9rem;padding-right:2.5rem}
.static-wrap .static-number ul li .static-value{font-size:1.5rem;letter-spacing:-.03rem;line-height:125%;padding:0}
.static-wrap .static-number ul li .static-label{font-size:.7rem;letter-spacing:-.05rem;line-height:125%;padding:0}
.static-wrap .chart-wrap{width:100%;height:100%;position:relative;padding:3rem .7rem 4rem}
.static-wrap .static-help{width:100%;height:100%;position:relative}
.static-help .static-body{position:absolute;width:100%;height:100%;vertical-align:middle;background-color:rgba(0,0,0,0.1)}
.static-help .static-body .static-content{padding:2rem;padding-right:5rem;margin:1px;letter-spacing:-.05rem}
.static-help .static-body .static-close{float:right;padding:1.8rem 2.15rem 0 0;cursor:pointer!important}
.static-help .static-body .static-close i{font-size:.8rem}
@media (max-width: 1279px) {
.static-wrap .static-title{letter-spacing:-.03rem;font-size:.85rem;height:2.5rem;line-height:2.5rem;font-weight:600;padding:0 1rem}
.static-wrap .static-more{height:2.5rem;line-height:2.5rem;width:2.5rem}
.static-wrap .static-more i{font-size:.9rem}
.static-wrap .static-number{height:2.5rem;top:3.3rem;padding:0 1rem}
.static-wrap .static-number ul li{height:2.5rem;padding-right:1.5rem}
.static-wrap .static-number ul li .static-value{font-size:1.2rem}
.static-wrap .static-number ul li .static-label{font-size:.7rem}
.static-wrap .chart-wrap{padding:2rem 0 3rem}
.static-help .static-body .static-content{padding:1rem;padding-right:3rem}
.static-help .static-body .static-close{padding:.8rem 1.1rem 0 0}
}
@media (max-width: 767px) {
.static-wrap .static-title{letter-spacing:-.05rem;font-size:1rem;height:3rem;line-height:3rem;font-weight:400;padding:0 2rem}
.static-wrap .static-more{height:3rem;line-height:3rem;width:3rem}
.static-wrap .static-more i{font-size:1rem}
.static-wrap .static-number{height:2.9rem;top:4.1rem;padding:0 2rem}
.static-wrap .static-number ul li{height:2.9rem;padding-right:2.5rem}
.static-wrap .static-number ul li .static-value{font-size:1.5rem}
.static-wrap .static-number ul li .static-label{font-size:.7rem}
.static-wrap .chart-wrap{padding:3rem .7rem 4rem}
.static-help .static-body .static-content{padding:2rem;padding-right:5rem}
.static-help .static-body .static-close{padding:1.8rem 2.15rem 0 0}
}
@media (max-width: 543px) {
.static-wrap .static-title{letter-spacing:-.03rem;font-size:.85rem;height:2.5rem;line-height:2.5rem;font-weight:600;padding:0 1rem}
.static-wrap .static-more{height:2.5rem;line-height:2.5rem;width:2.5rem}
.static-wrap .static-more i{font-size:.9rem}
.static-wrap .static-number{height:2.5rem;top:3.3rem;padding:0 1rem}
.static-wrap .static-number ul li{height:2.5rem;padding-right:1.5rem}
.static-wrap .static-number ul li .static-value{font-size:1.2rem}
.static-wrap .static-number ul li .static-label{font-size:.7rem}
.static-wrap .chart-wrap{padding:2rem 0 3rem}
.static-help .static-body .static-content{padding:1rem;padding-right:3rem}
.static-help .static-body .static-close{padding:.8rem 1.1rem 0 0}
}

/* 오른쪽날개메뉴 */
.aside-right{max-width:320px}
.aside-right .line-info .company-info{padding:.85rem 0 0 3.2rem;line-height:1.35}
.aside-right .line-info .company-name{font-size:.8rem;margin:0;padding:0;letter-spacing:-.02rem;font-weight:600}
.aside-right .line-info .company-mail{font-size:.7rem;margin:0;padding:0;opacity:.8;letter-spacing:0;font-weight:600}
.aside-right .line-grid{height:4rem}
.aside-right .line-grid .row li{height:4rem;text-align:center;line-height:4rem;font-size:.8rem;letter-spacing:-.05rem;border-left:1px solid rgba(120,130,140,0.2);border-bottom:1px solid rgba(120,130,140,0.2);padding-top:.6rem}
.aside-right .line-grid .row li:first-child{border-left:0}
.aside-right .line-grid .row li .link-icon{font-size:1rem;padding:0;line-height:1.7}
.aside-right .line-grid .row li .link-name{font-size:.7rem;padding:0;line-height:1.7}
.aside-right .line-card{height:7rem;padding:1rem 1rem 0}
.aside-right .line-card .cardplate{border:1px solid rgba(120,130,140,0.3);padding:.5rem 1rem;height:4rem;border-radius:5px 5px 0 0;background-color:rgba(120,130,140,0.1)}
.aside-right .line-card .cardplate .card-logo{margin:0;height:3rem;float:right}
.aside-right .line-card .cardplate .card-name{margin:0;padding:0;line-height:1;font-size:.8rem;height:1rem;float:left;height:3rem;line-height:3rem;letter-spacing:-.03rem}
.aside-right .line-card .cardmenu{height:2rem;text-align:center;border:1px solid rgba(120,130,140,0.3);border-top:0;border-radius:0 0 5px 5px;line-height:1.9rem;font-size:.75rem;letter-spacing:-.03rem;padding:0 1rem}
.aside-right .line-theme{height:6rem;padding:1rem}
.aside-right .line-theme .themeplate{border:1px solid rgba(120,130,140,0.3);padding:0 1rem;height:5rem;border-radius:5px}
.aside-right .line-theme .themeline{height:3rem;text-align:left;line-height:3rem}
.aside-right .line-theme .themeline .themelabel{height:1rem;margin:0;padding:0;opacity: 0.7;}
.aside-right .line-theme .themeline .themeradio{height:2rem;margin:.6rem 0 0;padding:0}
.aside-right .line-theme .ui-check-lg i{width:20px;height:20px;margin-left:-20px;margin-right:-1rem}
.aside-right .line-theme .ui-check-lg i:before{top:6px;left:6px;width:8px;height:8px}
.aside-right .line-link{padding:1rem;padding-bottom:0;}
.aside-right .line-link .linkplate{border:1px solid rgba(120,130,140,0.3);padding:0 1rem;border-radius:5px;padding:1rem;}
.aside-right .line-link .linkline a{font-size: 0.75rem;letter-spacing: -0.05rem;line-height:200%;opacity: 0.7;}
.aside-right .line-link .linkline a:hover{opacity: 1;}
.aside-right .line-link .linkline a:active{position: relative;top:1px;}

/* 네비게이션 */
.navbar-brand-wrap{text-align:center;width:100%;margin:0;padding:0}
.navbar-brand{width:100%;text-align:left;height:4rem;padding:0;cursor:pointer}
.navbar-brand img.logo{height:30px;margin:1rem 0 0 .7rem;float:left}
.navbar-brand img.text{height:15px;margin:1.5rem 0 0 .85rem}
.folded .navbar-brand{text-align:center}
.folded .navbar-brand img.logo{height:30px;margin:1rem 0 0;float:none}
@media (max-width: 991px) {
.folded .navbar-brand{width:100%;text-align:left;border-bottom:1px solid rgba(120,130,140,0.15);height:4rem;padding:0;cursor:pointer}
.folded .navbar-brand img.logo{height:30px;margin:1rem 0 0 .7rem;float:left}
.folded .navbar-brand img.text{height:15px;margin:1.5rem 0 0 .85rem}
}
.app-aside{border-right:1px solid rgba(120,130,140,0.3); box-shadow: none!important;}
.black .app-aside{border-right:1px solid rgba(120,130,140,0.3); box-shadow: none!important;}
.grey .app-aside{border-right:1px solid rgba(120,130,140,0.3); box-shadow: none!important;}
.dark .app-aside{border-right:1px solid rgba(120,130,140,0.3); box-shadow: none!important;}
.app-aside.folded{box-shadow:0 0 0}
.navside{box-shadow: none!important;border-right:0px!important;}
.navside .nav li .nav-text{font-size:.75rem;letter-spacing:-.05rem;opacity:.8}
.navside .nav li a .nav-icon{margin:0;width:2rem;text-align:left}
.navside .nav li a .nav-icon i{font-size:.8rem}
.navside .nav li .nav-sub{margin:0;padding:0}
.navside .nav li .nav-sub li a{padding-left:3rem}
.navside .nav li .nav-sub li a .nav-text{font-size:.8rem;height:1.5rem;line-height:1.5rem;padding:0;margin:0}
.navside .nav li.active .nav-text{opacity:1}
.navside .nav li.active .nav-sub{padding-bottom:.5rem}
.navside .nav li.active .nav-sub li .nav-text{opacity:.6}
.navside .nav li.active .nav-sub li.active .nav-text{opacity:1}

/* 정보설정양식 (Form) */
.form-label{font-size:.85rem;letter-spacing:-.05rem;font-weight:400}
.form-value{font-size:.85rem;letter-spacing:-.03rem;font-weight:400;border-radius:3px!important;padding:.6rem .5rem}
.form-value:focus{border:1px solid rgba(120,130,140,0.6)}
.form-question{float:right;font-size:.8rem;letter-spacing:-.05rem;opacity:.5;padding-top:.05rem;cursor:pointer}
.form-question:hover{opacity:.7}
.form-question:active{position:relative;top:1px}
.form-answer{opacity:.6;font-size:.8rem;letter-spacing:-.03rem;padding:0 .1rem 2rem;font-weight:400}
.form-title{font-size:1.2rem;font-weight:400;margin-bottom:1rem;letter-spacing:-.05rem}
.input-group{z-index:0}
.input-group .form-value{border-radius:3px 0 0 3px!important;border-right:0!important;z-index:1}
.input-group .form-value:hover{border-right:1px solid rgba(120,130,140,0.5)!important}
.input-group .btn-addon{font-size:.85rem;letter-spacing:-.05rem;background-color:rgba(120,130,140,0.25);margin:0;padding:.6rem .5rem;border:1px solid rgba(120,130,140,0.3);border-radius:0 3px 3px 0;z-index:2;opacity:.8}
.form-radio-1{padding:0}
.form-radio-1 .radio-icon{float:left;margin-top:-10px;margin-left:.3rem}
.form-radio-1 .radio-icon i{font-size:1.5rem}
.form-radio-1 .radio-text{float:left;margin-top:-10px;padding-left:.8rem}
.asterisk{padding-left:3px;position:relative;top:2px;opacity:.7;display:inline;color:red}
.dark .asterisk,.grey .asterisk,.black .asterisk{color:#fff}
.cardplate{padding:0;text-align:center;cursor:pointer;position:relative;border-radius:10px;}
.cardplate.active .carddelete{display:none}
.cardplate.active .textline .cardno{opacity:1}
.cardplate .carddelete{position:absolute;right:13px;top:10px;opacity:.5}
.cardplate .carddelete i{font-size:.5rem}
.cardplate .logoline{border-bottom:1px solid rgba(120,130,140,0.3);padding:1.5rem 0;background-color:rgba(120,130,140,0.1);border-radius:10px 10px 0 0;}
.cardplate .logoline img{width:60px}
.cardplate .textline{padding:1rem 0}
.cardplate .textline .cardno{font-size:1rem;opacity:.5}
.cardplate .textline .cardno div{display:inline}
.cardplate .textline .cardno .pw{position:relative;top:3px;margin-left:0;margin-right:.3rem}
.cardplate .textline .cardno .no{margin-left:.3rem}
.cardplate .textline .carddate{font-size:.7rem;opacity:.5;padding-top:.3rem}
.cardplate_add{text-align:center;padding:2.9rem 0;letter-spacing:-.03rem;font-size:1rem;cursor:pointer;border-radius:10px}
.cardplate_add span,.cardplate_add div{opacity:.4;transition-duration:.5s}
.cardplate_add:hover span,.cardplate_add:hover div{opacity:.8;transition-duration:.5s}
.active.active-black{border-color:#2a2b3c!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #2a2b3c!important}
.active.active-dark{border-color:#2e3e4e!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #2e3e4e!important}
.active.active-grey{border-color:#424242!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #424242!important}
.active.active-primary{border-color:#0cc2aa!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #0cc2aa!important}
.active.active-accent{border-color:#a88add!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #a88add!important}
.active.active-warn{border-color:#fcc100!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #fcc100!important}
.active.active-success{border-color:#6cc788!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #6cc788!important}
.active.active-info{border-color:#6887ff!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #6887ff!important}
.active.active-warning{border-color:#f77a99!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #f77a99!important}
.active.active-danger{border-color:#f44455!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #f44455!important}
.active.active-blue{border-color:#2196f3!important;border-bottom-width:2px!important;box-shadow:inset 0 0 0 1px #2196f3!important}

/* PG연동 설정 */
.pg-option{border:1px solid rgba(120,130,140,0.5);padding:15px 1px 10px;text-align:center;border-radius:3px;cursor:pointer;letter-spacing:-.05rem;font-size:.8rem}
.pg-option img{height:32px;display:block;margin:0 auto 2px}
.pg-option .logosign{height:34px;display:block;margin:0 auto;text-align:center;font-size:1.2rem;padding-top:4px}
.pg-option.active{border:1px solid rgba(120,130,140,1);padding:15px 1px 10px}
.dark .pg-option.active,.black .pg-option.active,.grey .pg-option.active{border-color:#ccc}
.pg-option img.pglogo-dk{display:none!important}
.dark .pg-option img.pglogo-dk,.grey .pg-option img.pglogo-dk,.black .pg-option img.pglogo-dk{display:block!important}
.dark .pg-option img.pglogo-lt,.grey .pg-option img.pglogo-lt,.black .pg-option img.pglogo-lt{display:none!important}
.test_mode_on{line-height:190%;padding-left:.5rem}
.text-highlight{background-color:#ffee58}
.dark .text-highlight,.grey .text-highlight{background-color:#333}
.black .text-highlight{background-color:#111}
.day-left-percentage{padding-bottom:.5rem}
.day-left-percentage li{width:15px;height:25px;margin-right:3px;border:1px solid rgba(120,130,140,0.3);border-radius:3px;display:inline-block}
.day-left-percentage li div{width:15px;height:25px;border-radius:3px;margin-top:-1px;margin-left:-1px}
.pg-miniature.pg-option{border:1px solid rgba(120,130,140,0.5);padding:10px 1px 5px;text-align:center;border-radius:3px;cursor:pointer;letter-spacing:-.05rem;font-size:.7rem}
.pg-miniature.pg-option img{height:24px;display:block;margin:0 auto 2px}
.pg-miniature{position:absolute;left:50px;right:50px;z-index:0}
.pg-miniature-wrap{position:relative;z-index:2;overflow:hidden;height:300px}
.pg-miniature-frame{padding-top:1px;padding-bottom:1px}
.pg_form{padding-top:3rem;border-top:1px solid rgba(120,130,140,0.4);margin-top:2.5rem}
.active.border-black{border-color:#2a2b3c!important;box-shadow:inset 0 0 0 1px #2a2b3c!important}
.active.border-dark{border-color:#2e3e4e!important;box-shadow:inset 0 0 0 1px #2e3e4e!important}
.active.border-grey{border-color:#424242!important;box-shadow:inset 0 0 0 1px #424242!important}
.active.border-primary{border-color:#0cc2aa!important;box-shadow:inset 0 0 0 1px #0cc2aa!important}
.active.border-accent{border-color:#a88add!important;box-shadow:inset 0 0 0 1px #a88add!important}
.active.border-warn{border-color:#fcc100!important;box-shadow:inset 0 0 0 1px #fcc100!important}
.active.border-success{border-color:#6cc788!important;box-shadow:inset 0 0 0 1px #6cc788!important}
.active.border-info{border-color:#6887ff!important;box-shadow:inset 0 0 0 1px #6887ff!important}
.active.border-warning{border-color:#f77a99!important;box-shadow:inset 0 0 0 1px #f77a99!important}
.active.border-danger{border-color:#f44455!important;box-shadow:inset 0 0 0 1px #f44455!important}
.active.border-blue{border-color:#2196f3!important;box-shadow:inset 0 0 0 1px #2196f3!important}

/* 버튼 (테마 기본값) */
.btn{font-weight:500;outline:0!important;border-width:0;padding:.4375rem 1rem}
.btn:not([disabled]):hover,.btn:not([disabled]):focus,.btn:not([disabled]).active{box-shadow:inset 0 -10rem 0 rgba(158,158,158,0.2)}
.btn > i.pull-left,.btn > i.pull-right{line-height:1.5}
.btn.rounded{padding-left:1.2em;padding-right:1.2em}
.btn-lg{padding:.8125rem 1.25rem}
.btn-sm{padding:.3445rem .75rem}
.btn-xs{padding:.1565rem .5rem;font-size:.8rem}
.btn-outline{border-width:1px;background-color:transparent;box-shadow:none!important}
.btn.b-primary:hover,.btn.b-primary:focus,.btn.primary:hover,.btn.primary:focus{color:rgba(255,255,255,0.87)!important;background-color:#0cc2aa}
.btn.b-accent:hover,.btn.b-accent:focus,.btn.accent:hover,.btn.accent:focus{color:rgba(255,255,255,0.87)!important;background-color:#a88add}
.btn.b-warn:hover,.btn.b-warn:focus,.btn.warn:hover,.btn.warn:focus{color:rgba(255,255,255,0.87)!important;background-color:#fcc100}
.btn.b-success:hover,.btn.b-success:focus,.btn.success:hover,.btn.success:focus{color:rgba(255,255,255,0.87)!important;background-color:#6cc788}
.btn.b-info:hover,.btn.b-info:focus,.btn.info:hover,.btn.info:focus{color:rgba(255,255,255,0.87)!important;background-color:#6887ff}
.btn.b-warning:hover,.btn.b-warning:focus,.btn.warning:hover,.btn.warning:focus{color:rgba(255,255,255,0.87)!important;background-color:#f77a99}
.btn.b-danger:hover,.btn.b-danger:focus,.btn.danger:hover,.btn.danger:focus{color:rgba(255,255,255,0.87)!important;background-color:#f44455}
.btn.b-dark:hover,.btn.b-dark:focus,.btn.dark:hover,.btn.dark:focus{color:rgba(255,255,255,0.87)!important;background-color:#2e3e4e}
.btn.b-black:hover,.btn.b-black:focus,.btn.black:hover,.btn.black:focus{color:rgba(255,255,255,0.87)!important;background-color:#2a2b3c}
.btn.b-white:hover,.btn.b-white:focus{color:rgba(0,0,0,0.87)!important;background-color:#fff}
.btn.b-light:hover,.btn.b-light:focus{color:rgba(0,0,0,0.87)!important;background-color:#f8f8f8}
.btn.white,.btn.btn-default{box-shadow:inset 0 0 1px rgba(0,0,0,0.3)}
.btn.white:not([disabled]):hover,.btn.white:not([disabled]):focus,.btn.white:not([disabled]).active,.btn.btn-default:not([disabled]):hover,.btn.btn-default:not([disabled]):focus,.btn.btn-default:not([disabled]).active{box-shadow:inset 0 -10rem 0 rgba(158,158,158,0.1)}
.btn-default{background-color:#fff;color:rgba(0,0,0,0.87)}
.btn-groups .btn{margin-bottom:.25rem}
.btn-fw{min-width:7rem}

/* 버튼 : 한글,테마 맞춤 */
.btn{letter-spacing:-.05rem;font-weight:500;line-height:150%;border-radius:2px}
.btn,.btn.btn-xs{padding-top:.2rem;padding-bottom:.2rem;letter-spacing:-.03rem}
.btn.btn-sm{padding-top:.45rem;padding-bottom:.45rem;letter-spacing:-.05rem}
.btn.btn-md{padding-top:.73rem;padding-bottom:.68rem;letter-spacing:-.05rem;font-size:.9rem}
.btn.btn-lg{padding-top:.8rem;padding-bottom:.9rem;letter-spacing:-.05rem}
.btn:active{position:relative;top:1px}
.btn.no-bounce{position:relative;top:0}
.btn.search{position:relative;top:0!important;text-align:left!important;cursor:text}
.btn-select:active{position:relative;top:1px}
.btn-select .btn-selector{border-radius:0 2px 2px 0!important}
.btn-group.daterange .date{width:100px;letter-spacing:0!important;margin:0!important;cursor:text}
.btn-group.daterange .date1,.btn-group.daterange .date2{margin-left:-1px!important}
.btn-group.daterange .dateicon{padding-left:9px!important;padding-right:9px!important;cursor:default!important}
.btn-group.daterange .dateicon i{font-size:.9rem!important}
.btn-addon{height:2.6rem;border-radius:0 5px 5px 0;padding:0 0.8rem 0 0.6rem;box-shadow:inset 0 0 1px rgba(120,130,140,0.5);letter-spacing:-0.06rem;font-weight:400}
.btn-addon.unsorted{padding:0 .6rem!important}
.btn-addon:hover,.btn-addon:focus{box-shadow:inset 0 0 1px rgba(120,130,140,0.5)!important}

/* btn.white의 테마맞춤 */
.btn.white,.btn.btn-default{box-shadow:inset 0 0 1px #333;font-weight:400}
.btn.white:not([disabled]):hover,.btn.white:not([disabled]):focus,.btn.white:not([disabled]).active,.btn.btn-default:not([disabled]):hover,.btn.btn-default:not([disabled]):focus,.btn.btn-default:not([disabled]).active{box-shadow:inset 0 0 1px #333}
.dark .btn.white,.dark .btn.btn-default,.black .btn.white,.black .btn.btn-default,.grey .btn.white,.grey .btn.btn-default{box-shadow:inset 0 0 1px #aaa}
.dark .btn.white:not([disabled]):hover,.dark .btn.white:not([disabled]):focus,.dark .btn.white:not([disabled]).active,.dark .btn.btn-default:not([disabled]):hover,.dark .btn.btn-default:not([disabled]):focus,.dark .btn.btn-default:not([disabled]).active,.black .btn.white:not([disabled]):hover,.black .btn.white:not([disabled]):focus,.black .btn.white:not([disabled]).active,.black .btn.btn-default:not([disabled]):hover,.black .btn.btn-default:not([disabled]):focus,.black .btn.btn-default:not([disabled]).active,.grey .btn.white:not([disabled]):hover,.grey .btn.white:not([disabled]):focus,.grey .btn.white:not([disabled]).active,.grey .btn.btn-default:not([disabled]):hover,.grey .btn.btn-default:not([disabled]):focus,.grey .btn.btn-default:not([disabled]).active{box-shadow:inset 0 0 1px #aaa}
.modal .btn.white,.modal .btn.btn-default{box-shadow:inset 0 0 1px #333;font-weight:400}
.modal .btn.white:not([disabled]):hover,.modal .btn.white:not([disabled]):focus,.modal .btn.white:not([disabled]).active,.modal .btn.btn-default:not([disabled]):hover,.modal .btn.btn-default:not([disabled]):focus,.modal .btn.btn-default:not([disabled]).active{box-shadow:inset 0 0 1px #333}
.dark .modal .btn.white,.dark .modal .btn.btn-default,.black .modal .btn.white,.black .modal .btn.btn-default,.grey .modal .btn.white,.grey .modal .btn.btn-default{box-shadow:inset 0 0 1px #fff}
.dark .modal .btn.white:not([disabled]):hover,.dark .modal .btn.white:not([disabled]):focus,.dark .modal .btn.white:not([disabled]).active,.dark .modal .btn.btn-default:not([disabled]):hover,.dark .modal .btn.btn-default:not([disabled]):focus,.dark .modal .btn.btn-default:not([disabled]).active,.black .modal .btn.white:not([disabled]):hover,.black .modal .btn.white:not([disabled]):focus,.black .modal .btn.white:not([disabled]).active,.black .modal .btn.btn-default:not([disabled]):hover,.black .modal .btn.btn-default:not([disabled]):focus,.black .modal .btn.btn-default:not([disabled]).active,.grey .modal .btn.white:not([disabled]):hover,.grey .modal .btn.white:not([disabled]):focus,.grey .modal .btn.white:not([disabled]).active,.grey .modal .btn.btn-default:not([disabled]):hover,.grey .modal .btn.btn-default:not([disabled]):focus,.grey .modal .btn.btn-default:not([disabled]).active{box-shadow:inset 0 0 1px #fff}

/* 모달창 내부위치 */
.modal .dialog{position:relative;padding:0}
.modal .dialog .dialog-icon{position:absolute;top:20px;left:5px;width:75px;text-align:center;padding:0}
.modal .dialog .dialog-icon i{font-size:2rem;margin:0}
.modal .dialog .dialog-text{position:absolute;top:20px;left:80px;letter-spacing:-.05rem;font-weight:500;font-size:.9rem}
.modal .dialog .dialog-memo{padding:46px 30px 20px 80px;line-height:145%;font-size:.75rem;letter-spacing:-.05rem;opacity:.6}

/* 색상우선설정 */
.b-light{border-color:#f8f8f8!important}
.b-white{border-color:#fff!important}
.b-primary{border-color:#0cc2aa!important}
.b-accent{border-color:#a88add!important}
.b-warn{border-color:#fcc100!important}
.b-success{border-color:#6cc788!important}
.b-info{border-color:#6887ff!important}
.b-warning{border-color:#f77a99!important}
.b-danger{border-color:#f44455!important}
.b-light{border-color:#f8f8f8!important}
.b-grey{border-color:#424242!important}
.b-dark{border-color:#2e3e4e!important}
.b-black{border-color:#2a2b3c!important}
.b-white{border-color:#fff!important}
.b-blue{border-color:#2196f3!important}
.no-b-t{border-top-width:0!important}
.no-b-r{border-right-width:0!important}
.no-b-b{border-bottom-width:0!important}
.no-b-l{border-left-width:0!important}
.b-dashed{border-style:dashed!important}

/* 배경색 */
.bg-xs{background-color:rgba(0,0,0,0.05)}
.bg-sm{background-color:rgba(0,0,0,0.10)}
.bg-md{background-color:rgba(0,0,0,0.15)}
.bg-lg{background-color:rgba(0,0,0,0.20)}
.bg-xl{background-color:rgba(0,0,0,0.25)}
.dark .bg-xs,.black .bg-xs,.grey .bg-xs{background-color:rgba(0,0,0,0.10)}
.dark .bg-sm,.black .bg-sm,.grey .bg-sm{background-color:rgba(0,0,0,0.15)}
.dark .bg-md,.black .bg-md,.grey .bg-md{background-color:rgba(0,0,0,0.20)}
.dark .bg-lg,.black .bg-lg,.grey .bg-lg{background-color:rgba(0,0,0,0.25)}
.dark .bg-xl,.black .bg-xl,.grey .bg-xl{background-color:rgba(0,0,0,0.30)}

/* 드롭다운 (컬러테마용) */
.dropdown-menu{border-radius:3px;padding-top:.4rem;padding-bottom:.4rem}
.dropdown-item{padding:.13rem 1rem}
.dropdown-divider{background-color:rgba(120,130,140,0.3);margin-top:.35rem;margin-bottom:.35rem}
.dark .dropdown-menu,.black .dropdown-menu,.grey .dropdown-menu{color:#fff;box-shadow:inset 0 0 1px #aaa}

/* 컬러테마 */
.hidden-lt{display:none!important}
.black .hidden-lt,.dark .hidden-lt,.grey .hidden-lt{display:inline-block!important}
.hidden-dk{display:inline-block!important}
.black .hidden-dk,.dark .hidden-dk,.grey .hidden-dk{display:none!important}

/* 결제내역 정보보기 (모달창) */
.box-mid,.box-impuid{border:1px solid rgba(120,130,140,0.5);border-radius:3px;margin-bottom:1rem;padding:9px;cursor:pointer}
.box-impuid{margin-left:1rem}
.box-mid.active,.box-impuid.active{border:2px solid rgba(120,130,140,1);padding:8px}
.box-impuid:active,.box-mid:active{position:relative;top:1px}
.button_area_right{float:right}
#record_layout_right{border-left:1px solid rgba(120,130,140,0.3)}
@media (max-width: 991px) {
#record_layout_right{border-left:0}
}
@media (max-width: 767px) {
.box-mid,.box-impuid{margin-bottom:.5rem}
.box-impuid{margin-left:.5rem}
.button_area_right{float:none;padding-top:.8rem}
}
.timeline-bg ul{width:100%;margin:0;padding:0;*zoom:1}
.timeline-bg ul:after{clear:both;display:block;content:''}
.timeline-bg ul li{height:30px;list-style-type:none;float:left;margin:0;padding:0}
.timeline-bg ul li:first-child{border-radius:5px 0 0 5px}
.timeline-bg ul li:last-child{border-radius:0 5px 5px 0}

/* faq */
.faq-category-label{padding-top:.2rem;opacity:.3}
.faq-category-icon{width:40px;height:40px;line-height:40px;text-align:center;padding-top:1px;font-size:24px}
.faq-category-check{height:40px;line-height:40px;font-size:1.2rem}
.faq-category-line{margin:-40px 0 0 53px}

/* 고객센터 */
.map_canvas{position:relative;margin-top:0}
.map_layer{width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;right:0}
.map_bg{width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;background-color:#000;opacity:.3}
.cscenter-siot-logo{margin:-20px -10px 0 0}

/* 요금제 신청 */
.box-price{position:relative;padding:0}
.box-price .box-icon{position:absolute;top:0;left:0;width:55px;margin:0;font-size:1.6rem}
.box-price .box-content{padding:0 0 0 55px}
.box-price-pg{position:relative;padding:0}
.box-price-pg .box-icon{position:absolute;top:0;left:0;width:80px;margin:0}
.box-price-pg .box-content{padding:0 0 0 80px}

/* PG사 제휴 프로모션 */
.promobox {cursor:pointer;}
.promobox div {}
.promobox .promoname {font-size:1rem; letter-spacing:-0.05rem;}
.promobox .promomemo {font-size:1rem; padding-top:0.05rem; letter-spacing:-0.05rem;}
.promobox .promoplus {font-size:1.5rem; padding-top:0; margin-bottom:0.3rem;}
.promobox .promomore {font-size:0.85rem; letter-spacing:-0.05rem;}
@media (max-width: 991px) {
	.promobox .promoname {font-size:0.9rem; letter-spacing:-0.03rem;}
	.promobox .promomemo {font-size:0.9rem; padding-top:0.05rem; letter-spacing:-0.03rem;}
}
@media (max-width: 767px) {

}

/* 공지사항 */
.article {}
.article .thumb {background-size:cover; background-position:50% 50%; width: 120px; height: 120px; float: right; margin-left: 1.5rem;}
.article .article-title {height:35px; font-size:1rem; letter-spacing: -0.05rem;}
.article .article-content {font-size: 0.8rem; opacity: 0.6; letter-spacing: -0.03rem;}
.article .article-date {font-size: 0.75rem; opacity: 0.4; letter-spacing: -0.03rem; margin-top: 1.4rem;}
.article .article-date li {display:inline-block; border-left: 1px solid rgba(120,130,140,0.5); padding-left: 0.5rem; margin-left: 0.5rem; line-height: 135%;}
.article .article-date li:first-child {border-left: 0px; padding-left: 0; margin-left: 0;}
.article .thumb2 {background-size:cover; background-position:50% 50%; width: 60px; height: 60px; float: right; margin-left: 1.5rem;}
.article .article-title2 {height:2rem; font-size:1rem; letter-spacing: -0.05rem;}
.article .article-date2 {font-size: 0.75rem; opacity: 0.4; letter-spacing: -0.03rem;}
.article .article-date2 li {display:inline-block; border-left: 1px solid rgba(120,130,140,0.5); padding-left: 0.5rem; margin-left: 0.5rem; line-height: 135%;}
.article .article-date2 li:first-child {border-left: 0px; padding-left: 0; margin-left: 0;}
.article .submenu {}
.article .submenu li {border-left: 1px solid rgba(120,130,140,0.3);}
.article .submenu li:first-child {border-left: 0;}

.md-check i {position:relative;top:1px;}
.md-check i:before {border-width:1px; width:16px; height:16px;}
.md-check i:after {top:1px!important; left:5px!important;}




























/* 목록타입1 */
.list-1 {width:100%; border:1px solid rgba(120,130,140,0.3); border-radius:6px;}
.list-1 li:first-child {border-top:0px!important;}
.list-1 li {border-top: 1px solid rgba(120,130,140,0.3); *zoom:1; width:100%; display: block; padding:1.2rem; cursor: pointer;}
.list-1 li:after {clear:both; display: none; content: '';}
.list-1 li:hover,.list-1 li:focus {background-color: rgba(120,130,140,0.05)}
.list-1 li .list-image {float:right;}
.list-1 li .list-image img {width:43px; height:43px; border-radius:5px;}
.list-1 li .list-icon {width:43px; height: 43px; line-height: 43px; border-radius: 5px; float:right;}
.list-1 li .list-icon i {color:#fff; font-size: 1.5rem;}
.list-1 li .list-title {font-size:0.95rem; letter-spacing: -0.05rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.list-1 li .list-memo {padding-top:0.2rem; padding-left:0.05rem; font-size: 0.75rem; letter-spacing: -0.03rem; opacity: 0.5;}
.list-pagination {padding-top:1rem;}

/* 테이블(카드설정) */
.table-wrap {border:1px solid rgba(120,130,140,0.2); border-radius:5px; margin-bottom: 1rem; padding:0;}
.table-type-1 {width:100%;}
.table-type-1 thead th {font-weight: 400; background-color: rgba(120,130,140,0.15); padding:0.7rem 1rem;}
.table-type-1 tbody td {font-weight: 400;}
.table-type-1 tr:nth-child(even) {background-color: rgba(120,130,140,0.05);}
.table-type-1 th,
.table-type-1 td {padding:0.3rem 1rem; font-size: 0.8rem; vertical-align: middle!important; letter-spacing: -0.03rem; word-break:break-all}
.table-type-1 td .input-month {height:1.5rem!important; min-height: 1.5rem!important; line-height:1.5rem!important; padding:0px!important; width:45px; border-radius:3px; border:1px solid rgba(120,130,140,0.5); text-align: center; font-size:0.8rem; font-weight: 600;}
.table-type-1 td .btn-updown {height:1.5rem!important; min-height: 1.5rem!important; padding:0px!important; width:20px; border-radius:3px; border:1px solid rgba(120,130,140,0.3); text-align: center; font-size:0.5rem; background-color: rgba(0,0,0,0.1);}
.table-type-1 td .btn-updown i {opacity: 0.8;}

/* 테이블(요약정보 : 셀칸칸이 선으로 표시) */
.table-type-2 {width:100%;}
.table-type-2 thead th {font-weight: 400; background-color: rgba(120,130,140,0.15); padding:0.7rem 1rem;}
.table-type-2 tbody td {font-weight: 400;}
.table-type-2 td:first-child {background-color: rgba(120,130,140,0.05); border-right:1px solid rgba(120,130,140,0.15); text-align: right; font-size:0.75rem; letter-spacing: -0.05rem; font-weight: 400!important;}
.table-type-2 tr:first-child td {border-top:0px;}
.table-type-2 th,
.table-type-2 td {padding:0.3rem 1rem; font-size: 0.8rem; vertical-align: middle!important; letter-spacing: -0.03rem; border-top: 1px solid rgba(120,130,140,0.15); font-size:0.8rem; font-weight: 500!important;}

/* 테이블(impuid : 애플스타일) */
.table-type-3 {width:100%;}
.table-type-3 thead th {font-weight: 400; padding:0.7rem 1rem;}
.table-type-3 tbody td {font-weight: 400;}
.table-type-3 td:first-child {text-align: left; font-size:0.75rem; letter-spacing: -0.05rem; font-weight: 400!important; opacity:.5;}
.table-type-3 tr:first-child td {border-top:0px;}
.table-type-3 th,
.table-type-3 td {padding:0.3rem 0rem; font-size: 0.8rem; vertical-align: top!important; letter-spacing: -0.03rem; font-size:0.8rem; font-weight: 500!important; opacity:0.8; word-break:break-all;}

/* 테이블(impuid : 토렌트 다운로드) */
.table-type-4 {width:100%; border-collapse: collapse;}
.table-type-4 thead th {background-color: rgba(120,130,140,0.2)}
.table-type-4 tbody td {border:0px;}
.table-type-4 tr:nth-child(even) {background-color: rgba(120,130,140,0.05)}
.table-type-4 tr:hover td {background-color: rgba(120,130,140,0.15); cursor:pointer;}
.table-type-4 th,
.table-type-4 td {padding:0.3rem 0.3rem; font-size: 0.75rem; border-bottom:1px solid rgba(120,130,140,0.15); vertical-align: middle!important; letter-spacing: -0.03rem; font-weight: 400!important; word-break:break-all;}





