<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>아임포트 관리자</title>
    <meta name="description" content="iamport, pg, payment, analytics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../assets/images/favicon.png">
    <meta name="apple-mobile-web-app-title" content="아임포트">

    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="../assets/images/favicon.png">

    <!-- basic style -->
    <link rel="stylesheet" type="text/css" href="../assets/animate.css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />

    <!-- custom style -->
    <link rel="stylesheet" type="text/css" href="../assets/styles/font/css/spoqahansans.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/icon/css/iamport-icon.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/custom.css" />

</head>
<body ng-app="app" ng-controller="AppCtrl" class="{{app.setting.bg}}" ng-class="{'ie': isIE,'smart': isSmart}">

    <div class="app" ui-view></div>

    <!-- 템플릿 기본 -->

    <!-- build:js scripts/app.angular.js -->
    <!-- jQuery -->
    <script src="../libs/jquery/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="../libs/jquery/tether/dist/js/tether.min.js"></script>
    <script src="../libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Angular -->
    <script src="../libs/angular/angular/angular.js"></script>
    <script src="../libs/angular/angular-animate/angular-animate.js"></script>
    <script src="../libs/angular/angular-resource/angular-resource.js"></script>
    <script src="../libs/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="../libs/angular/angular-touch/angular-touch.js"></script>
    <!-- router -->
    <script src="../libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- storage -->
    <script src="../libs/angular/ngstorage/ngStorage.js"></script>
    <!-- utils -->
    <script src="../libs/angular/angular-ui-utils/ui-utils.js"></script>
    <!-- lazyload -->
    <script src="../libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
    <!-- App -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/config.lazyload.js"></script>
    <script src="scripts/config.router.js"></script>
    <script src="scripts/app.ctrl.js"></script>
    <script src="scripts/directives/ui-jp.js"></script>
    <script src="scripts/directives/ui-nav.js"></script>
    <script src="scripts/directives/ui-fullscreen.js"></script>
    <script src="scripts/directives/ui-scroll-to.js"></script>
    <script src="scripts/directives/ui-toggle-class.js"></script>
    <script src="scripts/directives/ui-include.js"></script>
    <script src="scripts/filters/fromnow.js"></script>
    <script src="scripts/services/ngstore.js"></script>
    <script src="scripts/services/ui-load.js"></script>
    <script src="scripts/services/palette.js"></script>
    <!-- endbuild -->

    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="../assets/styles/less/style.less" />
    <script src="../assets/styles/less/less.js" type="text/javascript"></script>

    <!-- jquery daterangepicker -->
    <link rel="stylesheet" href="../libs/jquery/jquery-date-range-picker-master/daterangepicker.css" type="text/css" />
    <script src="../libs/jquery/moment/moment-with-locales.js"></script>
    <script src="../libs/jquery/moment/moment-precise-range.js"></script>
    <script src="../libs/jquery/jquery-date-range-picker-master/jquery.daterangepicker.js"></script>
      
    <!-- syntax highlighter -->
    <link type="text/css" rel="stylesheet" href="../assets/syntaxhighlighter/css/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="../assets/syntaxhighlighter/css/iamport.css"/>
    <script type="text/javascript" src="../assets/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../assets/syntaxhighlighter/scripts/shBrushJScript.js"></script>

    <!-- 구글맵 -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>


</body>
</html>