/*

유틸리티 클래스 원칙
1. 범용성 - 특정 테마에 종속적인 것은 포함시키지 않음
2. 재사용성 - 어느 서비스에서나 사용할만한 내용
3. 1차원성 - 
4. Bootstrap 병행사용 가능

*/

/* 가로지정값 */
.w10 {width:10px!important;}
.w15 {width:15px!important;}
.w20 {width:20px!important;}
.w25 {width:25px!important;}
.w30 {width:30px!important;}
.w35 {width:35px!important;}
.w40 {width:40px!important;}
.w45 {width:45px!important;}
.w50 {width:50px!important;}
.w60 {width:60px!important;}
.w70 {width:70px!important;}
.w80 {width:80px!important;}
.w90 {width:90px!important;}
.w100 {width:100px!important;}
.w110 {width:110px!important;}
.w120 {width:120px!important;}
.w130 {width:130px!important;}
.w140 {width:140px!important;}
.w150 {width:150px!important;}
.w160 {width:160px!important;}
.w170 {width:170px!important;}
.w180 {width:180px!important;}
.w190 {width:190px!important;}
.w200 {width:200px!important;}
.w220 {width:220px!important;}
.w240 {width:240px!important;}
.w250 {width:250px!important;}
.w260 {width:260px!important;}
.w280 {width:280px!important;}
.w300 {width:300px!important;}
.w350 {width:350px!important;}
.w400 {width:400px!important;}
.w450 {width:450px!important;}
.w500 {width:500px!important;}
.w-full {width: 100%;}
.w-auto {width: auto;}
@media (max-width: 767px){
	.w-auto-sm {width: auto;}
	.w-full-sm {width: 100%;}
}
@media (max-width: 543px) {
	.w-auto-xs {width: auto;}
	.w-full-xs {width: 100%;}
}

/* 세로지정값 */
.h10 {height:10px!important;}
.h15 {height:15px!important;}
.h20 {height:20px!important;}
.h25 {height:25px!important;}
.h30 {height:30px!important;}
.h35 {height:35px!important;}
.h40 {height:40px!important;}
.h45 {height:45px!important;}
.h50 {height:50px!important;}
.h60 {height:60px!important;}
.h70 {height:70px!important;}
.h80 {height:80px!important;}
.h90 {height:90px!important;}
.h100 {height:100px!important;}
.h110 {height:110px!important;}
.h120 {height:120px!important;}
.h130 {height:130px!important;}
.h140 {height:140px!important;}
.h150 {height:150px!important;}
.h160 {height:160px!important;}
.h170 {height:170px!important;}
.h180 {height:180px!important;}
.h190 {height:190px!important;}
.h200 {height:200px!important;}
.h220 {height:220px!important;}
.h240 {height:240px!important;}
.h250 {height:250px!important;}
.h260 {height:260px!important;}
.h280 {height:280px!important;}
.h300 {height:300px!important;}
.h350 {height:350px!important;}
.h400 {height:400px!important;}
.h450 {height:450px!important;}
.h500 {height:500px!important;}
.h-auto {height: auto;}
.h-full {height: 100%;}
.h-v {height: 100vh;}
.h-v-5 {height: 50vh;}

/* 이미지 */
.img-responsive {width: 100%; height: auto;}
.w-8 {width: 8px;height: 8px;display: inline-block;}
.w-16 {width: 16px;height: 16px;display: inline-block;}
.w-20 {width: 20px;height: 20px;display: inline-block;}
.w-24 {width: 24px;height: 24px;display: inline-block;text-align: center;}
.w-32 {width: 32px;height: 32px;line-height: 32px;display: inline-block;text-align: center;}
.w-40 {width: 40px;height: 40px;line-height: 40px;display: inline-block;text-align: center;}
.w-48 {width: 48px;height: 48px;line-height: 48px;display: inline-block;text-align: center;}
.w-56 {width: 56px;height: 56px;line-height: 56px;display: inline-block;text-align: center;}

/* 텍스트 */
.ls-xs {letter-spacing: -0.03rem;}
.ls-sm {letter-spacing: -0.06rem;}
.ls-md {letter-spacing: -0.09rem;}
.ls-lg {letter-spacing: -0.12rem;}
.ls-0 {letter-spacing: 0!important;}
.ellipsis {overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.ellipsis2 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;}
.ellipsis3 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word;}
.ellipsis4 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; word-wrap:break-word;}
.ellipsis5 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; word-wrap:break-word;}
.text-2xs {font-size: 0.5rem!important;}
.text-3xs {font-size: 0.4rem!important;}
.text-4xs {font-size: 0.3rem!important;}
.text-xs {font-size: 0.75rem;}
.text-sm {font-size: 0.8rem;}
.text-md {font-size: 1.125rem;}
.text-lg {font-size: 1.5rem;}
.text-2x {font-size: 2em;}
.text-3x {font-size: 3em;}
.text-4x {font-size: 4em;}
.text-muted {color: inherit;opacity: 0.6; }
.text-color {color: rgba(0, 0, 0, 0.87); }
.text-ellipsis {display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.text-capitalize {text-transform: capitalize;}
.text-uppercase {text-transform: uppercase;}
.text-linethrough {text-decoration: line-through;}
.text-shadow {text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);}
.text-underline {text-decoration: underline;}
._100 {font-weight: 100;}
._200 {font-weight: 200;}
._300 {font-weight: 300;}
._400 {font-weight: 400;}
._500 {font-weight: 500;}
._600 {font-weight: 600;}
._700 {font-weight: 700;}
._800 {font-weight: 800;}
.l-h {line-height: 1.5; }
.l-h-1x {line-height: 1; }
.l-h-2x {line-height: 2em;}
blockquote {border-color: rgba(120, 130, 140, 0.13);}
small {font-size: 90%;}
sup {position: relative; top: -1em; font-size: 75%;}
a {color: inherit; text-decoration: none; cursor: pointer; outline: 0;}
a:hover,a:focus {color: inherit; text-decoration: none;}
*:focus {outline: 0!important;}

/* 선 */
.no-border {border-color: transparent;border-width: 0;}
.no-borders {border-width: 0 !important;}
.b {border-color: rgba(120, 130, 140, 0.13);background-clip: padding-box;}
.b-2x {border-width: 2px;}
.b-3x {border-width: 3px;}
.b-4x {border-width: 4px;}
.b-5x {border-width: 5px;}
.b-t-2x {border-top-width: 2px !important;}
.b-t-3x {border-top-width: 3px !important;}
.b-t-4x {border-top-width: 4px !important;}
.b-t-5x {border-top-width: 5px !important;}
.b-r-2x {border-right-width: 2px !important;}
.b-r-3x {border-right-width: 3px !important;}
.b-r-4x {border-right-width: 4px !important;}
.b-r-5x {border-right-width: 5px !important;}
.b-b-2x {border-bottom-width: 2px !important;}
.b-b-3x {border-bottom-width: 3px !important;}
.b-b-4x {border-bottom-width: 4px !important;}
.b-b-5x {border-bottom-width: 5px !important;}
.b-l-2x {border-left-width: 2px !important;}
.b-l-3x {border-left-width: 3px !important;}
.b-l-4x {border-left-width: 4px !important;}
.b-l-5x {border-left-width: 5px !important;}
.b-a {border: 1px solid rgba(120, 130, 140, 0.4);}
.b-t {border-top: 1px solid rgba(120, 130, 140, 0.4);}
.b-r {border-right: 1px solid rgba(120, 130, 140, 0.4);}
.b-b {border-bottom: 1px solid rgba(120, 130, 140, 0.4);}
.b-l {border-left: 1px solid rgba(120, 130, 140, 0.4);}
.b-a-light {border: 1px solid rgba(120, 130, 140, 0.15);}
.b-t-light {border-top: 1px solid rgba(120, 130, 140, 0.15);}
.b-r-light {border-right: 1px solid rgba(120, 130, 140, 0.15);}
.b-l-light {border-left: 1px solid rgba(120, 130, 140, 0.15);}
.b-b-light {border-bottom: 1px solid rgba(120, 130, 140, 0.15);}
.no-radius {border-radius: 0 !important;}
.no-radius-t {border-top-right-radius: 0; border-top-left-radius: 0;}
.no-radius-r {border-bottom-right-radius: 0; border-top-right-radius: 0;}
.no-radius-b {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.no-radius-l {border-bottom-left-radius: 0; border-top-left-radius: 0;}
.radius {border-radius: 3px;}
.radius-t {border-top-right-radius: 3px; border-top-left-radius: 3px;}
.radius-r {border-bottom-right-radius: 3px; border-top-right-radius: 3px;}
.radius-b {border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
.radius-l {border-bottom-left-radius: 3px; border-top-left-radius: 3px;}
.radius-2x {border-radius: 6px;}
.radius-3x {border-radius: 9px;}


/* 화면컨트롤 */
.block {display: block;}
.block.hide {display: none;}
.pull-none {float: none;}
.inline {display: inline-block;}
.inline-16 {width: 16px;height: 16px;}
.inline-24 {width: 24px;height: 24px;}
.active > .inline,.active > .auto .inline {display: none;}
.active > .none,.active > .auto .none {display: inline-block;}
.none {display: none;}.hide {display: none !important;}
.show {display: block !important;}
.pointer {cursor: pointer;}
.rounded,.circle {border-radius: 500px;}
.clear {display: block;overflow: hidden;}
.clearboth {clear:both; display: block; content: '';}
.no-shadow {-webkit-box-shadow: none !important; box-shadow: none !important;}
.pointer {cursor: pointer;}
.no-pointer {cursor:default!important;}
.hidden {visibility: hidden!important;}
.dp-none {display:none!important;}
.dp-block {display:block!important;}
.scroll-x,
.scroll-y {overflow: hidden;-webkit-overflow-scrolling: touch;}
.scroll-y {overflow-y: auto;}
.scroll-x {overflow-x: auto;}
.blur {-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);}
.blur-5 {opacity: 0.5; -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);}
.opacity {opacity: 0.5;}
.opacity-3 {opacity: 0.3;}

/* 정렬 */
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.pull-left {float: left;}
.pull-right {float: right;}
.pull-center {position: absolute; left: 50%;}
.v-m {vertical-align: middle !important;}
.v-t {vertical-align: top !important;}
.v-b {vertical-align: bottom !important;}
.v-c {display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center;}

/* 간격 */
.m-a {margin: 1rem !important;}
.m-t {margin-top: 1rem !important;}
.m-r {margin-right: 1rem !important;}
.m-b {margin-bottom: 1rem !important;}
.m-l {margin-left: 1rem !important;}
.m-x {margin-right: 1rem !important; margin-left: 1rem !important;}
.m-y {margin-top: 1rem !important; margin-bottom: 1rem !important;}
.m-a-lg {margin: 3rem !important;}
.m-t-lg {margin-top: 3rem !important;}
.m-r-lg {margin-right: 3rem !important;}
.m-b-lg {margin-bottom: 3rem !important;}
.m-l-lg {margin-left: 3rem !important;}
.m-x-lg {margin-right: 3rem !important; margin-left: 3rem !important;}
.m-y-lg {margin-top: 3rem !important; margin-bottom: 3rem !important;}
.m-a-md {margin: 1.5rem !important;}
.m-t-md {margin-top: 1.5rem !important;}
.m-r-md {margin-right: 1.5rem !important;}
.m-b-md {margin-bottom: 1.5rem !important;}
.m-l-md {margin-left: 1.5rem !important;}
.m-x-md {margin-right: 1.5rem !important; margin-left: 1.5rem !important;}
.m-y-md {margin-top: 1.5rem !important; margin-bottom: 1.5rem !important;}
.m-a-sm {margin: 0.5rem !important;}
.m-t-sm {margin-top: 0.5rem !important;}
.m-r-sm {margin-right: 0.5rem !important;}
.m-b-sm {margin-bottom: 0.5rem !important;}
.m-l-sm {margin-left: 0.5rem !important;}
.m-x-sm {margin-right: 0.5rem !important; margin-left: 0.5rem !important;}
.m-y-sm {margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;}
.m-a-xs {margin: 0.25rem !important;}
.m-t-xs {margin-top: 0.25rem !important;}
.m-r-xs {margin-right: 0.25rem !important;}
.m-b-xs {margin-bottom: 0.25rem !important;}
.m-l-xs {margin-left: 0.25rem !important;}
.m-x-xs {margin-right: 0.25rem !important; margin-left: 0.25rem !important;}
.m-y-xs {margin-top: 0.25rem !important; margin-bottom: 0.25rem !important;}
.p-a {padding: 1rem !important;}
.p-t {padding-top: 1rem !important;}
.p-r {padding-right: 1rem !important;}
.p-b {padding-bottom: 1rem !important;}
.p-l {padding-left: 1rem !important;}
.p-x {padding-right: 1rem !important;padding-left: 1rem !important;}
.p-y {padding-top: 1rem !important;padding-bottom: 1rem !important;}
.p-a-lg {padding: 3rem !important;}
.p-t-lg {padding-top: 3rem !important;}
.p-r-lg {padding-right: 3rem !important;}
.p-b-lg {padding-bottom: 3rem !important;}
.p-l-lg {padding-left: 3rem !important;}
.p-x-lg {padding-right: 3rem !important;padding-left: 3rem !important;}
.p-y-lg {padding-top: 3rem !important;padding-bottom: 3rem !important;}
.p-a-md {padding: 1.5rem !important;}
.p-t-md {padding-top: 1.5rem !important;}
.p-r-md {padding-right: 1.5rem !important;}
.p-b-md {padding-bottom: 1.5rem !important;}
.p-l-md {padding-left: 1.5rem !important;}
.p-x-md {padding-right: 1.5rem !important;padding-left: 1.5rem !important;}
.p-y-md {padding-top: 1.5rem !important;padding-bottom: 1.5rem !important;}
.p-a-sm {padding: 0.5rem !important;}
.p-t-sm {padding-top: 0.5rem !important;}
.p-r-sm {padding-right: 0.5rem !important;}
.p-b-sm {padding-bottom: 0.5rem !important;}
.p-l-sm {padding-left: 0.5rem !important;}
.p-x-sm {padding-right: 0.5rem !important;padding-left: 0.5rem !important;}
.p-y-sm {padding-top: 0.5rem !important;padding-bottom: 0.5rem !important;}
.p-a-xs {padding: 0.25rem !important;}
.p-t-xs {padding-top: 0.25rem !important;}
.p-r-xs {padding-right: 0.25rem !important;}
.p-b-xs {padding-bottom: 0.25rem !important;}
.p-l-xs {padding-left: 0.25rem !important;}
.p-x-xs {padding-right: 0.25rem !important;padding-left: 0.25rem !important;}
.p-y-xs {padding-top: 0.25rem !important;padding-bottom: 0.25rem !important;}
.padding {padding: 1.5rem 1.5rem; }
.margin {margin-bottom: 1.5rem;}
.padding-out {margin: -1.5rem -1.5rem;}
.p-a-responsible {padding:1.5rem!important;}
.p-x-responsible {padding-left:1.5rem!important; padding-right:1.5rem!important;}
.p-y-responsible {padding-top:1.5rem!important; padding-bottom:1.5rem!important;}
.p-a-responsible-2x {padding:3rem!important;}
.p-x-responsible-2x {padding-left:3rem!important; padding-right:3rem!important;}
.p-y-responsible-2x {padding-top:3rem!important; padding-bottom:3rem!important;}
.m-a-responsible {margin:1.5rem!important;}
.m-x-responsible {margin-left:1.5rem!important;margin-right:1.5rem!important;}
.m-y-responsible {margin-top:1.5rem!important;margin-bottom:1.5rem!important;}
.m-t-responsible {margin-top:1.5rem!important;}
.m-b-responsible {margin-bottom:1.5rem!important;}
.m-l-responsible {margin-left:1.5rem!important;}
.m-r-responsible {margin-right:1.5rem!important;}
@media (max-width: 991px) {
	.padding {padding: 1rem 1rem;}
	.padding-out {margin: -1rem -1rem;}
	.margin {margin-bottom: 1rem;}
	.p-a-responsible {padding:1rem!important;}
	.p-x-responsible {padding-left:1rem!important; padding-right:1rem!important;}
	.p-y-responsible {padding-top:1rem!important; padding-bottom:1rem!important;}
	.p-a-responsible-2x {padding:1.5rem!important;}
	.p-x-responsible-2x {padding-left:1.5rem!important; padding-right:1.5rem!important;}
	.p-y-responsible-2x {padding-top:1.5rem!important; padding-bottom:1.5rem!important;}
	.m-a-responsible {margin:1rem!important;}
	.m-x-responsible {margin-left:1rem!important;margin-right:1rem!important;}
	.m-y-responsible {margin-top:1rem!important;margin-bottom:1rem!important;}
	.m-t-responsible {margin-top:1rem!important;}
	.m-b-responsible {margin-bottom:1rem!important;}
	.m-l-responsible {margin-left:1rem!important;}
	.m-r-responsible {margin-right:1rem!important;}
}
@media (max-width: 767px) {
	.padding {padding: 0.5rem 0.5rem;}
	.padding-out {margin: -0.5rem -0.5rem;}
	.margin {margin-bottom: 0.5rem;}
	.p-a-responsible {padding:0.5rem!important;}
	.p-x-responsible {padding-left:0.5rem!important; padding-right:0.5rem!important;}
	.p-y-responsible {padding-top:0.5rem!important; padding-bottom:0.5rem!important;}
	.p-a-responsible-2x {padding:1.5rem!important;}
	.p-x-responsible-2x {padding-left:1rem!important; padding-right:1rem!important;}
	.p-y-responsible-2x {padding-top:1rem!important; padding-bottom:1rem!important;}
	.m-a-responsible {margin:0.5rem!important;}
	.m-x-responsible {margin-left:0.5rem!important;margin-right:0.5rem!important;}
	.m-y-responsible {margin-top:0.5rem!important;margin-bottom:0.5rem!important;}
	.m-t-responsible {margin-top:0.5rem!important;}
	.m-b-responsible {margin-bottom:0.5rem!important;}
	.m-l-responsible {margin-left:0.5rem!important;}
	.m-r-responsible {margin-right:0.5rem!important;}
}

/* 스위치 */
.ui-switch{cursor:pointer;position:relative;display:inline-block;width:32px;height:18px;border-radius:30px;margin:0}
.ui-switch input{position:absolute;opacity:0}
.ui-switch input:checked + i:before{top:50%;bottom:50%;left:50%;right:5px;border-width:0;border-radius:5px}
.ui-switch input:checked + i:after{margin-left:15px}
.ui-switch i:before{content:"";position:absolute;top:-1px;bottom:-1px;left:-1px;right:-1px;background-color:#fff;border:1px solid #f0f0f0;border-radius:30px;-webkit-transition:all .2s;transition:all .2s}
.ui-switch i:after{content:"";position:absolute;background-color:#fff;width:16px;top:1px;bottom:1px;border-radius:50%;box-shadow:1px 1px 3px rgba(0,0,0,0.25);-webkit-transition:margin .3s;transition:margin .3s}
.ui-switch-md{width:40px;height:24px}
.ui-switch-md input:checked + i:after{margin-left:17px}
.ui-switch-md i:after{width:22px}
.ui-switch-lg{width:50px;height:30px}
.ui-switch-lg input:checked + i:after{margin-left:21px}
.ui-switch-lg i:after{width:28px}

/* 체크박스 */
.ui-check{position:relative;padding-left:20px;cursor:pointer}
.ui-check input{opacity:0;position:absolute;z-index:-1}
.ui-check input:checked + i:before{left:5px;top:5px;width:6px;height:6px;background-color:#0cc2aa}
.ui-check input:checked + span .active{display:inherit}
.ui-check input[type="radio"] + i,.ui-check input[type="radio"] + i:before{border-radius:50%}
.ui-check input[disabled] + i,fieldset[disabled] .ui-check input + i{border-color:rgba(134,143,152,0.2)}
.ui-check input[disabled] + i:before,fieldset[disabled] .ui-check input + i:before{background-color:rgba(134,143,152,0.2)}
.ui-check > i{width:16px;height:16px;line-height:1;box-shadow:0 0 1px rgba(120,130,140,0.35);margin-left:-20px;margin-top:-2px;display:inline-block;vertical-align:middle;margin-right:4px;background-clip:padding-box;position:relative}
.ui-check > i:before{content:"";position:absolute;left:50%;top:50%;width:0;height:0;background-color:transparent}
.ui-check > span{margin-left:-20px}
.ui-check > span .active{display:none}
.ui-check.ui-check-color input:checked + i:before{background-color:#fff}
.ui-check-md input:checked + i:before{left:6px;top:6px}
.ui-check-md > i{width:18px;height:18px}
.ui-check-lg input:checked + i:before{width:12px;height:12px;left:9px;top:9px}
.ui-check-lg > i{width:30px;height:30px}

/* Google Color Pallet */
.red {background-color: #f44336; color: rgba(255, 255, 255, 0.87);}
.red-50 {background-color: #ffebee; color: rgba(0, 0, 0, 0.87);}
.red-100 {background-color: #ffcdd2; color: rgba(0, 0, 0, 0.87);}
.red-200 {background-color: #ef9a9a; color: rgba(0, 0, 0, 0.87);}
.red-300 {background-color: #e57373; color: rgba(0, 0, 0, 0.87);}
.red-400 {background-color: #ef5350; color: rgba(0, 0, 0, 0.87);}
.red-500 {background-color: #f44336; color: rgba(255, 255, 255, 0.87);}
.red-600 {background-color: #e53935; color: rgba(255, 255, 255, 0.87);}
.red-700 {background-color: #d32f2f; color: rgba(255, 255, 255, 0.87);}
.red-800 {background-color: #c62828; color: rgba(255, 255, 255, 0.87);}
.red-900 {background-color: #b71c1c; color: rgba(255, 255, 255, 0.87);}
.red-A100 {background-color: #ff8a80; color: rgba(0, 0, 0, 0.87);}
.red-A200 {background-color: #ff5252; color: rgba(255, 255, 255, 0.87);}
.red-A400 {background-color: #ff1744; color: rgba(255, 255, 255, 0.87);}
.red-A700 {background-color: #d50000; color: rgba(255, 255, 255, 0.87);}
.pink {background-color: #e91e63; color: rgba(255, 255, 255, 0.87);}
.pink-50 {background-color: #fce4ec; color: rgba(0, 0, 0, 0.87);}
.pink-100 {background-color: #f8bbd0; color: rgba(0, 0, 0, 0.87);}
.pink-200 {background-color: #f48fb1; color: rgba(0, 0, 0, 0.87);}
.pink-300 {background-color: #f06292; color: rgba(0, 0, 0, 0.87);}
.pink-400 {background-color: #ec407a; color: rgba(0, 0, 0, 0.87);}
.pink-500 {background-color: #e91e63; color: rgba(255, 255, 255, 0.87);}
.pink-600 {background-color: #d81b60; color: rgba(255, 255, 255, 0.87);}
.pink-700 {background-color: #c2185b; color: rgba(255, 255, 255, 0.87);}
.pink-800 {background-color: #ad1457; color: rgba(255, 255, 255, 0.87);}
.pink-900 {background-color: #880e4f; color: rgba(255, 255, 255, 0.87);}
.pink-A100 {background-color: #ff80ab; color: rgba(0, 0, 0, 0.87);}
.pink-A200 {background-color: #ff4081; color: rgba(255, 255, 255, 0.87);}
.pink-A400 {background-color: #f50057; color: rgba(255, 255, 255, 0.87);}
.pink-A700 {background-color: #c51162; color: rgba(255, 255, 255, 0.87);}
.purple {background-color: #9c27b0; color: rgba(255, 255, 255, 0.87);}
.purple-50 {background-color: #f3e5f5; color: rgba(0, 0, 0, 0.87);}
.purple-100 {background-color: #e1bee7; color: rgba(0, 0, 0, 0.87);}
.purple-200 {background-color: #ce93d8; color: rgba(0, 0, 0, 0.87);}
.purple-300 {background-color: #ba68c8; color: rgba(255, 255, 255, 0.87);}
.purple-400 {background-color: #ab47bc; color: rgba(255, 255, 255, 0.87);}
.purple-500 {background-color: #9c27b0; color: rgba(255, 255, 255, 0.87);}
.purple-600 {background-color: #8e24aa; color: rgba(255, 255, 255, 0.87);}
.purple-700 {background-color: #7b1fa2; color: rgba(255, 255, 255, 0.87);}
.purple-800 {background-color: #6a1b9a; color: rgba(255, 255, 255, 0.87);}
.purple-900 {background-color: #4a148c; color: rgba(255, 255, 255, 0.87);}
.purple-A100 {background-color: #ea80fc; color: rgba(0, 0, 0, 0.87);}
.purple-A200 {background-color: #e040fb; color: rgba(255, 255, 255, 0.87);}
.purple-A400 {background-color: #d500f9; color: rgba(255, 255, 255, 0.87);}
.purple-A700 {background-color: #aa00ff; color: rgba(255, 255, 255, 0.87);}
.deep-purple {background-color: #673ab7; color: rgba(255, 255, 255, 0.87);}
.deep-purple-50 {background-color: #ede7f6; color: rgba(0, 0, 0, 0.87);}
.deep-purple-100 {background-color: #d1c4e9; color: rgba(0, 0, 0, 0.87);}
.deep-purple-200 {background-color: #b39ddb; color: rgba(0, 0, 0, 0.87);}
.deep-purple-300 {background-color: #9575cd; color: rgba(255, 255, 255, 0.87);}
.deep-purple-400 {background-color: #7e57c2; color: rgba(255, 255, 255, 0.87);}
.deep-purple-500 {background-color: #673ab7; color: rgba(255, 255, 255, 0.87);}
.deep-purple-600 {background-color: #5e35b1; color: rgba(255, 255, 255, 0.87);}
.deep-purple-700 {background-color: #512da8; color: rgba(255, 255, 255, 0.87);}
.deep-purple-800 {background-color: #4527a0; color: rgba(255, 255, 255, 0.87);}
.deep-purple-900 {background-color: #311b92; color: rgba(255, 255, 255, 0.87);}
.deep-purple-A100 {background-color: #b388ff; color: rgba(0, 0, 0, 0.87);}
.deep-purple-A200 {background-color: #7c4dff; color: rgba(255, 255, 255, 0.87);}
.deep-purple-A400 {background-color: #651fff; color: rgba(255, 255, 255, 0.87);}
.deep-purple-A700 {background-color: #6200ea; color: rgba(255, 255, 255, 0.87);}
.indigo {background-color: #3f51b5; color: rgba(255, 255, 255, 0.87);}
.indigo-50 {background-color: #e8eaf6; color: rgba(0, 0, 0, 0.87);}
.indigo-100 {background-color: #c5cae9; color: rgba(0, 0, 0, 0.87);}
.indigo-200 {background-color: #9fa8da; color: rgba(0, 0, 0, 0.87);}
.indigo-300 {background-color: #7986cb; color: rgba(255, 255, 255, 0.87);}
.indigo-400 {background-color: #5c6bc0; color: rgba(255, 255, 255, 0.87);}
.indigo-500 {background-color: #3f51b5; color: rgba(255, 255, 255, 0.87);}
.indigo-600 {background-color: #3949ab; color: rgba(255, 255, 255, 0.87);}
.indigo-700 {background-color: #303f9f; color: rgba(255, 255, 255, 0.87);}
.indigo-800 {background-color: #283593; color: rgba(255, 255, 255, 0.87);}
.indigo-900 {background-color: #1a237e; color: rgba(255, 255, 255, 0.87);}
.indigo-A100 {background-color: #8c9eff; color: rgba(0, 0, 0, 0.87);}
.indigo-A200 {background-color: #536dfe; color: rgba(255, 255, 255, 0.87);}
.indigo-A400 {background-color: #3d5afe; color: rgba(255, 255, 255, 0.87);}
.indigo-A700 {background-color: #304ffe; color: rgba(255, 255, 255, 0.87);}
.blue {background-color: #2196f3; color: rgba(255, 255, 255, 0.87);}
.blue-50 {background-color: #e3f2fd; color: rgba(0, 0, 0, 0.87);}
.blue-100 {background-color: #bbdefb; color: rgba(0, 0, 0, 0.87);}
.blue-200 {background-color: #90caf9; color: rgba(0, 0, 0, 0.87);}
.blue-300 {background-color: #64b5f6; color: rgba(0, 0, 0, 0.87);}
.blue-400 {background-color: #42a5f5; color: rgba(0, 0, 0, 0.87);}
.blue-500 {background-color: #2196f3; color: rgba(255, 255, 255, 0.87);}
.blue-600 {background-color: #1e88e5; color: rgba(255, 255, 255, 0.87);}
.blue-700 {background-color: #1976d2; color: rgba(255, 255, 255, 0.87);}
.blue-800 {background-color: #1565c0; color: rgba(255, 255, 255, 0.87);}
.blue-900 {background-color: #0d47a1; color: rgba(255, 255, 255, 0.87);}
.blue-A100 {background-color: #82b1ff; color: rgba(0, 0, 0, 0.87);}
.blue-A200 {background-color: #448aff; color: rgba(255, 255, 255, 0.87);}
.blue-A400 {background-color: #2979ff; color: rgba(255, 255, 255, 0.87);}
.blue-A700 {background-color: #2962ff; color: rgba(255, 255, 255, 0.87);}
.light-blue {background-color: #03a9f4; color: rgba(255, 255, 255, 0.87);}
.light-blue-50 {background-color: #e1f5fe; color: rgba(0, 0, 0, 0.87);}
.light-blue-100 {background-color: #b3e5fc; color: rgba(0, 0, 0, 0.87);}
.light-blue-200 {background-color: #81d4fa; color: rgba(0, 0, 0, 0.87);}
.light-blue-300 {background-color: #4fc3f7; color: rgba(0, 0, 0, 0.87);}
.light-blue-400 {background-color: #29b6f6; color: rgba(0, 0, 0, 0.87);}
.light-blue-500 {background-color: #03a9f4; color: rgba(255, 255, 255, 0.87);}
.light-blue-600 {background-color: #039be5; color: rgba(255, 255, 255, 0.87);}
.light-blue-700 {background-color: #0288d1; color: rgba(255, 255, 255, 0.87);}
.light-blue-800 {background-color: #0277bd; color: rgba(255, 255, 255, 0.87);}
.light-blue-900 {background-color: #01579b; color: rgba(255, 255, 255, 0.87);}
.light-blue-A100 {background-color: #80d8ff; color: rgba(0, 0, 0, 0.87);}
.light-blue-A200 {background-color: #40c4ff; color: rgba(0, 0, 0, 0.87);}
.light-blue-A400 {background-color: #00b0ff; color: rgba(0, 0, 0, 0.87);}
.light-blue-A700 {background-color: #0091ea; color: rgba(255, 255, 255, 0.87);}
.cyan {background-color: #00bcd4; color: rgba(255, 255, 255, 0.87);}
.cyan-50 {background-color: #e0f7fa; color: rgba(0, 0, 0, 0.87);}
.cyan-100 {background-color: #b2ebf2; color: rgba(0, 0, 0, 0.87);}
.cyan-200 {background-color: #80deea; color: rgba(0, 0, 0, 0.87);}
.cyan-300 {background-color: #4dd0e1; color: rgba(0, 0, 0, 0.87);}
.cyan-400 {background-color: #26c6da; color: rgba(0, 0, 0, 0.87);}
.cyan-500 {background-color: #00bcd4; color: rgba(255, 255, 255, 0.87);}
.cyan-600 {background-color: #00acc1; color: rgba(255, 255, 255, 0.87);}
.cyan-700 {background-color: #0097a7; color: rgba(255, 255, 255, 0.87);}
.cyan-800 {background-color: #00838f; color: rgba(255, 255, 255, 0.87);}
.cyan-900 {background-color: #006064; color: rgba(255, 255, 255, 0.87);}
.cyan-A100 {background-color: #84ffff; color: rgba(0, 0, 0, 0.87);}
.cyan-A200 {background-color: #18ffff; color: rgba(0, 0, 0, 0.87);}
.cyan-A400 {background-color: #00e5ff; color: rgba(0, 0, 0, 0.87);}
.cyan-A700 {background-color: #00b8d4; color: rgba(0, 0, 0, 0.87);}
.teal {background-color: #009688; color: rgba(255, 255, 255, 0.87);}
.teal-50 {background-color: #e0f2f1; color: rgba(0, 0, 0, 0.87);}
.teal-100 {background-color: #b2dfdb; color: rgba(0, 0, 0, 0.87);}
.teal-200 {background-color: #80cbc4; color: rgba(0, 0, 0, 0.87);}
.teal-300 {background-color: #4db6ac; color: rgba(0, 0, 0, 0.87);}
.teal-400 {background-color: #26a69a; color: rgba(0, 0, 0, 0.87);}
.teal-500 {background-color: #009688; color: rgba(255, 255, 255, 0.87);}
.teal-600 {background-color: #00897b; color: rgba(255, 255, 255, 0.87);}
.teal-700 {background-color: #00796b; color: rgba(255, 255, 255, 0.87);}
.teal-800 {background-color: #00695c; color: rgba(255, 255, 255, 0.87);}
.teal-900 {background-color: #004d40; color: rgba(255, 255, 255, 0.87);}
.teal-A100 {background-color: #a7ffeb; color: rgba(0, 0, 0, 0.87);}
.teal-A200 {background-color: #64ffda; color: rgba(0, 0, 0, 0.87);}
.teal-A400 {background-color: #1de9b6; color: rgba(0, 0, 0, 0.87);}
.teal-A700 {background-color: #00bfa5; color: rgba(0, 0, 0, 0.87);}
.green {background-color: #4caf50; color: rgba(255, 255, 255, 0.87);}
.green-50 {background-color: #e8f5e9; color: rgba(0, 0, 0, 0.87);}
.green-100 {background-color: #c8e6c9; color: rgba(0, 0, 0, 0.87);}
.green-200 {background-color: #a5d6a7; color: rgba(0, 0, 0, 0.87);}
.green-300 {background-color: #81c784; color: rgba(0, 0, 0, 0.87);}
.green-400 {background-color: #66bb6a; color: rgba(0, 0, 0, 0.87);}
.green-500 {background-color: #4caf50; color: rgba(255, 255, 255, 0.87);}
.green-600 {background-color: #43a047; color: rgba(255, 255, 255, 0.87);}
.green-700 {background-color: #388e3c; color: rgba(255, 255, 255, 0.87);}
.green-800 {background-color: #2e7d32; color: rgba(255, 255, 255, 0.87);}
.green-900 {background-color: #1b5e20; color: rgba(255, 255, 255, 0.87);}
.green-A100 {background-color: #b9f6ca; color: rgba(0, 0, 0, 0.87);}
.green-A200 {background-color: #69f0ae; color: rgba(0, 0, 0, 0.87);}
.green-A400 {background-color: #00e676; color: rgba(0, 0, 0, 0.87);}
.green-A700 {background-color: #00c853; color: rgba(0, 0, 0, 0.87);}
.light-green {background-color: #8bc34a; color: rgba(0, 0, 0, 0.87);}
.light-green-50 {background-color: #f1f8e9; color: rgba(0, 0, 0, 0.87);}
.light-green-100 {background-color: #dcedc8; color: rgba(0, 0, 0, 0.87);}
.light-green-200 {background-color: #c5e1a5; color: rgba(0, 0, 0, 0.87);}
.light-green-300 {background-color: #aed581; color: rgba(0, 0, 0, 0.87);}
.light-green-400 {background-color: #9ccc65; color: rgba(0, 0, 0, 0.87);}
.light-green-500 {background-color: #8bc34a; color: rgba(0, 0, 0, 0.87);}
.light-green-600 {background-color: #7cb342; color: rgba(0, 0, 0, 0.87);}
.light-green-700 {background-color: #689f38; color: rgba(0, 0, 0, 0.87);}
.light-green-800 {background-color: #558b2f; color: rgba(255, 255, 255, 0.87);}
.light-green-900 {background-color: #33691e; color: rgba(255, 255, 255, 0.87);}
.light-green-A100 {background-color: #ccff90; color: rgba(0, 0, 0, 0.87);}
.light-green-A200 {background-color: #b2ff59; color: rgba(0, 0, 0, 0.87);}
.light-green-A400 {background-color: #76ff03; color: rgba(0, 0, 0, 0.87);}
.light-green-A700 {background-color: #64dd17; color: rgba(0, 0, 0, 0.87);}
.lime {background-color: #cddc39; color: rgba(0, 0, 0, 0.87);}
.lime-50 {background-color: #f9fbe7; color: rgba(0, 0, 0, 0.87);}
.lime-100 {background-color: #f0f4c3; color: rgba(0, 0, 0, 0.87);}
.lime-200 {background-color: #e6ee9c; color: rgba(0, 0, 0, 0.87);}
.lime-300 {background-color: #dce775; color: rgba(0, 0, 0, 0.87);}
.lime-400 {background-color: #d4e157; color: rgba(0, 0, 0, 0.87);}
.lime-500 {background-color: #cddc39; color: rgba(0, 0, 0, 0.87);}
.lime-600 {background-color: #c0ca33; color: rgba(0, 0, 0, 0.87);}
.lime-700 {background-color: #afb42b; color: rgba(0, 0, 0, 0.87);}
.lime-800 {background-color: #9e9d24; color: rgba(0, 0, 0, 0.87);}
.lime-900 {background-color: #827717; color: rgba(255, 255, 255, 0.87);}
.lime-A100 {background-color: #f4ff81; color: rgba(0, 0, 0, 0.87);}
.lime-A200 {background-color: #eeff41; color: rgba(0, 0, 0, 0.87);}
.lime-A400 {background-color: #c6ff00; color: rgba(0, 0, 0, 0.87);}
.lime-A700 {background-color: #aeea00; color: rgba(0, 0, 0, 0.87);}
.yellow {background-color: #ffeb3b; color: rgba(0, 0, 0, 0.87);}
.yellow-50 {background-color: #fffde7; color: rgba(0, 0, 0, 0.87);}
.yellow-100 {background-color: #fff9c4; color: rgba(0, 0, 0, 0.87);}
.yellow-200 {background-color: #fff59d; color: rgba(0, 0, 0, 0.87);}
.yellow-300 {background-color: #fff176; color: rgba(0, 0, 0, 0.87);}
.yellow-400 {background-color: #ffee58; color: rgba(0, 0, 0, 0.87);}
.yellow-500 {background-color: #ffeb3b; color: rgba(0, 0, 0, 0.87);}
.yellow-600 {background-color: #fdd835; color: rgba(0, 0, 0, 0.87);}
.yellow-700 {background-color: #fbc02d; color: rgba(0, 0, 0, 0.87);}
.yellow-800 {background-color: #f9a825; color: rgba(0, 0, 0, 0.87);}
.yellow-900 {background-color: #f57f17; color: rgba(0, 0, 0, 0.87);}
.yellow-A100 {background-color: #ffff8d; color: rgba(0, 0, 0, 0.87);}
.yellow-A200 {background-color: #ffff00; color: rgba(0, 0, 0, 0.87);}
.yellow-A400 {background-color: #ffea00; color: rgba(0, 0, 0, 0.87);}
.yellow-A700 {background-color: #ffd600; color: rgba(0, 0, 0, 0.87);}
.amber {background-color: #ffc107; color: rgba(0, 0, 0, 0.87);}
.amber-50 {background-color: #fff8e1; color: rgba(0, 0, 0, 0.87);}
.amber-100 {background-color: #ffecb3; color: rgba(0, 0, 0, 0.87);}
.amber-200 {background-color: #ffe082; color: rgba(0, 0, 0, 0.87);}
.amber-300 {background-color: #ffd54f; color: rgba(0, 0, 0, 0.87);}
.amber-400 {background-color: #ffca28; color: rgba(0, 0, 0, 0.87);}
.amber-500 {background-color: #ffc107; color: rgba(0, 0, 0, 0.87);}
.amber-600 {background-color: #ffb300; color: rgba(0, 0, 0, 0.87);}
.amber-700 {background-color: #ffa000; color: rgba(0, 0, 0, 0.87);}
.amber-800 {background-color: #ff8f00; color: rgba(0, 0, 0, 0.87);}
.amber-900 {background-color: #ff6f00; color: rgba(0, 0, 0, 0.87);}
.amber-A100 {background-color: #ffe57f; color: rgba(0, 0, 0, 0.87);}
.amber-A200 {background-color: #ffd740; color: rgba(0, 0, 0, 0.87);}
.amber-A400 {background-color: #ffc400; color: rgba(0, 0, 0, 0.87);}
.amber-A700 {background-color: #ffab00; color: rgba(0, 0, 0, 0.87);}
.orange {background-color: #ff9800; color: rgba(0, 0, 0, 0.87);}
.orange-50 {background-color: #fff3e0; color: rgba(0, 0, 0, 0.87);}
.orange-100 {background-color: #ffe0b2; color: rgba(0, 0, 0, 0.87);}
.orange-200 {background-color: #ffcc80; color: rgba(0, 0, 0, 0.87);}
.orange-300 {background-color: #ffb74d; color: rgba(0, 0, 0, 0.87);}
.orange-400 {background-color: #ffa726; color: rgba(0, 0, 0, 0.87);}
.orange-500 {background-color: #ff9800; color: rgba(0, 0, 0, 0.87);}
.orange-600 {background-color: #fb8c00; color: rgba(0, 0, 0, 0.87);}
.orange-700 {background-color: #f57c00; color: rgba(0, 0, 0, 0.87);}
.orange-800 {background-color: #ef6c00; color: rgba(255, 255, 255, 0.87);}
.orange-900 {background-color: #e65100; color: rgba(255, 255, 255, 0.87);}
.orange-A100 {background-color: #ffd180; color: rgba(0, 0, 0, 0.87);}
.orange-A200 {background-color: #ffab40; color: rgba(0, 0, 0, 0.87);}
.orange-A400 {background-color: #ff9100; color: rgba(0, 0, 0, 0.87);}
.orange-A700 {background-color: #ff6d00; color: rgba(0, 0, 0, 0.87);}
.deep-orange {background-color: #ff5722; color: rgba(255, 255, 255, 0.87);}
.deep-orange-50 {background-color: #fbe9e7; color: rgba(0, 0, 0, 0.87);}
.deep-orange-100 {background-color: #ffccbc; color: rgba(0, 0, 0, 0.87);}
.deep-orange-200 {background-color: #ffab91; color: rgba(0, 0, 0, 0.87);}
.deep-orange-300 {background-color: #ff8a65; color: rgba(0, 0, 0, 0.87);}
.deep-orange-400 {background-color: #ff7043; color: rgba(0, 0, 0, 0.87);}
.deep-orange-500 {background-color: #ff5722; color: rgba(255, 255, 255, 0.87);}
.deep-orange-600 {background-color: #f4511e; color: rgba(255, 255, 255, 0.87);}
.deep-orange-700 {background-color: #e64a19; color: rgba(255, 255, 255, 0.87);}
.deep-orange-800 {background-color: #d84315; color: rgba(255, 255, 255, 0.87);}
.deep-orange-900 {background-color: #bf360c; color: rgba(255, 255, 255, 0.87);}
.deep-orange-A100 {background-color: #ff9e80; color: rgba(0, 0, 0, 0.87);}
.deep-orange-A200 {background-color: #ff6e40; color: rgba(0, 0, 0, 0.87);}
.deep-orange-A400 {background-color: #ff3d00; color: rgba(255, 255, 255, 0.87);}
.deep-orange-A700 {background-color: #dd2c00; color: rgba(255, 255, 255, 0.87);}
.brown {background-color: #795548; color: rgba(255, 255, 255, 0.87);}
.brown-50 {background-color: #efebe9; color: rgba(0, 0, 0, 0.87);}
.brown-100 {background-color: #d7ccc8; color: rgba(0, 0, 0, 0.87);}
.brown-200 {background-color: #bcaaa4; color: rgba(0, 0, 0, 0.87);}
.brown-300 {background-color: #a1887f; color: rgba(255, 255, 255, 0.87);}
.brown-400 {background-color: #8d6e63; color: rgba(255, 255, 255, 0.87);}
.brown-500 {background-color: #795548; color: rgba(255, 255, 255, 0.87);}
.brown-600 {background-color: #6d4c41; color: rgba(255, 255, 255, 0.87);}
.brown-700 {background-color: #5d4037; color: rgba(255, 255, 255, 0.87);}
.brown-800 {background-color: #4e342e; color: rgba(255, 255, 255, 0.87);}
.brown-900 {background-color: #3e2723; color: rgba(255, 255, 255, 0.87);}
.blue-grey {background-color: #607d8b; color: rgba(255, 255, 255, 0.87);}
.blue-grey-50 {background-color: #eceff1; color: rgba(0, 0, 0, 0.87);}
.blue-grey-100 {background-color: #cfd8dc; color: rgba(0, 0, 0, 0.87);}
.blue-grey-200 {background-color: #b0bec5; color: rgba(0, 0, 0, 0.87);}
.blue-grey-300 {background-color: #90a4ae; color: rgba(0, 0, 0, 0.87);}
.blue-grey-400 {background-color: #78909c; color: rgba(255, 255, 255, 0.87);}
.blue-grey-500 {background-color: #607d8b; color: rgba(255, 255, 255, 0.87);}
.blue-grey-600 {background-color: #546e7a; color: rgba(255, 255, 255, 0.87);}
.blue-grey-700 {background-color: #455a64; color: rgba(255, 255, 255, 0.87);}
.blue-grey-800 {background-color: #37474f; color: rgba(255, 255, 255, 0.87);}
.blue-grey-900 {background-color: #263238; color: rgba(255, 255, 255, 0.87);}
.grey-50 {background-color: #fafafa; color: rgba(0, 0, 0, 0.87);}
.grey-100 {background-color: #f5f5f5; color: rgba(0, 0, 0, 0.87);}
.grey-200 {background-color: #eeeeee; color: rgba(0, 0, 0, 0.87);}
.grey-300 {background-color: #e0e0e0; color: rgba(0, 0, 0, 0.87);}
.grey-400 {background-color: #bdbdbd; color: rgba(0, 0, 0, 0.87);}
.grey-500 {background-color: #9e9e9e; color: rgba(0, 0, 0, 0.87);}
.grey-600 {background-color: #757575; color: rgba(255, 255, 255, 0.87);}
.grey-700 {background-color: #616161; color: rgba(255, 255, 255, 0.87);}
.grey-800 {background-color: #424242; color: rgba(255, 255, 255, 0.87);}
.grey-900 {background-color: #212121; color: rgba(255, 255, 255, 0.87);}





















































