<!-- <footer>
<div class="p-y text-xs text-muted">
    <div class="pull-right text-muted">
        &copy; Copyright 2016 <strong>SIOT</strong><span class="hidden-xs-down">. All rights reserved.</span>
        <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
    </div>
    <div class="nav text-xs text-muted ls-sm">
        <span class="m-r-sm b-r p-r">아임포트 상점관리</span>
        <span class="hidden-md-down">
	        <span class="m-r-sm"><a class="nav-link" href="../">서비스이용약관</a></span>
	        <span class="m-r-sm"><a class="nav-link" href="../">개인정보보호방침</a></span>
	        <span><a class="nav-link" href="#/app/help/cscenter">아임포트고객센터</a></span>
	    </span>
    </div>
    <div>
    	<ul class="footer-info">
			<li>서울특별시 영등포구 국제금융로 10 Three IFC 19층</li>
			<li>(주)시옷</li>
			<li>대표 장지윤</li>
			<li>사업자등록번호 200-00-000000</li>
			<li>통신판매업신고번호 2011-OOOO-0000</li>
			<li>전화 1670-5167</li>
			<li>이메일 iamport@sito.do</li>
			<li>개인정보관리자 장지윤</li>
		</ul>
    </div>
</div>
</footer> -->