<style>
.left-header-button {width:4rem; height:4rem; display:inline-block; float:left; text-align:center; font-size:1rem; margin:0; padding:0; line-height:3.9rem; cursor:pointer;}
.left-header-title {height:4rem; line-height:3.95rem; float:left; font-weight:600; font-size:1.2rem;}
.right-header-button {border-radius:2px!important; height:4rem; line-height:3.9rem; width:4rem; text-align:center; cursor: pointer; padding:0; font-size:1.1rem;}
</style>

<div class="row-col" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="col-xs-12">
        <div class="headline white b-b">
            <div class="pull-left p-a-0">
                <div class="left-header-button">
                    <div data-toggle="modal" data-target="#aside" class="hidden-lg-up"><i class="fa fa-bars"></i></div>
                    <div ng-click="app.setting.folded = !app.setting.folded" class="hidden-md-down"><i class="fa fa-bars"></i></div>
                </div>
                <div class="h5 ls-md _400 left-header-title" ng-bind="$state.current.data.title" id="pageTitle"></div>
            </div>
            <div class="pull-right">
                <div data-toggle="modal" data-target="#aside-right" class="right-header-button">
                    <i class="fa fa-th"></i>
                </div>
            </div>
        </div>
    </div>
</div>