<!-- aside -->
<div id="aside" class="app-aside modal lg fade nav-dropdown" ng-class="{'folded': app.setting.folded}" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="left navside black lt">
        <div class="row-col">
            <div ui-include="'../views/layout/navbar.brand.html'"></div>
            <div ui-include="'../views/layout/nav.html'"></div>
        </div>
    </div>
</div>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div class="app-header">
        <div ui-include="'../views/layout/header.html'"></div>
    </div>
    <div class="app-footer" ng-class="{'hide': $state.current.data.hideFooter}">
        <div class="container">
            <div ui-include="'../views/layout/footer.html'"></div>
        </div>
    </div>
    <div ui-view class="app-body container" id="view"></div>
</div>

<!-- modal -->
<div ui-include="'../views/layout/modal.html'"></div>
