
<script>
// ESC 누를 때 모달창 닫기
$(document).keyup(function(e) {
	if (e.keyCode == 27) { // escape key maps to keycode `27`
		$('.modal').modal('hide');
	}
});
</script>

<div id="aside-right" class="modal lg fade" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="right navside white lt aside-right">
        <div class="row line-info">
            <div class="col-xs-12">
				<div class="navbar-brand {{app.setting.theme.primary}} no-pointer">
			        <img src="../assets/images/logo-sq-lt.png" class="logo">
			        <div class="company-info">
			        	<div class="company-name">이상준</div>
			        	<div class="company-mail">namu@siot.do</div>
			        </div>
				</div>
			</div>
        </div>
        <div class="row line-grid">
        	<div class="col-xs-12">
        		<ul class="row no-gutter">
        			<li class="col-xs-3">
	        			<a href="#/app/store/info" ui-sref="app.store.info" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-shop"></i></div>
	        				<div class="link-name">가맹점</div>
	        			</a>
        			</li>
        			<li class="col-xs-3">
        				<a href="#/app/store/install" ui-sref="app.store.install" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-browser-26"></i></div>
	        				<div class="link-name">설치정보</div>
        				</a>
        			</li>
        			<li class="col-xs-3">
	        			<a href="#/app/store/pgsetting" ui-sref="app.store.pgsetting" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-payment-method"></i></div>
	        				<div class="link-name">PG연동</div>
	        			</a>
        			</li>
        			<li class="col-xs-3">
	        			<a href="#/app/store/creditcard" ui-sref="app.store.creditcard" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-credit-card"></i></div>
	        				<div class="link-name">카드설정</div>
	        			</a>
        			</li>
        		</ul>
        	</div>
        </div>
        <div class="row line-grid">
        	<div class="col-xs-12">
        		<ul class="row no-gutter">
        			<li class="col-xs-3">
	        			<a href="#/app/store/now" ui-sref="app.store.now" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-star"></i></div>
	        				<div class="link-name">서비스</div>
	        			</a>
        			</li>
        			<li class="col-xs-3">
	        			<a href="#/app/store/plan" ui-sref="app.store.plan" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-browser-31"></i></div>
	        				<div class="link-name">신청/변경</div>
	        			</a>
        			</li>
        			<li class="col-xs-3">
	        			<a href="#/app/store/wallet" ui-sref="app.store.wallet" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-wallet-1"></i></div>
	        				<div class="link-name">지불정보</div>
	        			</a>
        			</li>
        			<li class="col-xs-3">
	        			<a href="#/app/store/history" ui-sref="app.store.history" data-dismiss="modal">
	        				<div class="link-icon"><i class="icon icon-invoice"></i></div>
	        				<div class="link-name">이용내역</div>
	        			</a>
        			</li>
        		</ul>
        	</div>
        </div><!-- 
        <div class="row-col line-card">
			<div class="col-xs-12">
				<div class="cardplate">
					<img class="card-logo" src="../assets/images/card/lt/lotte.png" alt="">
					<div class="card-name">롯데카드 (6925)</div>
				</div>
				<div class="cardmenu">
					<ul class="row">
						<li class="col-xs-4">등록/삭제</li>
						<li class="col-xs-4">이용현황</li>
						<li class="col-xs-4">결제내역</li>
					</ul>
				</div>
			</div>
        </div> -->
        <div class="row line-theme">
        	<div class="col-xs-12">
        		<div class="themeplate">
	        		<div class="row-col themeline">
	        			<div class="col-xs-6">
				            <div class="themelabel">
				            	<div class="text-sm ls-xs">메인색상</div>
				            </div>
				            <div class="themeradio">
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="setTheme({theme:{primary:'primary', accent:'accent', warn:'warn'}});">
				            		<input type="radio" name="color" ng-model="app.setting.themeID" value="1">
				            		<i class="primary"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="setTheme({theme:{primary:'accent', accent:'cyan', warn:'warn'}})">
				            		<input type="radio" name="color" ng-model="app.setting.themeID" value="2">
				            		<i class="accent"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="setTheme({theme:{primary:'info', accent:'light-blue', warn:'success'}})">
				            		<input type="radio" name="color" ng-model="app.setting.themeID" value="5">
				            		<i class="info"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="setTheme({theme:{primary:'warning', accent:'grey-100', warn:'success'}})">
				            		<input type="radio" name="color" ng-model="app.setting.themeID" value="7">
				            		<i class="warning"></i>
				            	</label>
				            </div>
			            </div>
	        			<div class="col-xs-6">
				            <div class="themelabel">
				            	<div class="text-sm ls-xs">배경테마</div>
				            </div>
				            <div class="themeradio">
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="app.setting.bg=''">
				            		<input type="radio" name="bgcolor" ng-model="app.setting.bg" value="">
				            		<i class="" style="background-color:#ccc;"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="app.setting.bg='grey'">
				            		<input type="radio" name="bgcolor" ng-model="app.setting.bg" value="grey">
				            		<i class="grey"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="app.setting.bg='dark'">
				            		<input type="radio" name="bgcolor" ng-model="app.setting.bg" value="dark">
				            		<i class="dark"></i>
				            	</label>
				            	<label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg" ng-click="app.setting.bg='black'">
				            		<input type="radio" name="bgcolor" ng-model="app.setting.bg" value="black">
				            		<i class="black"></i>
				            	</label>
				            </div>
				        </div>
			        </div>
			    </div>
            </div>
        </div>
        <div class="row line-link">
        	<div class="col-xs-12">
        		<div class="linkplate">
	        		<div class="row-col linkline">
	        			<div class="col-xs-6">
			            	<ul>
			            		<li><a onclick="location.href='#/app/help/faq'" data-dismiss="modal">자주하는 질문</a></li>
			            		<li><a onclick="window.open('http://www.iamport.kr/manual')" target="_blank" data-dismiss="modal">사용매뉴얼</a></li>
			            		<li><a onclick="window.open('http://www.iamport.kr/promotion')" target="_blank" data-dismiss="modal">PG 가입 신청</a></li>
			            		<li><a onclick="location.href='#/app/home/notice'" data-dismiss="modal">공지사항</a></li>
			            	</ul>
			            </div>
	        			<div class="col-xs-6">
			            	<ul>
			            		<li><a onclick="window.open('http://www.iamport.kr/demo')" target="_blank" data-dismiss="modal">결제모듈 DEMO</a></li>
			            		<li><a onclick="window.open('https://api.iamport.kr/')" target="_blank" data-dismiss="modal">REST API 명세</a></li>
			            		<li><a onclick="window.open('https://github.com/iamport/iamport-rest-client')" target="_blank" data-dismiss="modal">클라이언트 모듈</a></li>
			            		<li><a onclick="location.href='#/app/help/cscenter'" data-dismiss="modal">아임포트 고객센터</a></li>
			            	</ul>
				        </div>
			        </div>
			    </div>
            </div>
        </div>
        <!-- <div class="row line-link">
        	<div class="col-xs-12">
        		<div class="linkplate">
	        		<div class="row-col linkline">
	        			<div class="col-xs-6">
			            	<ul>
			            		<li><a href="#/app/help/faq" data-dismiss="modal">아임포트 정보</a></li>
			            	</ul>
			            </div>
	        			<div class="col-xs-6">
			            	<ul>
			            		<li><a onclick="location.href='#/app/help/faq'" data-dismiss="modal">서비스 이용약관</a></li>
			            		<li><a onclick="location.href='#/app/help/faq'" data-dismiss="modal">개인정보 취급방침</a></li>
			            		<li><a onclick="location.href='#/app/home/update'" data-dismiss="modal">시스템 개선사항</a></li>
			            	</ul>
				        </div>
			        </div>
			    </div>
            </div>
        </div> -->

        <nav ui-nav style="position:absolute; bottom:0; width:100%;">
        	<div class="p-a text-2xs text-muted ls-xs">
        		<ul class="m-b-xs">
        			<span class="m-r-xs" style="word-break:keep-all">서비스 이용약관</span>
        			<span class="m-r-xs" style="word-break:keep-all">개인정보 보호방침</span>
        		</ul>
        		<ul>
        			<span class="m-r-xs" style="word-break:keep-all">(주)시옷</span>
        			<span class="m-r-xs" style="word-break:keep-all">대표 장지윤</span>
        			<span class="m-r-xs" style="word-break:keep-all">개인정보담당자 장지윤</span>
        			<span class="m-r-xs" style="word-break:keep-all">사업자등록번호 117-81-78260</span>
        			<span class="m-r-xs" style="word-break:keep-all">사업장소재지 서울시 영등포구 국제금융로 10 Three IFC 19층</span>
        			<span class="m-r-xs" style="word-break:keep-all">Tel 1670-5176 (운영시간 : 13:00~19:00)</span>
        			<span class="m-r-xs" style="word-break:keep-all">Email iamport@siot.do</span><br>
        			<span class="m-r-xs" style="word-break:keep-all">© 2014 ~ 2016 SIOT. All right reserved.</span>
        		</ul>
        	</div>
        	<ul class="nav">
        		<li><div class="b-b b m-t-sm"></div></li>
        		<li class="no-bg">
        			<a ui-sref="access.signin">
        				<span class="nav-icon">
        					<i class="icon icon-power"></i>
        				</span>
        				<span class="nav-text">로그아웃</span>
        			</a>
        		</li>
        	</ul>
        </nav>

    </div>
</div>

<div class="modal fade inactive" id="user" data-backdrop="true">
		<div class="right aside-right white" style="box-shadow:-2px 0 4px rgba(120,130,140,0.15);">
			<div class="row-col userinfo">
				
			</div>
			<div class="row-col">
				<a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
				<div class="row-row">
					<div class="row-body">
						<div class="row-inner">
							<div class="list-group no-radius no-borders">

							</div>
						</div>
					</div>
				</div>
				<div class="p-a">
					<a href class="text-muted"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
					<a href class="text-muted m-h"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
				</div>
			</div>
		</div>
 	</div>
</div>