<div class="row-row">
    <div class="row-body scrollable hover">
        <div class="row-inner">
            <nav class="nav-dark p-t-md">
                <ul class="nav" ui-nav>
                    <li ng-class="{active:$state.includes('{{nav.page}}')}" ng-repeat="nav in app.nav">
                        <a href="{{nav.href}}" ui-sref="{{nav.sref}}">
                            <i ng-show="nav.lock" class="icon icon-lock-2 pull-right text-2xs hidden-folded"></i>
                            <span class="nav-icon"><img src="../assets/images/icon/{{nav.icon}}" alt="" class="w20"></span>
                            <span class="nav-text" ng-bind="nav.menu"></span>
                        </a>

                        <!-- 서비스현황 -->
                        <ul class="nav-sub" ng-show="$index==3">
                            <li ui-sref-active="active">
                                <a href="#/app/revenue/date" ui-sref="app.revenue.date"><span class="nav-text">날짜별 현황</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/revenue/time" ui-sref="app.revenue.time"><span class="nav-text">시간대별 현황</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/revenue/location" ui-sref="app.revenue.location"><span class="nav-text">지역별 현황</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/revenue/useragent" ui-sref="app.revenue.useragent"><span class="nav-text">환경별 현황</span></a>
                            </li>
                        </ul>

                        <!-- 결제상태 분석 -->
                        <ul class="nav-sub" ng-show="$index==4">
                            <li ui-sref-active="active">
                                <a href="#/app/pay/try" ui-sref="app.pay.try"><span class="nav-text">결제시도</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/pay/paid" ui-sref="app.pay.paid"><span class="nav-text">결제완료</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/pay/failed" ui-sref="app.pay.failed"><span class="nav-text">결제실패</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/pay/canceled" ui-sref="app.pay.canceled"><span class="nav-text">결제취소</span></a>
                            </li>
                        </ul>

                        <!-- 결제수단 분석 -->
                        <ul class="nav-sub" ng-show="$index==5">
                            <li ui-sref-active="active">
                                <a href="#/app/pattern/summary" ui-sref="app.pattern.summary"><span class="nav-text">이용자 결제패턴</span></a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="#/app/pattern/specific" ui-sref="app.pattern.specific"><span class="nav-text">카드/은행별 상세현황</span></a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

