<a class="navbar-brand" href="#/app/home/dashboard" ui-sref="app.home.dashboard">
    <div class="hidden-dk">
        <img src="../assets/images/logo-sq-lt.png" class="logo">
        <img src="../assets/images/logo-text-lt.png" class="text hidden-folded">
    </div>
    <div class="hidden-lt">
        <img src="../assets/images/logo-sq-dk.png" class="logo">
        <img src="../assets/images/logo-text-dk.png" class="text hidden-folded">
    </div>
</a>