<div class="" ng-controller="ColorCtrl">

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                날짜별 현황
                <a class="m-l p-l text-muted text-sm b-l" href="#/app/pay/summary" ui-sref="app.pay.summary">
                    <i class="icon icon-back"></i>
                    서비스 현황으로 돌아가기
                </a>
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 차트 섹션 -->
    <div class="row">

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제건수</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        tooltip : {
                            trigger: 'axis',
                            backgroundColor:'rgba(0,0,0,0.8)',
                            borderRadius:3,
                            padding:8,
                            showDelay:0,
                            hideDelay:0,
                            formatter: function (params) {
                                var tar = params[0];
                                return tar.name + '일' + '<br/>' + tar.seriesName + ' : ' + tar.value + '건';
                            },
                            axisPointer : {
                                type: 'shadow'
                            },
                            textStyle: {
                                fontSize : 12
                            }
                        },
                        toolbox: {
                            show : false
                        },
                        calculable : false,
                        legend: {
                            data:['결제건수'],
                            selectedMode:true
                        },
                        xAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                data : {{axis_m}},
                                boundaryGap : false
                            }
                        ],
                        yAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:50
                        },
                        series : [
                            {
                                type:'line',
                                symbolSize:0,
                                name:'결제건수',
                                data:{{data_m_8}},
                                itemStyle: {
                                    normal: {
                                        color:'{{green400}}'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:300px;" >
                    </div>
                    <div class="alert alert-success dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>총 결제건수는 {{pay=1200|number:0}}건, 일평균 결제건수는 {{pay/31|number:1}}건입니다. (15.1<span class="text-xs _400" style="padding-left:0.1rem;">% 증가</span>)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제금액</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        tooltip : {
                            trigger: 'axis',
                            backgroundColor:'rgba(0,0,0,0.8)',
                            borderRadius:3,
                            padding:8,
                            showDelay:0,
                            hideDelay:0,
                            formatter: function (params) {
                                var tar = params[0];
                                return tar.name + '일' + '<br/>' + tar.seriesName + ' : ' + tar.value + '건';
                            },
                            axisPointer : {
                                type: 'shadow'
                            },
                            textStyle: {
                                fontSize : 12
                            }
                        },
                        toolbox: {
                            show : false
                        },
                        calculable : false,
                        legend: {
                            data:['결제건수'],
                            selectedMode:true
                        },
                        xAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                data : {{axis_m}},
                                boundaryGap : false
                            }
                        ],
                        yAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:50
                        },
                        series : [
                            {
                                type:'line',
                                symbolSize:0,
                                name:'결제건수',
                                data:{{data_m_1}},
                                itemStyle: {
                                    normal: {
                                        color:'{{green400}}'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:300px;" >
                    </div>
                    <div class="alert alert-success dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>총 결제금액은 {{revenue=4944200|number:0}}원, 일평균 결제금액은 {{revenue/31|number:0}}원입니다. (4.1<span class="text-xs _400" style="padding-left:0.1rem;">% 감소</span>)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 dp-none">
            <div class="box m-b-responsible">
                <div class="box-header">결제건당 결제금액</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        tooltip : {
                            trigger: 'axis',
                            backgroundColor:'rgba(0,0,0,0.8)',
                            borderRadius:3,
                            padding:8,
                            showDelay:0,
                            hideDelay:0,
                            formatter: function (params) {
                                var tar = params[0];
                                return tar.name + '일' + '<br/>' + tar.seriesName + ' : ' + tar.value + '건';
                            },
                            axisPointer : {
                                type: 'shadow'
                            },
                            textStyle: {
                                fontSize : 12
                            }
                        },
                        toolbox: {
                            show : false
                        },
                        calculable : false,
                        legend: {
                            data:['결제건수'],
                            selectedMode:true
                        },
                        xAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                data : {{axis_m}},
                                boundaryGap : false
                            }
                        ],
                        yAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:50
                        },
                        series : [
                            {
                                type:'line',
                                symbolSize:0,
                                name:'결제건수',
                                data:{{data_m_8}},
                                itemStyle: {
                                    normal: {
                                        color:'{{green400}}'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:300px;" >
                    </div>
                    <div class="alert alert-success dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제건당 결제금액은 {{revenue/pay|number:0}}<span class="text-xs _400" style="padding-left:0.1rem;">원</span>원입니다. (12.1<span class="text-xs _400" style="padding-left:0.1rem;">% 감소</span>)</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-a-0">
                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>#</th>
                                <th>날짜</th>
                                <th>결제건수</th>
                                <th>결제건수(누적)</th>
                                <th>결제금액</th>
                                <th>결제금액(누적)</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
                                <td class="w10"></td>
                                <td><span ng-bind="$index+1"></span></td>
                                <td>2016-06-01</td>
                                <td>13</td>  
                                <td>13</td>  
                                <td>{{12300|number:0}}</td>
                                <td>{{12300|number:0}}</td>
                                <td class="w10"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group m-t-responsible text-muted">
                <button class="btn btn-xs white w30">1</button>
                <button class="btn btn-xs white w30">2</button>
                <button class="btn btn-xs white w30">3</button>
                <button class="btn btn-xs white w30">4</button>
                <button class="btn btn-xs white w30">5</button>
                <button class="btn btn-xs white w30">6</button>
                <button class="btn btn-xs white w30">7</button>
                <button class="btn btn-xs white w30">8</button>
                <button class="btn btn-xs white w30"><i class="icon icon-next"></i></button>
            </div>            
        </div>
    </div>

</div>
