<div class="padding p-t-md">

    <div class="row-col">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div ui-include="'../views/blocks/daterangepicker.html'"></div>
                        <div class="btn-group p-b-sm m-r-xs">
                            <button class="btn btn-sm text-sm white w100" data-toggle="dropdown">조회항목</button>
                            <div class="btn btn-sm text-sm white p-x-sm no-bounce" data-toggle="dropdown" style="border-radius:0 2px 2px 0;"><i class="fa fa-unsorted"></i></div>
                            <div class="dropdown-menu white dk dropdown-menu-scale" style="width:100%; min-width:auto; top:36px;">
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">디바이스</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">운영체제</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">브라우저</a>
                            </div>
                        </div>
                        <div class="btn-group p-b-sm m-r-xs">
                            <div class="btn btn-sm text-sm white">조회</div>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-settings-5"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-speech-bubble-4"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-share"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    	<div class="col-xs-6">
	        <div class="box">
		        <div class="box-header">기기별 변화</div>
                <div class="box-body p-x-responsible">
                	<div style="height:360px"></div>
                </div>
			</div>
		</div>
    	<div class="col-xs-6">
	        <div class="box">
		        <div class="box-header">기기별 비중</div>
                <div class="box-body p-x-responsible">
                	<div style="height:360px"></div>
                </div>
			</div>
		</div>
    </div>

    <div class="row-col">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <input type="text" class="btn btn-sm text-sm white btn-search">
                            <div class="btn btn-sm text-sm white date3">검색</div>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm">
                            <div class="btn btn-sm text-sm white">테이블 컬럼관리</div>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-a-0">

                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>#</th>
                                <th>날짜</th>
                                <th>결제건수</th>
                                <th>결제건수(누적)</th>
                                <th>결제금액</th>
                                <th>결제금액(누적)</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                <td class="w10"></td>
                                <td><span ng-bind="$index+1"></span></td>
                                <td>2016-06-01</td>
                                <td>13</td>  
                                <td>13</td>  
                                <td>{{12300|number:0}}</td>
                                <td>{{12300|number:0}}</td>
                                <td class="w10"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
// jQuery(document).ready(function( $ ) {
//   $('.counter').counterUp({
//       delay: 10,
//       time: 500
//   });
// });
// </script>