<div class="padding p-t-md">

    <div class="row-col">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div ui-include="'../views/blocks/daterangepicker.html'"></div>
                        <div class="btn-group p-b-sm m-r-xs">
                            <button class="btn btn-sm text-sm white w100" data-toggle="dropdown">조회항목</button>
                            <div class="btn btn-sm text-sm white p-x-sm no-bounce" data-toggle="dropdown" style="border-radius:0 2px 2px 0;"><i class="fa fa-unsorted"></i></div>
                            <div class="dropdown-menu white dk dropdown-menu-scale" style="width:100%; min-width:auto; top:36px;">
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">결제건수</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">결제금액</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">결제성공율</a>
                            </div>
                        </div>
                        <div class="btn-group p-b-sm m-r-xs">
                            <div class="btn btn-sm text-sm white">조회</div>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-settings-5"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-speech-bubble-4"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-share"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    	<div class="col-xs-12 col-sm-6">
	        <div class="box">
		        <div class="box-header">그룹별 변화</div>
                <div class="box-body p-x-responsible">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['0-10%','10-20%','20-30%','30-40%','40-50%','50-60%','60-70%','70-80%','80-90%','90-100%'],
                            selectedMode:true,
                            selected:{
                            '10-20%':false,
                            '20-30%':false,
                            '30-40%':false,
                            '40-50%':false,
                            '50-60%':false,
                            '60-70%':false,
                            '70-80%':false,
                            '80-90%':false,
                            '90-100%':false},
                            orient : 'vertical',
                            x:'left'
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                data : {{axis_m}},
                                boundaryGap : false
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                max:200
                            }
                        ],
                        grid : {
                            x:140,
                            x2:30,
                            y:45,
                            y2:60
                        },
                        series : [
                            {
                                type:'line',
                                symbolSize:0,
                                name:'0-10%',
                                data:{{data_m_1}},
                                itemStyle: {
                                    normal: {
                                        color:'{{red400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'10-20%',
                                data:{{data_m_2}},
                                itemStyle: {
                                    normal: {
                                        color:'{{pink400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'20-30%',
                                data:{{data_m_3}},
                                itemStyle: {
                                    normal: {
                                        color:'{{purple400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'30-40%',
                                data:{{data_m_4}},
                                itemStyle: {
                                    normal: {
                                        color:'{{deeppurple400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'40-50%',
                                data:{{data_m_5}},
                                itemStyle: {
                                    normal: {
                                        color:'{{indigo400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'50-60%',
                                data:{{data_m_6}},
                                itemStyle: {
                                    normal: {
                                        color:'{{blue400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'60-70%',
                                data:{{data_m_2}},
                                itemStyle: {
                                    normal: {
                                        color:'{{lightblue400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'70-80%',
                                data:{{data_m_7}},
                                itemStyle: {
                                    normal: {
                                        color:'{{cyon400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'80-90%',
                                data:{{data_m_8}},
                                itemStyle: {
                                    normal: {
                                        color:'{{teal400}}'
                                    }
                                }
                            },{
                                type:'line',
                                symbolSize:0,
                                name:'90-100%',
                                data:{{data_m_9}},
                                itemStyle: {
                                    normal: {
                                        color:'{{green400}}'
                                    }
                                }
                            }
                        ]
                    }" style="height:360px" >
                	</div>
                </div>
			</div>
		</div>
    	<div class="col-xs-12 col-sm-6">
	        <div class="box">
		        <div class="box-header">그룹별 비중</div>
                <div class="box-body p-x-responsible">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}카드 : {c}원 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data: ['0-10%','10-20%','20-30%','30-40%','40-50%','50-60%','60-70%','70-80%','80-90%','90-100%']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제건수',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                        {value:1233, name:'0-10%',itemStyle:{normal:{color:'#ef5350'}}},
                        {value:673, name:'10-20%',itemStyle:{normal:{color:'#ec407a'}}},
                        {value:423, name:'20-30%',itemStyle:{normal:{color:'#ab47bc'}}},
                        {value:353, name:'30-40%',itemStyle:{normal:{color:'#7e57c2'}}},
                        {value:653, name:'40-50%',itemStyle:{normal:{color:'#5c6bc0'}}},
                        {value:753, name:'50-60%',itemStyle:{normal:{color:'#42a5f5'}}},
                        {value:253, name:'60-70%',itemStyle:{normal:{color:'#29b6f6'}}},
                        {value:353, name:'70-80%',itemStyle:{normal:{color:'#26c6da'}}},
                        {value:753, name:'80-90%',itemStyle:{normal:{color:'#26a69a'}}},
                        {value:313, name:'90-100%',itemStyle:{normal:{color:'#66bb6a'}}}
                                ]
                            }
                        ]
                    }" style="height:360px" >
                    </div>
                </div>
			</div>
		</div>
    </div>

    <div class="row-col">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <input type="text" class="btn btn-sm text-sm white btn-search">
                            <div class="btn btn-sm text-sm white date3">검색</div>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm">
                            <div class="btn btn-sm text-sm white">테이블 컬럼관리</div>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-a-0">

                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>#</th>
                                <th>날짜</th>
                                <th>결제건수</th>
                                <th>결제건수(누적)</th>
                                <th>결제금액</th>
                                <th>결제금액(누적)</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                <td class="w10"></td>
                                <td><span ng-bind="$index+1"></span></td>
                                <td>2016-06-01</td>
                                <td>13</td>  
                                <td>13</td>  
                                <td>{{12300|number:0}}</td>
                                <td>{{12300|number:0}}</td>
                                <td class="w10"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
// jQuery(document).ready(function( $ ) {
//   $('.counter').counterUp({
//       delay: 10,
//       time: 500
//   });
// });
// </script>