<div class="" ng-controller="ColorCtrl">

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                시간대별 현황
                <a class="m-l p-l text-muted text-sm b-l" href="#/app/pay/summary" ui-sref="app.pay.summary">
                    <i class="icon icon-back"></i>
                    서비스 현황으로 돌아가기
                </a>
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 차트 섹션 -->
    <div class="row">
        
        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제건수 분포</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        tooltip : {
                            trigger: 'axis',
                            showDelay : 0,
                            formatter : function (params) {
                                if (params.value.length > 1) {
                                    return '결제시각 : ' + (params.value[0]-(params.value[0]%1)) + '시 ' + (((params.value[0]%1)*60)-(((params.value[0]%1)*60)%1)) + '분<br>'
                                       + '결제금액 : ' + ((params.value[1]*100)-((params.value[1]*100)%1)) + '원';
                                }
                                else {
                                    return params.seriesName + ' :<br/>'
                                       + params.name + ' : '
                                       + params.value + 'kg ';
                                }
                            },  
                            axisPointer:{
                                show: true,
                                type : 'cross',
                                lineStyle: {
                                    type : 'dashed',
                                    width : 1
                                }
                            },
                            backgroundColor:'rgba(0,0,0,0.8)',
                            borderRadius:3,
                            padding:8,
                            showDelay:0,
                            hideDelay:0,
                            axisPointer : {
                                type: 'shadow'
                            },
                            textStyle: {
                                fontSize : 12
                            }
                        },
                        legend: {
                            data:['결제분포']
                        },
                        toolbox: {
                            show : false
                        },
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:50
                        },
                        calculable : false,
                        xAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                type : 'value',
                                scale:true,
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max : 24
                            }
                        ],
                        yAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                type : 'value',
                                scale:true,
                                axisLabel : {
                                    formatter: '{value}00원'
                                }
                            }
                        ],
                        series : [
                            {
                                name:'결제분포',
                                type:'scatter',
                                data: [
                                    [14.8, 51.6], [13.2, 59.0], [11.7, 49.2], [11.7, 63.0], [19.0, 53.6],[15.7, 59.0], [14.9, 47.6], [12.1, 69.8], [12.1, 66.8], [22.7, 75.2],[14.3, 55.2], [15.2, 54.2], [13.7, 62.5], [13.7, 42.0], [6.9, 50.0],[11.2, 49.8], [13.7, 49.2], [14.2, 73.2], [14.2, 47.8], [10.1, 68.8],[14.0, 50.6], [13.3, 82.5], [12.3, 57.2], [12.3, 87.8], [6.5, 72.8],[14.7, 54.5], [11.8, 59.8], [16.3, 67.3], [16.3, 67.8], [7.6, 47.0],[10.5, 46.2], [10.6, 55.0], [8.2, 83.0], [8.2, 54.4], [2.6, 45.8],[12.3, 53.6], [11.9, 73.2], [14.5, 52.1], [14.5, 67.9], [6.7, 56.6],[11.4, 62.3], [15.9, 58.5], [10.0, 54.5], [10.0, 50.2], [9.4, 60.3],[10.5, 58.3], [12.9, 56.2], [8.4, 50.2], [8.4, 72.9], [15.0, 59.8],[10.3, 61.0], [14.7, 69.1], [22.0, 55.9], [22.0, 46.5], [19.7, 54.3],[14.4, 54.8], [10.3, 60.7], [13.6, 60.0], [13.6, 62.0], [9.8, 60.3],[14.4, 52.7], [14.7, 74.3], [20.6, 62.0], [20.6, 73.1], [21.5, 80.0],[11.5, 54.7], [10.4, 53.2], [17.7, 75.7], [17.7, 61.1], [17.1, 55.7],[15.9, 48.7], [15.4, 52.3], [8.5, 50.0], [8.5, 59.3], [2.7, 62.5],[15.9, 55.7], [11.6, 54.8], [19.6, 45.9], [19.6, 70.6], [1.4, 67.2],[11.6, 69.4], [12.1, 58.2], [12.3, 64.8], [12.3, 71.6], [4.5, 52.8],[15.7, 59.8], [10.1, 49.0], [8.5, 50.0], [8.5, 69.2], [8.4, 55.9],[10.6, 63.4], [13.1, 58.2], [10.6, 58.6], [10.6, 45.7], [2.1, 52.2],[15.9, 48.6], [12.4, 57.8], [14.6, 55.6], [14.6, 66.8], [2.2, 59.4],[12.8, 53.6], [14.5, 73.2], [12.6, 53.4], [12.6, 69.0], [4.2, 58.4],[10.4, 56.2], [10.0, 70.6], [18.2, 59.8], [18.2, 72.0], [17.9, 65.2],[12.7, 56.6], [11.6, 95.2], [14.2, 51.8], [14.2, 63.4], [3.9, 59.0],[11.8, 47.6], [10.0, 63.0], [14.5, 55.2], [14.5, 45.0], [15.5, 54.0],[10.6, 50.2], [12.0, 60.2], [20.2, 44.8], [20.2, 58.8], [3.8, 56.4],[15.7, 62.0], [15.5, 49.2], [20.2, 67.2], [20.2, 53.8], [3.6, 54.4],[11.1, 58.0], [10.9, 59.8], [16.8, 54.8], [16.8, 43.2], [3.6, 60.5],[11.6, 46.4], [10.3, 64.4], [10.1, 48.8], [10.1, 62.2], [20.7, 55.5],[11.3, 57.8], [14.7, 54.6], [11.3, 59.2], [11.3, 52.7], [13.2, 53.2],[10.9, 64.5], [14.5, 51.8], [10.6, 56.0], [10.6, 63.6], [17.1, 63.2],[12.8, 59.5], [15.8, 56.8], [8.5, 64.1], [8.5, 50.0], [19.6, 72.3],[13.4, 55.0], [11.0, 55.9], [16.3, 60.4], [16.3, 69.1], [6.1, 84.5],[14.2, 55.9], [10.3, 55.5], [15.8, 69.5], [15.8, 76.4], [5.4, 61.4],[10.1, 65.9], [15.7, 58.6], [17.6, 66.8], [17.6, 56.6], [17.9, 58.6],[12.0, 55.9], [13.0, 59.1], [15.8, 81.8], [15.8, 70.7], [21.8, 56.8],[15.9, 60.0], [10.6, 58.2], [9.2, 72.7], [9.2, 54.1], [3.2, 49.1],[15.5, 75.9], [12.8, 55.0], [21.3, 57.3], [21.3, 55.0], [12.7, 65.5],[10.8, 65.5], [13.5, 48.6], [16.7, 58.6], [16.7, 63.6], [18.0, 55.2],[13.3, 62.7], [11.2, 56.6], [11.9, 53.9], [11.9, 63.2], [10.1, 73.6],[12.0, 62.0], [10.2, 63.6], [14.8, 53.2], [14.8, 53.4], [16.5, 55.0],[13.6, 70.5], [13.0, 54.5], [22.0, 54.5], [22.0, 55.9], [10.6, 59.0],[10.2, 63.6], [12.8, 54.5], [16.7, 47.3], [16.7, 67.7], [20.9, 80.9],[10.8, 70.5], [10.3, 60.9], [13.1, 63.6], [13.1, 54.5], [18.0, 59.1],[14.0, 70.5], [10.9, 52.7], [20.8, 62.7], [20.8, 86.3], [18.9, 66.4],[15.3, 67.3], [14.1, 63.0], [16.5, 73.6], [16.5, 62.3], [19.1, 57.7],[10.3, 55.4], [10.7, 104.1], [18.8, 55.5], [18.8, 77.3], [5.6, 80.5],[12.2, 64.5], [13.7, 72.3], [15.3, 61.4], [15.3, 58.2], [23.7, 81.8],[14.5, 63.6], [11.8, 53.4], [20.9, 54.5], [20.9, 53.6], [7.6, 60.0],[15.1, 73.6], [11.1, 61.4], [14.4, 55.5], [14.4, 63.6], [22.9, 60.9],[14.5, 60.0], [11.5, 46.8], [13.6, 57.3], [13.6, 64.1], [18.1, 63.6],[10.9, 67.3], [12.9, 75.5], [13.4, 68.2], [13.4, 61.4], [17.7, 76.8],[10.1, 71.8], [14.9, 55.5], [17.7, 48.6], [17.7, 66.4], [20.4, 67.3]
                                ],
                                itemStyle : {
                                    normal : {
                                        color : '{{green400}}'
                                    }
                                },
                                symbolSize : 2,
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:300px;" >
                    </div>
                    <div class="alert alert-success dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>총 결제금액은 {{revenue=4944200|number:0}}원, 일평균 결제금액은 {{revenue/31|number:0}}원입니다. (4.1<span class="text-xs _400" style="padding-left:0.1rem;">% 감소</span>)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">평균 결제금액</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        tooltip : {
                            trigger: 'axis',
                            backgroundColor:'rgba(0,0,0,0.8)',
                            borderRadius:3,
                            padding:8,
                            showDelay:0,
                            hideDelay:0,
                            formatter: function (params) {
                                var tar = params[0];
                                return tar.name + '일' + '<br/>' + tar.seriesName + ' : ' + tar.value + '건';
                            },
                            axisPointer : {
                                type: 'shadow'
                            },
                            textStyle: {
                                fontSize : 12
                            }
                        },
                        toolbox: {
                            show : false
                        },
                        calculable : false,
                        legend: {
                            data:['결제건수'],
                            selectedMode:true
                        },
                        xAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                data : {{axis_m}},
                                boundaryGap : false
                            }
                        ],
                        yAxis : [
                            {
                                axisLine : {
                                    lineStyle: {width:'0'}
                                },
                                axisTick : {
                                    show:false
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:55,
                            x2:50,
                            y:50,
                            y2:50
                        },
                        series : [
                            {
                                type:'line',
                                symbolSize:0,
                                name:'결제건수',
                                data:{{data_m_8}},
                                itemStyle: {
                                    normal: {
                                        color:'{{green400}}'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:300px;" >
                    </div>
                    <div class="alert alert-success dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>총 결제건수는 {{pay=1200|number:0}}건, 일평균 결제건수는 {{pay/31|number:1}}건입니다. (15.1<span class="text-xs _400" style="padding-left:0.1rem;">% 증가</span>)</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body p-a-0">
                    <table class="table-type-4">
                        <thead>
                            <tr>
                                <th class="w10"></th>
                                <th>#</th>
                                <th>날짜</th>
                                <th>결제건수</th>
                                <th>결제건수(누적)</th>
                                <th>결제금액</th>
                                <th>결제금액(누적)</th>
                                <th class="w10"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
                                <td class="w10"></td>
                                <td><span ng-bind="$index+1"></span></td>
                                <td>2016-06-01</td>
                                <td>13</td>  
                                <td>13</td>  
                                <td>{{12300|number:0}}</td>
                                <td>{{12300|number:0}}</td>
                                <td class="w10"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group m-t-responsible text-muted">
                <button class="btn btn-xs white w30">1</button>
                <button class="btn btn-xs white w30">2</button>
                <button class="btn btn-xs white w30">3</button>
                <button class="btn btn-xs white w30">4</button>
                <button class="btn btn-xs white w30">5</button>
                <button class="btn btn-xs white w30">6</button>
                <button class="btn btn-xs white w30">7</button>
                <button class="btn btn-xs white w30">8</button>
                <button class="btn btn-xs white w30"><i class="icon icon-next"></i></button>
            </div>            
        </div>
    </div>

</div>

