<div>

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                이용자 결제패턴
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="btn-group p-b-sm m-r-xs">
                            <button class="btn btn-sm text-sm white w100" data-toggle="dropdown">카드사별</button>
                            <div class="btn btn-sm text-sm white p-x-sm" data-toggle="dropdown" style="border-radius:0 2px 2px 0;"><i class="fa fa-unsorted"></i></div>
                            <div class="dropdown-menu white dk dropdown-menu-scale" style="width:100%; min-width:auto; top:36px;">
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">카드사별</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">은행별</a>
                                <a class="dropdown-item text-sm ls-sm _400" ng-click="">통신사별</a>
                            </div>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 큰 차트 -->
    <div class="row">

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">카드별 비중</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}카드 : {c}원 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data: ['롯데','비씨','삼성','신한','우리','하나','현대','국민','씨티','SC제일','기타']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제건수',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                        {value:1233, name:'롯데',itemStyle:{normal:{color:'#ef5350'}}},
                        {value:673, name:'비씨',itemStyle:{normal:{color:'#ec407a'}}},
                        {value:423, name:'삼성',itemStyle:{normal:{color:'#ab47bc'}}},
                        {value:353, name:'신한',itemStyle:{normal:{color:'#7e57c2'}}},
                        {value:653, name:'우리',itemStyle:{normal:{color:'#5c6bc0'}}},
                        {value:753, name:'하나',itemStyle:{normal:{color:'#42a5f5'}}},
                        {value:253, name:'현대',itemStyle:{normal:{color:'#29b6f6'}}},
                        {value:353, name:'국민',itemStyle:{normal:{color:'#26c6da'}}},
                        {value:753, name:'씨티',itemStyle:{normal:{color:'#26a69a'}}},
                        {value:313, name:'SC제일',itemStyle:{normal:{color:'#66bb6a'}}},
                        {value:253, name:'기타',itemStyle:{normal:{color:'#9ccc65'}}}
                                ]
                            }
                        ]
                    }" style="height:300px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">카드별 비교</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제성공율 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>건당 결제금액 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}카드 : {c}원'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제금액']
                        },
                        grid: {
                            borderWidth: 0,
                            x:50,
                            x2:50,
                            y: 30,
                            y2: 30
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['롯데','비씨','삼성','신한','우리','하나','현대','국민','씨티','SC제일','기타']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:40
                            }
                        ],
                        series: [
                            {
                                name: '결제금액',
                                type: 'bar',
                                barCategoryGap: '50%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#ef5350',
                                                '#ec407a',
                                                '#ab47bc',
                                                '#7e57c2',
                                                '#5c6bc0',
                                                '#42a5f5',
                                                '#29b6f6',
                                                '#26c6da',
                                                '#26a69a',
                                                '#66bb6a',
                                                '#9ccc65',
                                                '#d4e157',
                                                '#ffee58',
                                                '#ffca28'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}'
                                        }
                                    }
                                },
                                data: [12,21,10,4,12,5,6,5,25,23,7]
                            }
                        ]
                    }" style="height:300px" >
                    </div>
                </div>
            </div>
        </div>

    </div><!-- row -->

    <!-- 구분선 -->
    <div class="row-col">
        <div class="col-xs-12">
            <div class="box b-b"></div>
        </div>
    </div>
    
    <div class="row" ng-init="
cardList=[
{name:'롯데',pay:'2341',revenue:'23452345',color:'#ef5350'},
{name:'비씨',pay:'3425',revenue:'32452453',color:'#ec407a'},
{name:'삼성',pay:'2451',revenue:'21341234',color:'#ab47bc'},
{name:'신한',pay:'3245',revenue:'32453245',color:'#7e57c2'},
{name:'우리',pay:'1234',revenue:'32141234',color:'#5c6bc0'},
{name:'하나',pay:'2311',revenue:'24514341',color:'#42a5f5'},
{name:'현대',pay:'3414',revenue:'23412423',color:'#29b6f6'},
{name:'국민',pay:'1413',revenue:'32341444',color:'#26c6da'},
{name:'씨티',pay:'2311',revenue:'24514341',color:'#26a69a'},
{name:'SC제일',pay:'2311',revenue:'24514341',color:'#66bb6a'},
{name:'기타',pay:'3414',revenue:'23412423',color:'#9ccc65'}
]"> 
        <!-- 카드별 작은 그래프 -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="card in cardList">
            <div class="box m-b-responsible">
                <div class="box-header row p-y-sm">
                    <div class="col-xs-6 text-sm">{{card.name}}카드</div>
                    <div class="col-xs-6 text-sm text-right ls-xs">{{card.revenue|number:0}}원</div>
                </div>
                <div class="box-body dker dk b-t p-t-0">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}일 : {c}원'
                        },
                        grid : {
                        x:0,x2:0,y:0,y2:0
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                max:300
                            }
                        ],
                        series : [
                            {
                                name:'결제금액',
                                symbolSize:0,
                                type:'line',
                                smooth:false,
                                itemStyle: {normal:{lineStyle:{color:'{{card.color}}'},areaStyle: {type: 'default', color:'{{card.color}}'}}},
                                data:{{data_m_2}}
                            }
                        ]
                    }" style="height:100px" >
                    </div>
                </div>
            </div>
        </div>


    </div><!-- row -->

</div><!-- padding -->  
