<div>

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                이용자 결제패턴
            </div>
        </div>
    </div>

    <!-- 페이지 툴바 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box bg-xs p-t-sm p-x-sm m-b-responsible">
                <div class="row-col">
                    <div class="col-xs-12">
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white">일간</button>
                            <button class="btn btn-sm text-sm white">주간</button>
                            <button class="btn btn-sm text-sm white">월간</button>
                        </div>
                        <div class="btn-group m-r-xs p-b-sm daterange">
                            <button class="btn btn-sm text-sm white w100">시작일</button>
                            <button class="btn btn-sm text-sm white w100 no-pointer no-bounce">종료일</button>
                        </div>
                        <div class="pull-right p-b-sm hidden-md-down">
                            <div class="btn-group">
                                <div class="btn btn-sm text-sm white"><i class="icon icon-refresh-page-arrow-button"></i></div>
                                <div class="btn btn-sm text-sm white"><i class="icon icon-info-sign"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 차트 섹션 -->
    <div class="row">

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제수단별 비중</div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}원 ({d}%)'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data: ['신용카드','실시간계좌이체','가상계좌','핸드폰결제']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제금액',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                                    {value:1233, name:'신용카드',itemStyle:{normal:{color:'#ef5350'}}},
                                    {value:673, name:'실시간계좌이체',itemStyle:{normal:{color:'#ec407a'}}},
                                    {value:423, name:'가상계좌',itemStyle:{normal:{color:'#ab47bc'}}},
                                    {value:353, name:'핸드폰결제',itemStyle:{normal:{color:'#7e57c2'}}}
                                ]
                            }
                        ]
                    }" style="height:300px" >
                    </div>
                    <div class="alert alert-grey dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>신용카드 결제가 전체의 46%로 가장 많습니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">결제성공율 비교</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}%'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제금액']
                        },
                        grid: {
                            borderWidth: 0,
                            x:55,
                            x2:35,
                            y: 35,
                            y2: 35
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: false,
                                {{axisline_style}},
                                data: ['신용카드','실시간\n계좌이체','가상계좌','핸드폰\n결제']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:100
                            }
                        ],
                        series: [
                            {
                                name: '결제금액',
                                type: 'bar',
                                barCategoryGap: '70%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#ef5350',
                                                '#ec407a',
                                                '#ab47bc',
                                                '#7e57c2',
                                                '#5c6bc0',
                                                '#42a5f5',
                                                '#29b6f6',
                                                '#26c6da',
                                                '#26a69a',
                                                '#66bb6a',
                                                '#9ccc65',
                                                '#d4e157',
                                                '#ffee58',
                                                '#ffca28'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{b}\n{c}%'
                                        }
                                    }
                                },
                                data: [87.5,68.4,76.7,85.5]
                            }
                        ]
                    }" style="height:300px" >
                    </div>
                    <div class="alert alert-grey dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제 1건당 평균 {{9112/3151|number:1}}회 결제를 시도합니다.</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">신용카드<span class="b-l m-l-sm p-l-xs text-xs text-muted">결제금액 기준</span></div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a p-t-0">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            show:false,
                            data:['결제금액'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:0,
                            y2:25
                        },
                        series : [
                            {
                                name:'결제금액',
                                type:'line',
                                data:{{data_m_1}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#EF5350'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:120px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">실시간 계좌이체<span class="b-l m-l-sm p-l-xs text-xs text-muted">결제금액 기준</span></div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a p-t-0">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            show:false,
                            data:['결제금액'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:0,
                            y2:25
                        },
                        series : [
                            {
                                name:'결제금액',
                                type:'line',
                                data:{{data_m_3}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#EC407A'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:120px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">가상계좌<span class="b-l m-l-sm p-l-xs text-xs text-muted">결제금액 기준</span></div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a p-t-0">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            show:false,
                            data:['일평균 결제금액'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:0,
                            y2:25
                        },
                        series : [
                            {
                                name:'일평균 결제금액',
                                type:'line',
                                data:{{data_m_3}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#AB47BC'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:120px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-xl-3">
            <div class="box m-b-responsible">
                <div class="box-header">핸드폰결제<span class="b-l m-l-sm p-l-xs text-xs text-muted">결제금액 기준</span></div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a p-t-0">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            show:false,
                            data:['결제금액'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:0,
                            y2:25
                        },
                        series : [
                            {
                                name:'결제금액',
                                type:'line',
                                data:{{data_m_3}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#7E57C2'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:120px" >
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 구분선 -->
    <div class="row-col b-t m-b-responsible"></div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">ISP/안심클릭 비중</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c}원 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['ISP계열','안심클릭계열']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제금액',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                                    {value:1233, name:'ISP계열',itemStyle:{normal:{color:'#26C6DA'}}},
                                    {value:673, name:'안심클릭계열',itemStyle:{normal:{color:'#42A5F5'}}}
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-grey dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제 1건당 평균 {{9112/3151|number:1}}회 결제를 시도합니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box m-b-responsible">
                <div class="box-header">ISP/안심클릭 변화</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['ISP계열','안심클릭계열'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:50,
                            y2:35
                        },
                        series : [
                            {
                                name:'ISP계열',
                                type:'line',
                                data:{{data_m_1}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#26C6DA'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            },
                            {
                                name:'안심클릭계열',
                                type:'line',
                                data:{{data_m_8}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#42A5F5'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                    <div class="alert alert-grey dk m-b-0 ls-sm _500 p-y-sm text-sm">
                        <i class="icon ion-information-circled alert-icon"></i>
                        <div>결제 1건당 평균 {{9112/3151|number:1}}회 결제를 시도합니다.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">일시불/할부 비중</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}은행 : {c}원 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['일시불','할부']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제금액',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                                    {value:1233, name:'일시불',itemStyle:{normal:{color:'#ffa726'}}},
                                    {value:673, name:'할부',itemStyle:{normal:{color:'#ff7043'}}}
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">일시불/할부 비교</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['일시불','할부'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:50,
                            y2:35
                        },
                        series : [
                            {
                                name:'일시불',
                                type:'line',
                                data:{{data_m_1}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#ffa726'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            },
                            {
                                name:'할부',
                                type:'line',
                                data:{{data_m_8}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#ff7043'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name : '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">할부사용 개월수</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}개월 : {c}원'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['결제금액']
                        },
                        grid: {
                            borderWidth: 0,
                            x:50,
                            x2:50,
                            y: 30,
                            y2: 30
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['1','2','3','4','5','6','7','8','9','10','11','12']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:350
                            }
                        ],
                        series: [
                            {
                                name: '결제금액',
                                type: 'bar',
                                barCategoryGap: '50%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#ffab91',
                                                '#ffab91',
                                                '#ff8a65',
                                                '#ff8a65',
                                                '#ff7043',
                                                '#ff7043',
                                                '#ff5722',
                                                '#ff5722',
                                                '#f4511e',
                                                '#f4511e',
                                                '#e64a19',
                                                '#e64a19',
                                                '#d84315',
                                                '#d84315'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{c}'
                                        }
                                    }
                                },
                                data: [122,121,210,234,132,55,63,51,25,23,7,2]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 구분선 -->
    <div class="row-col b-t m-b-responsible"></div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">가상계좌 발급건수</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        legend: {
                            data:['가상계좌 발급건수'],
                            selectedMode:false
                        },
                        xAxis : [
                            {
                                {{axisline_style}},
                                type : 'category',
                                boundaryGap : false,
                                data : {{axis_m}}
                            }
                        ],
                        yAxis : [
                            {
                                {{axisline_style}},
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}'
                                },
                                max:200
                            }
                        ],
                        grid : {
                            x:45,
                            x2:40,
                            y:50,
                            y2:35
                        },
                        series : [
                            {
                                name:'가상계좌 발급건수',
                                type:'line',
                                data:{{data_m_1}},
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color:'#66bb6a'
                                    }
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '평균값'}
                                    ]
                                }
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">입금 대기시간</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}시간 : {c}건'
                        },
                        legend: {
                            show:false,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['입금 대기시간']
                        },
                        grid: {
                            borderWidth: 0,
                            x:50,
                            x2:50,
                            y: 30,
                            y2: 30
                        },
                        xAxis: [
                            {
                                type: 'category',
                                show: true,
                                {{axisline_style}},
                                data: ['2','4','6','8','10','12','14','16','18','20','22','24']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                show: true,
                                {{axisline_style}},
                                max:350
                            }
                        ],
                        series: [
                            {
                                name: '입금 대기시간',
                                type: 'bar',
                                barCategoryGap: '50%',
                                itemStyle: {
                                    normal: {
                                        color: function(params) {
                                            // build a color map as your need.
                                            var colorList = [
                                                '#a5d6a7',
                                                '#a5d6a7',
                                                '#81c784',
                                                '#81c784',
                                                '#66bb6a',
                                                '#66bb6a',
                                                '#4caf50',
                                                '#4caf50',
                                                '#43a047',
                                                '#43a047',
                                                '#388e3c',
                                                '#388e3c',
                                                '#2e7d32',
                                                '#2e7d32'
                                            ];
                                            return colorList[params.dataIndex]
                                        },
                                        label: {
                                            show: true,
                                            position: 'top',
                                            formatter: '{c}'
                                        }
                                    }
                                },
                                data: [122,121,210,234,132,55,63,51,25,23,7,2]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-4">
            <div class="box m-b-responsible">
                <div class="box-header">입금 부도율</div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon icon-more-options"></i>
                            </a>
                            <div class="dropdown-menu white dk dropdown-menu-scale pull-right">
                                <a class="dropdown-item text-sm ls-xs" href>결제금액 기준</a>
                                <a class="dropdown-item text-sm ls-xs" href>결제건수 기준</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body p-a">
                    <div ui-jp="chart" ui-options="{
                        {{tooltip_style}},
                        tooltip : {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}은행 : {c}원 ({d}%)'
                        },
                        legend: {
                            show:true,
                            orient : 'vertical',
                            x : 'left',
                            selectedMode:false,
                            data:['입금','미입금']
                        },
                        calculable : false,
                        series : [
                            {
                                name:'결제금액',
                                type:'pie',
                                radius : '60%',
                                center: ['50%', '50%'],
                                data:[
                        {value:1233, name:'입금',itemStyle:{normal:{color:'#66bb6a'}}},
                        {value:673, name:'미입금',itemStyle:{normal:{color:'#d4e157'}}}
                                ]
                            }
                        ]
                    }" style="height:240px" >
                    </div>
                </div>
            </div>
        </div>

    </div><!-- row -->

</div><!-- padding -->  
