<div>

    <!-- 페이지 헤더 -->
    <div class="row">
        <div class="col-md-12">
            <div class="ls-sm text-md m-b">
                아임포트 새소식 {{item.folder}}
                <a class="m-l p-l text-muted text-sm b-l" href="#/app/home/dashboard" ui-sref="app.home.dashboard">
                    <i class="icon icon-back"></i>
                    처음화면으로 돌아가기
                </a>
                <div class="pull-right">
                    <span class="text-sm pointer" ng-click="removeItem(item)"><i class="fa fa-trash-o m-r-xs"></i>삭제하기</span>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div ng-show="item.bgimage" style="height:400px; background-image:url('{{item.bgimage}}'); background-size:cover; background-position:50% 50%;"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 p-a-responsible-2x">
                <div class="b-b m-t p-b-md"><h2 class="l-h ls-md" ng-bind="item.subject"></h2></div>
                <div class="p-y text-muted m-b" ng-bind="item.date"></div>
                <div class="p-y ls-xs" ng-bind-html="item.content" style="font-size:1rem; line-height:180%;"></div>
            </div>
        </div>
    </div>

</div>
