
<!-- <a ui-sref="app.inbox.compose" class="md-btn md-fab md-fab-bottom-right pos-fix red"><i class="material-icons i-24 text-white">&#xe150;</i></a> -->
<div>

  <!-- 섹션제목 -->
  <div class="row">
    <div class="col-md-12">
      <div class="ls-sm text-md m-b">
        <div class="nav-link dp-none" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="dp-block" ng-bind="fold.name"></div>
      </div>
    </div>
  </div>

    <!-- 공지사항 목록 -->
    <div class="row" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        <div class="col-md-6 col-lg-6 col-xl-3" ng-repeat="inbox in inboxes | filter:fold">
          <a ui-sref="app.inbox.item({id:inbox.id})">
            <div class="box ratio white pointer" style="background-image:url('{{inbox.bgimage}}');">
              <div class="inner" ng-class="{bg:inbox.bgimage!=''}">
                <div class="box-header text-nm ls-sm" ng-bind="inbox.subject"></div>
                  <div class="box-body">
                    <div class="notice-memo text-xs m-b-sm text-muted ellipsis2" ng-bind="inbox.content | limitTo:100"></div>
                    <div class="notice-memo text-xs hidden-lg-up text-muted">자세히 보기</div>
                  </div>
                </div>
            </div>
          </a>
        </div>
    </div>

</div>